[2016-08-25 20:29] natemcmaster opened #1 "App pool recycle uses incorrect directory under stress"
Under high load, app pool recycling causes IIS to use the wrong directory when recycling applications within a website.
### Repro
1. Create **three** small ASP.NET Core 1.0 applications under one website.

[code]

[code]

[code]
2. Create high load. I got this to repro with 10 threads constantly pulling at the three apps within the website.
3. Wait for an app pool recycle to trigger (such as using

[2016-09-19 22:04] #1 closed, assigned to nobody

[2016-09-19 22:24] shirhatti opened #4 "OS upgrade breaks ANCM"
Requires repair to fix

[2016-09-22 01:56] shirhatti opened #8 "Incorrect license information in generated file"
https://github.com/aspnet/AspNetCoreModule/blob/c6b3bb1243ffcc3a923e1f860cba8217388e542b/src/AspNetCore/AspNetCore.vcxproj#L193-L195

Needs to be updated to MIT License as defined in the root of this repo

[2016-09-28 20:04] shirhatti opened #10 "Flow contents of app_offline.htm even when customErrors module is configured"
Currently, `appOffline.htm` returns a 503 status code. By default, IIS customErrors module suppresses the contents of this response and serves a generic service in unavailable page.
The plan is create a child request to bypass the customError module similar to what we do in the case of the 502.5 page

cc @Tratcher @muratg

[2016-10-03 17:48] moozzyk opened #16 "ANCM/IIS ServerSentEvents won't work correctly (due to caching?)"
When using ServerSentEvents the messages pushed to the client are not delivered immediately. Rather they are cached somewhere and are delivered when subsequent messages are being sent.
When I tried this my client (JavaScript) was always one message behind - i.e. when I pushed a message from the server the client would receive not the message I pushed but the previous one. This does not happen when

[2016-10-07 21:00] Tratcher opened #19 "[PERF] Stream compressed responses"
If the back-end process returns compressed responses (gzip) then ANCM/WinHttp will decompress the data and then the IIS compression module will re-compress it. This waists a lot of CPU.

Fix: disable automatic decompression on WinHttp (WinHttpHandler does it, so it should be possible) and stream the raw bytes back to the client.

[2016-10-11 18:44] #10 closed, assigned to pan-wang

[2016-10-24 19:27] pranavkm opened #20 "[CI] Publish packages to a feed as part of building this ANCM on the CI"
@Eilon we'll need a feed for this (with infinite retention policy)

[2016-10-26 21:30] #8 closed, assigned to pan-wang

[2016-10-27 18:15] Tratcher opened #23 "AspNetCoreModule doesn't work with WebListener/Http.Sys"
_From @Tratcher on October 5, 2015 16:39_

Right now all the tests run with Kestrel. When I briefly tried WebListener some of the test cases failed. The logs showed WebListener starting fine, but it never served any requests and HttpPlatformHandler kept re-starting the back-end process until it gave up.

I've seen it work when published to full IIS, so it might be a test setup issue.

_Copied from

[2016-10-27 18:15] Tratcher commented on #23
_From @Schlurcher on October 24, 2015 23:7_

Can confirm this is happening with 1.2 on full IIS 8 on Server 2012. Backend keeps restarting until IIS gives up and serves a 502 Bad Gateway.

[2016-10-27 18:15] Tratcher commented on #23
_From @muratg on January 21, 2016 22:24_

Moving this to Backlog as we will be in RC2 ask mode very soon.  If you feel strongly about this issue, please ping me.

[2016-10-27 18:15] Tratcher commented on #23
Ok, now we understand why it doesn't work, and it won't any time soon.

HttpPlatformHandler starts the back-end process (dnx.exe). Then it opens a socket and tries to connect to the specified port. When that succeeds it cross checks the process that opened the port with it's list of child processes. If it finds a mismatch then it assumes it has a port conflict and it ends all of it's child process

[2016-10-27 18:47] Tratcher opened #24 "Forward TLS token binding"
_From @Tratcher on November 10, 2015 19:14_

http://tools.ietf.org/html/draft-popov-token-binding-00
http://tools.ietf.org/html/draftbalfanz-https-token-binding-00
http://www.ietf.org/proceedings/91/slides/slides-91-uta-2.pdf
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Features/ITlsTokenBindingFeature.cs
Win10+

_Copied from original issue: aspnet/IISIntegrati

[2016-10-27 18:48] Tratcher opened #25 "w3wp.exe crashes when AppPool is stopped"
_From @ivanmartinvalle on November 13, 2015 16:9_

OS: Windows 7
IIS: 7.5.7600.16385
Visual Studio 2015
Project: default Web API template (using beta8 dependencies)
Runtime: dnx-clr-win-x64.1.0.0-beta8

We are able to start and run an ASP.NET application within an IIS site just fine. However, if we manually stop the corresponding AppPool via the IIS Manager UI, w3wp crashes with the following mess

[2016-10-27 18:48] Tratcher commented on #25
_From @GuardRex on November 13, 2015 16:37_

I can't reproduce this either with a beta7-Helios app or a beta8-HttpPlatformHandler app on WS 2012 (IIS 8) [apps are dnxcore50 x64]. Logs show nothing when stopping and restarting AppPools on my test apps.

I do see https://github.com/aspnet/IISIntegration/issues/32 in the logs; however, I'm not getting that one everytime the AppPool is (manually) star

[2016-10-27 18:48] Tratcher commented on #25
@rramachand21?

[2016-10-27 18:48] Tratcher commented on #25
_From @ivanmartinvalle on November 17, 2015 15:59_

I'm like 90% sure the cause of this error is the fact that we are running on IIS 7.5. We just tried everything on a Windows 10 box (which has IIS 10) and everything worked beautifully. The [HttpPlatformHandler download page](http://www.iis.net/downloads/microsoft/httpplatformhandler) shows that there is IIS 7.5 support, but [this comment](https:/

[2016-10-27 18:48] Tratcher commented on #25
_From @muratg on November 23, 2015 20:28_

@rramachand21 is this fixed?

[2016-10-27 18:48] Tratcher commented on #25
_From @leak on November 25, 2015 9:7_

Got the same issue here.

aspnet 1.0.0-rc1-final clr     x86          win
Windows Server 2008 R2 Standard (fully patched)
IIS 7.5.7600.16385

Crash occures when stopping the apppool.

Callstack:

Parallel Stacks:

![parallel_stacks](https://cloud.githubusercontent.com/assets/530056/11392779/248076a4-935c-11e5-8d45-e94b9aeec943.png)

[2016-10-27 18:48] Tratcher commented on #25
_From @muratg on November 25, 2015 11:21_

Thanks for the info, @leak

[2016-10-27 18:48] Tratcher commented on #25
_From @devtai on December 15, 2015 23:9_

Any update on this ?
I have latest version (1.2.1959) of HttpPlatformHandler 1.2 installed.  Restarting appPool (64bit) or website in IIS 7.5 Windows 7 crashes w3wp.exe.

[2016-10-27 18:48] Tratcher commented on #25
We'll resume work on platform handler at the start of January.

[2016-10-27 18:48] Tratcher commented on #25
This may have been fixed in a patch to platformhandler v1.2.

[2016-10-27 18:48] Tratcher commented on #25
_From @leak on January 12, 2016 9:40_

Is this patch available to be tested? The version mentioned by @devtai still crashes for me.

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 19, 2016 11:21_

We're also seeing this on IIS7.5 - is the updated HttpPlatformHandler available to test anywhere?

[2016-10-27 18:48] Tratcher commented on #25
_From @davidfowl on January 19, 2016 11:28_

@mrsheepuk What version do you have installed?

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 19, 2016 12:1_

It's v1.2.1958.

[2016-10-27 18:48] Tratcher commented on #25
_From @muratg on January 19, 2016 17:8_

@rramachand21 what's the version that has the fix? Where's the download?

[2016-10-27 18:48] Tratcher commented on #25
_From @rramachand21 on January 19, 2016 18:21_

The fix is in v1.2.1959 -- http://go.microsoft.com/fwlink/?LinkId=690721

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 20, 2016 12:11_

I've upgraded on one of our test servers and I'm still seeing the same errors:

[code]

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 20, 2016 12:17_

I don't know if it's any help, but here's the crash details from Windows Error Reporting:

[code]

[2016-10-27 18:48] Tratcher commented on #25
_From @muratg on January 21, 2016 22:26_

@rramachand21 Can you have a look?

[2016-10-27 18:48] Tratcher commented on #25
_From @leak on January 22, 2016 9:15_

Just to be clear: 1.2.195**9** does **not** contain the fix.

I installed this very version at 26.10.2015 and the MSI packet linked by @rramachand21 above says "Content created 21.10.2015".

So if there is really a fix to this issue somewhere it has not been released yet.

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 22, 2016 10:14_

I can confirm what @leak has said there - I downloaded the installer from the link provided by @rramachand21 on 19/01/2016 and installed it, it upgraded my installed version from .1958 to .1959, but the issue appears unchanged and identical to before - so either the fix doesn't work, or it isn't in 1959.

[2016-10-27 18:48] Tratcher commented on #25
_From @rramachand21 on January 22, 2016 20:30_

I will check

[2016-10-27 18:48] Tratcher commented on #25
_From @rramachand21 on January 24, 2016 22:22_

@mrsheepuk I setup a windowsn 7 VM and tried to repro this and I cannot repro.. Could you please give me exact repro steps ? Thanks.

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 24, 2016 22:25_

I'll do that first thing tomorrow (UK time) @rramachand21 - I believe we're
using Windows Server 2008 R2 but I'll confirm that tomorrow. In any case,
it's definitely IIS 7.5.

On Sun, 24 Jan 2016 at 22:23 Ranjith Ramachandra notifications@github.com
wrote:

[2016-10-27 18:48] Tratcher commented on #25
_From @muratg on January 25, 2016 0:18_

@rramachand21 Did you try 32 bit and 64 bit versions?

[2016-10-27 18:48] Tratcher commented on #25
_From @rramachand21 on January 25, 2016 2:38_

@muratg  yeah, i tried 32bit and 64bit versions.

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 25, 2016 11:14_

OK here's our setup in full @rramachand21 - if you need any further info do shout:
- Windows Server 2008 R2 Standard, with Service Pack 1.
- We have 2 DNX / Kestrel hosted websites installed as an applications on sub-directories of the Default Web Site - in our case, the addresses are: http://localhost/ms/ and http://localhost/data/
- As this is the onl

[2016-10-27 18:48] Tratcher commented on #25
_From @rramachand21 on January 25, 2016 20:50_

Thanks, would you be able to share the applications as is with their respective web.config ?

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 25, 2016 21:7_

Unfortunately not, they're proprietary, but I'll see if I can cut them down
to just startup.cs and web.config and see if it still does the same. Will
report back shortly!

On Mon, 25 Jan 2016 20:51 Ranjith Ramachandra notifications@github.com
wrote:

[2016-10-27 18:48] Tratcher commented on #25
_From @rramachand21 on January 25, 2016 21:48_

that will be great.. thank you.

[2016-10-27 18:48] Tratcher commented on #25
_From @jmzagorski on January 25, 2016 22:34_

should I be concerned about this? my app is going into production next week and I reproduced the crash outlined by @mrsheepuk steps. Thanks.

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 25, 2016 22:46_

In our case, it's causing event log entries which are getting propagated
out to our alerting systems, but it's not causing any actual problems per
sé. The app pool recycle still happens, and the app starts again when the
next request comes in, so it's a problem of noise.

The only concern I'd have is if there's some sort of unclean shutdown
happening an

[2016-10-27 18:48] Tratcher commented on #25
Note you'll never be able to guarantee clean shutdown as process crashes are always possible. But yes, reducing the noise would be good.

[2016-10-27 18:48] Tratcher commented on #25
_From @mrsheepuk on January 26, 2016 17:16_

[W3WPTestPublished.zip](https://github.com/aspnet/IISIntegration/files/105334/W3WPTestPublished.zip)

OK @rramachand21 I've just reproduced the issue using the setup described above with the attached published site. The code I used to create the published site is available [in this repo](https://github.com/mrsheepuk/W3WPCrashTest) and published using th

[2016-10-27 18:50] Tratcher commented on #25
Hmm, the issue move failed partway through.  The thread picks up here: https://github.com/aspnet/IISIntegration/issues/35#issuecomment-175125239

[2016-10-27 18:51] Tratcher opened #26 "AspNetCoreModule needs to abort failed responses"
_From @Tratcher on November 19, 2015 20:2_

https://github.com/aspnet/KestrelHttpServer/issues/341#issuecomment-155245802

If the back-end server fails while writing out the response body (after the first 8kb) and closes/resets the connection, platform handler does not correctly fail the response to the client.

For a chunked request that fails sometime before the final chunked terminator the hand

[2016-10-27 18:51] Tratcher commented on #26
_From @muratg on February 8, 2016 18:26_

@Tratcher is this still pending?

[2016-10-27 18:51] Tratcher commented on #26
I tested with private builds and the behavior has improved, but it is still intermittently incorrect, especially if only a small amount of data has been sent before the back-end connection closes.

[2016-10-27 18:51] Tratcher commented on #26
@rynowak, @glennc said you keep running into this as a response truncation issue?

[2016-10-27 18:51] Tratcher commented on #26
_From @glennc on August 5, 2016 20:16_

@rynowak When using IIS the problem of JSON.NET throwing on circular models is exacerbated by the ANCM not severing the connection appropriately.

I can use HTTPClient to grab data from a web api in my controller and send that to a view, and not know that anything is broken if I don't have much data. In my case it was happily showing a single result on my pa

[2016-10-27 18:51] Tratcher commented on #26
_From @muratg on August 17, 2016 16:42_

@shirhatti Is the change not in ANCM? Why assign it back to @Tratcher

[2016-10-27 18:51] Tratcher commented on #26
_From @shirhatti on August 17, 2016 17:41_

Repro app https://github.com/shirhatti/ConnectionCloseRepro

[2016-10-27 18:51] Tratcher commented on #26
_From @shirhatti on August 17, 2016 17:42_

@muratg I'll assign it to @jhkimnew to further investigate

[2016-10-27 18:52] Tratcher opened #27 "[Investigate] Use entire loopback address space for proxying"
_From @benaadams on March 3, 2016 14:19_

Rather than using a single loopback address (e.g. 127.0.0.1) can the entire loopback address space be used? (e.g. 127.0.0.1 -> 127.255.255.255) which may bump the available ephemeral ports from 16k to 16M \* 16k = 256Bn ports and prevent port exhaustion.

Note: I don't know if this will be a simple change to get working; or if it would work?

Also don't kn

[2016-10-27 18:52] Tratcher commented on #27
_From @SajayAntony on March 3, 2016 17:10_

This makes sense. These are internal connections and I'm not sure the limits of this integration yet.
/cc @davidso Platform handler should support large number of connections, over the ephemeral port limits.

[2016-10-27 18:52] Tratcher commented on #27
Note it's not really up to HttpPlatformHandler, it's a question for WinHttp.

[2016-10-27 18:52] Tratcher commented on #27
_From @SajayAntony on March 3, 2016 17:45_

@Tratcher good point. I think we just need to know if we set ourselves up to a hard limit based on MaxUserPorts or not when behind a proxy like IIS.

[2016-10-27 18:52] Tratcher commented on #27
_From @SajayAntony on March 4, 2016 8:4_

@benaadams @taoliseki I don't know if this possible. Even after binding the local socket to different IP's and with different outbound IPs. looks like the loopback address resources fall into the same bucket.
Connect fails at around the 65k limit.

[code]

This is the pattern

[code]

[2016-10-27 18:52] Tratcher commented on #27
_From @benaadams on March 4, 2016 9:48_

@SajayAntony interesting... and a bit weird. Might be something to take up with the Windows networking team? In theory it should work; but I've never seen it suggested as a solution yet (was mostly hoping)

[2016-10-27 18:52] Tratcher commented on #27
_From @benaadams on March 4, 2016 9:53_

Ipv4 loopback is essentially an is a high bit set test; Ipv6 decided this was a mistake as it reserved so much space (16M ip addresses) and only has a single address for loopback. However in this situation if it worked with the full address space it could be an advantage

As ports reservation is the quad pair SRC_IP:PORT<->DST_IP:PORT

[2016-10-27 18:52] Tratcher commented on #27
_From @muratg on March 14, 2016 19:0_

AspNetCoreModule folks will be doing some investigation on this (and other possible perf improvements)

[2016-10-27 18:52] Tratcher commented on #27
_From @benaadams on March 14, 2016 19:23_

Listening on multiple ports is another option; isn't as good of one though; as its eating up the ports, so would be bad in a dense cluster of services/sites

[2016-10-27 18:53] Tratcher opened #28 "[AspNetCoreModule] Use HttpResponse.PushPromise"
_From @benaadams on May 1, 2016 11:37_

To more fully utilize http/2 where available, if response includes `Link` header with a local path and `rel` of  `preload` add `PushPromise` for that path.

This will enable the reverse-proxy (IIS) to "value add" more http/2 features to Kestrel when used in that configuration. (e.g. Win10, Server 2016, nano server)

e.g.

[code]

Add

[code]

Or

[code]

Add

[2016-10-27 18:53] Tratcher commented on #28
_From @dopare on May 1, 2016 14:43_

Really must have feature.

Thanks @benaadams

[2016-10-27 18:53] Tratcher commented on #28
RE: https://github.com/aspnet/HttpAbstractions/issues/371

[2016-10-27 18:54] Tratcher opened #29 "[AspNetCoreModule] consider an 'auto-start' option"
_From @tuespetre on May 2, 2016 21:1_

With a 'traditional' ASP.NET application, IIS could be configured to have the app pool "Always Running", which would trigger `Application_Start` or a `Startup` class, giving developers a chance to schedule recurring background tasks and trust that they ran as long as IIS and the app pool were running. This was great for simple, small-scale deployment scenario

[2016-10-27 18:54] Tratcher commented on #29
_From @mikes-gh on May 12, 2016 8:2_

Shouldn't the application lifetime be controlled at the IIS app pool level as it is now?

[2016-10-27 18:54] Tratcher commented on #29
_From @GuardRex on May 12, 2016 15:54_

@mikes-gh It is, @tuespetre is calling attention to the startup nature of the app. Take a Windows Service, for example. When you start that service and set it to automatically start, you know that your service is going to fire right up and always run when the server restarts. We don't have that for IIS apps, and I think this is a great idea.

[2016-10-27 18:54] Tratcher commented on #29
_From @mikes-gh on May 12, 2016 16:38_

@Guardrex Being devils advocate :smile: I'm not sure web.config could control the app pool process lifetime variables such as "Always Running" ?  The app pool might have more than one app in which case you might have 2 settings fighting each other.  Unless we change the model to one app pol per app.
If @tuespetre is saying lets replace Application Initializa

[2016-10-27 18:54] Tratcher commented on #29
_From @GuardRex on May 12, 2016 16:58_

@mikes-gh AFAIK that's a non-starter b/c they issued earlier guidance: one app for one AppPool ... but that may have changed. I don't recall a more recent discussion on it.

I wasn't really too concerned about `web.config` setting it up; although, I believe you can set Idle Time-out with the `<processModel>` and the Always Running with `applicationInitializa

[2016-10-27 18:54] Tratcher commented on #29
We plan to use this feature to replace the DEBUG request (#102) VS currently sends to start the process. When that happens remove the DEBUG filter from IISMiddleware.

[2016-10-27 18:55] Tratcher opened #30 "Logs are not created if the log folder does not exist"
_From @Tratcher on May 27, 2016 21:48_

The templates set `stdoutLogFile=".\logs\stdout"` by default, but do not include a logs directory in the project. ANCM will not create log files unless the logs directory already exists. ANCM should create the directory.

_Copied from original issue: aspnet/IISIntegration#196_

[2016-10-27 18:55] Tratcher commented on #30
_From @GuardRex on May 29, 2016 18:3_

Great idea in the specified case, but it's also related to a side-issue with `dotnet cli` in that if we create a `Logs` folder in the app and include it for publishing in `publishOptions > include`, it will not appear in published output without a dummy file in it. https://github.com/dotnet/cli/issues/1396 cc/ @piotrpMSFT @blackdwarf

The possible problem her

[2016-10-27 18:55] Tratcher commented on #30
~~Also fix the path logic so the `.\` isn't required, and so that even any empty path works.
https://github.com/aspnet/IISIntegration/issues/119#issuecomment-226005524~~
Moved this suggestion to #43

[2016-10-27 18:55] Tratcher opened #31 "IIS custom error pages do not work with ANCM"
_From @Tratcher on June 8, 2016 21:47_

The IIS custom error page feature allows IIS to provide/replace the response body for specific status codes. By default it will do this for 401,403,404,405,406,412,500,501,502.  However, this does not work with ANCM/Kestrel, all configured error pages are bypassed and the original body from the application is returned to the client.

Questions:
- Do we want

[2016-10-27 18:55] Tratcher commented on #31
Note we see the same behavior in Azure.

[2016-10-27 18:55] Tratcher commented on #31
@blowdart

[2016-10-27 18:55] Tratcher commented on #31
_From @GuardRex on June 11, 2016 16:37_

I vote for making this an opt-in feature. I enjoy keeping as much server-ish work within Kestrel as possible ... even secretly hoping that Kestrel could get the needed features to make it a full-fledged, standalone server for WS one day.

If you made this an opt-out feature, it feels like that would be leaning in the opposite direction. I hope every decisio

[2016-10-27 18:55] Tratcher commented on #31
_From @shirhatti on August 22, 2016 22:16_

@muratg This was by design. We don't see enough people asking for this to be done.
I'm leaving this issue open to gather feedback, but right we don't plan on changing behavior

[2016-10-27 18:57] Tratcher opened #32 "Permissions error difficult to discover from ANCM response/logging"
_From @GuardRex on July 7, 2016 21:17_

Originally reported by @wc-matteo on Slack ...
## Steps to reproduce
1. Create a user.
2. Explicitly deny the user permissions for `dotnet.exe` at `c:\Program Files\dotnet`.
3. Create a portable app and setup in IIS with the AppPool identity set to the user created.
## Expected  behavior

**Browser:** 500.19 - Internal Server Error (or perhaps a general 500)

[2016-10-27 18:57] Tratcher commented on #32
_From @muratg on July 25, 2016 21:49_

@pan-wang Could you take a look? We can sure create better error logs.

cc @shirhatti

[2016-10-27 18:57] Tratcher commented on #32
_From @pan-wang on September 16, 2016 22:51_

ANCM calls CreateProcess() to launch Krestrel. It logs the error code from GetLastError() in case of CreateProcess failed. In this case, GetLastError()  returns 0x80070002 and no way for ANCM to figure out the real root cause. I will update the 502.5 error page to include this failure scenario and hope it will help.

[2016-10-27 18:57] Tratcher commented on #32
_From @GuardRex on September 16, 2016 22:55_

Thanks @pan-wang.

I'll leave this one in the Publish to IIS doc troubleshooting where it is.

[2016-10-27 19:00] Tratcher opened #33 "IIS 7.5 + App_Offline.htm rapid rename - app not always reloading"
_From @andersnm on October 11, 2016 11:1_

I have twice seen our app won't come back properly after quickly moving App_Offline.htm in and out of the app root, f.ex when updating a single dll or aborting a deployment. The workaround is simple, but still an annoyance.

This is an ASP.NET Core 1.0 RTM app targeting net451 hosted on Windows 2008 R2/IIS 7.5/ANCM. ANCM was installed with "DotNetCore.1.0

[2016-10-27 19:00] Tratcher commented on #33
@pan-wang this may be related to the issue with loading the config for the wrong site.

[2016-11-02 20:52] muratg commented on #20
@pranavkm are you able to do this now?

[2016-11-02 21:16] Eilon commented on #20
BTW this is probably not super high priority right now, given all the release stuff we have going on.

[2016-11-02 21:20] pranavkm commented on #20
Done. Packages are on https://dotnet.myget.org/gallery/aspnetcoremodule.

[2016-11-02 21:20] #20 closed

[2016-11-02 22:25] muratg commented on #20
@Tratcher FYI

[2016-11-05 07:29] guardrex opened #35 "ANCM Build Pains"
@shirhatti Hey ... Had a problem with the build steps for ANCM as shown in the repo instructions (this is also the result if just performing a `build.cmd /target:clean`) ...
[code]
Besides that exception, can't this build process by bypassed to just build the module for local use? Shouldn't I be able to just build the solution? It does build in VS, and I can get an `aspnetcore.dll` out of it.

How

[2016-11-07 18:09] shirhatti commented on #35
Can you try just `.\build.cmd` with no arguments?

[2016-11-07 18:25] guardrex commented on #35
@shirhatti Yes, that worked, and the resultant module works in IIS. Thank you! (again) :smile:

I guess what happened was that when I executed the script with clean and it resulted in an exception, I stopped right there to ask you about it. I definitely should have moved down and tried to run without the argument.

It failed for clean ...

[code]

so I guess that was normal? ... or expected?

Rega

[2016-11-07 18:38] Tratcher commented on #35
We set DOTNET_INSTALL_DIR on CI machines where we've deployed the latest build of dotnet to a specific dir.

[2016-11-07 18:39] guardrex commented on #35
@Tratcher I see. Thanks. I think I'm good now. I'll close, b/c I think the clean exception was/is either known or a local (ID-10T) error.

[2016-11-07 18:39] #35 closed, assigned to nobody

[2016-11-07 18:40] shirhatti commented on #35
Ahh. It's my bad the build instructions are a little stale. They reference an earlier version of of the `build.cmd` that directly invoked MSBuild. We since then updated to use [`KoreBuild`](https://github.com/aspnet/KoreBuild) like most of our other repos.
I'll update the build instructions shortly. Thanks for catching that.

[2016-11-07 18:42] shirhatti opened #36 "Fix build instructions in README.md"
Related: #35

[2016-11-07 23:12] Tratcher opened #37 "Use a standard RID structure in the nightly nupkg"
Right now the package has a completely non-standard layout, meaning it can be added to a project, but none of the binaries will be copied to the bin dir. If we want to test against the binaries we need a script to search the nuget package folder for the right dll path. Note it doesn't matter where the dll is on disk, so long as we have an absolute path to it that we can dynamically plug into the a

[2016-11-07 23:56] cesarblum opened #38 "Treat client FIN as request aborted"
For context, see https://github.com/aspnet/KestrelHttpServer/issues/1139

Once the change is made for the issue above, ANCM needs to be updated so Kestrel will have the same behavior when running behind IIS. Right now client FINs are not forwarded to Kestrel by ANCM.

cc @Tratcher

[2016-11-08 00:12] Tratcher commented on #38
WebListener and ASP.NET 4 use HttpWaitForDisconnectEx for this: https://msdn.microsoft.com/en-us/library/windows/desktop/mt786505(v=vs.85).aspx

[2016-11-08 01:30] shirhatti commented on #37
FYI, for your reference https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

[2016-11-08 01:35] moozzyk commented on #37
You can take a look at the libuv package - it has the right structure for shipping native libs in NuGet packages in the .NET Core world.

[2016-11-08 13:46] strohhut opened #39 "How to get latest aspnetcore.dll and aspnetcore_schema.xml?"
Uninstalling a previous version did not remove those files so I removed them manually. Then I installed DotNetCore.1.1.0.Preview1-WindowsHosting.exe but those files didn't come back. Shouldn't the ANCM installer put those under inetsrv and schema?

[2016-11-08 22:45] Tratcher opened #40 "Win7 / 2008R2 support"
The public sources do not support building for Win7  / 2008R2, only the official releases support it. This prevents us from testing changes on Win7 before release.

[2016-11-08 23:48] jhkimnew commented on #37
I have fixed this issue with updating nuget\AspNetCore.nuspec.

https://github.com/aspnet/AspNetCoreModule/commit/40ccbb3940b51ed380cddd6cc5867257818fd712
https://github.com/aspnet/AspNetCoreModule/commit/e119603cddbb57e1d09db054ef93ac71b4256ba8

[2016-11-10 20:00] shirhatti commented on #39
The schema is part of the repo if you want to hack it together  now https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/aspnetcore_schema.xml

As for your specific issue, I believe repairing the installer should put all the files back
/cc @jhkimnew

[2016-11-10 20:01] shirhatti commented on #26
Fixed in 4569d6d6d53aafd355da6acc91056f84e9f284a7

[2016-11-10 20:01] #26 closed, assigned to pan-wang

[2016-11-10 20:28] jhkimnew commented on #39
If the file (aspnetcore.dll) is still there after uninstalling, I think there is other package which depends on the ANCM installer, which is hidden on purpose. In that case, uninstalling is postponed until the other package is uninstalled. So, if you did not uninstall the package, the ANCM is considered as still being installed and the DotNetCore.1.1.0.Preview1-WindowsHosting.exe can't install ANC

[2016-11-11 00:03] Tratcher opened #41 "Move the ANCM nupkg from its own feed to all of the other feeds"
@davidfowl has asked for us to remove the https://dotnet.myget.org/F/aspnetcoremodule/api/v3/index.json feed and push ANCM directly to all of the other feeds instead.

@Eilon @pranavkm ?

[2016-11-11 00:31] pranavkm commented on #41
What does that mean?

[2016-11-11 00:34] Tratcher commented on #41
When ANCM builds he wants to publish it to every feed. ci-dev, ci-release, etc..

[2016-11-11 00:36] pranavkm commented on #41
We have 5 regular feeds + one per LTS release. Seems like a lot of hassle to keep track of these here. Is the issue here that we have to list an additional feed in your repo?

[2016-11-11 01:00] pranavkm commented on #41
Might be easier to just mirror this like other partner packages. I'm assuming the intent here is to always grab the latest and archive the ones we use as part of a shipping release to aspnetcore-master (similar to how we do .Sources packages)

[2016-11-11 01:01] davidfowl commented on #41
YES, treat it like a partner package

[2016-11-11 01:14] Tratcher commented on #41
Note partner packages do have their own feeds, we just don't reference them directly in our repos.

[2016-11-11 01:20] davidfowl commented on #41
That's the entire point of this bug 😄. So if you want to, keep the ANCM feed then mirror it.

[2016-11-11 11:45] strohhut commented on #39
Repairing worked, thanks!

Since the installer said (during my initial attempt to get the files back) that the installation was successful I was confused that those files were missing. I didn't expect that repair checks if those files exist but the installation doesn't.

[2016-11-11 11:45] #39 closed, assigned to nobody

[2016-11-11 17:33] Tratcher commented on #37
In hindsight I think this wasn't quite right. The rid structure is useful for keeping track of multiple binaries, but when we install/publish the package the tooling selects which bitness to use based on the application bitness, not the bitness of IIS/Express. There is no requirement that IIS/Express use the same bitness as the app, and in fact VS probably runs the x86 IIS Express so we want to ma

[2016-11-11 20:12] jhkimnew commented on #37
Would you add some more information so that I can update the nuget package as you want?
What is the current outcome of the published result and what is expected result for the new proposal?

[2016-11-11 20:24] shirhatti commented on #37
I'm proposing create a folder structure rooted under the `win7` rid. This preserves both bitness versions of ANCM irrespective of the bitness of your app.

Does that sound reasonable to you folks?

[2016-11-11 21:52] Tratcher commented on #37
I don't know how to craft the package, but the published output I want is something like:
aspnetcoremodule/x86/aspnetcore.dll
aspnetcoremodule/x64/aspnetcore.dll

[2016-11-12 00:44] jhkimnew commented on #37
@shirhatti
Is it possible to change the default behavior of published output? If so, please let me know how to do that.

@Tratcher
One possible work-around is to unzip the nupkg file and get the required file out of it directly.
If that works for you, we don't need to change this.

[2016-11-14 05:58] moozzyk commented on #37
When you restore your project the files get unzipped. Here is how we exploit it in case of libuv: https://github.com/aspnet/libuv-package/blob/dev/tools/LibuvCopier/Program.cs - you could copy the files and then map paths in project.json to include both versions in the published output.

[2016-11-14 20:23] Tratcher commented on #37
@jhkimnew I can unzip the package in a custom script if I need to, but I'd rather use the built in nuget tooling so that it also works in VS and elsewhere.

[2016-11-17 19:46] shirhatti commented on #33
@jhkimnew Can you try and repro this?

[2016-11-17 19:53] shirhatti commented on #32
Unfortunately there's no way for ANCM to figure out why `CreateProcess()` failed. I think adding it to the troubleshooting section in the doc was the best when we can do.

[2016-11-17 19:53] #32 closed, assigned to pan-wang

[2016-11-17 19:55] shirhatti commented on #31
Given that no customers has since asked for this, I'm going go ahead and close this issue as a won't fix

[2016-11-17 19:55] #31 closed, assigned to pan-wang

[2016-11-17 19:58] shirhatti opened #43 "Fix the log path logic so the .\ isn't required"
From https://github.com/aspnet/AspNetCoreModule/issues/30

[2016-11-17 20:02] shirhatti commented on #4
@jhkimnew Has this fix made it into the Win 10 insider's build yet?

[2016-11-17 20:21] #37 closed, assigned to shirhatti, jhkimnew

[2016-11-18 19:19] jhkimnew commented on #33
One correction.
The app_offline.htm features works case sensitively. The file name should be app_offline.htm, not App_Offline.htm.

@Tratcher, I can't reproduce this issue. I'd like to inform that after renaming app_offline.htm or app_offline-.htm, you will need to wait until you get the expected result.  The app_offline.htm feature works based on the file change notification from OS and the chang

[2016-11-18 19:37] jhkimnew opened #44 "w3wp crash issue on Win8.1 OS machine after applying the private build of aspnetcore.dll"
REPRO STEPS:

1. Prepare Windows 8.1 and install IIS and .NetCore bundle
2. Publish an aspnetcore app to the Default Web Site
3. Clone this repository and build aspnetcore.dll for both x86 and amd64
4. Replace the aspnetcore.dll on %windir%\system32\inetsrv\aspnetcore.dll and %windir%\syswow64\inetsrv\aspnetcore.dll
5. Enable the 32 bit mode of DefaultAppPool
6. Send a request to the Default Web S

[2016-11-19 00:14] jhkimnew opened #45 "Need to replace http://go.microsoft.com/fwlink/?LinkID=808681 with https://go.microsoft.com/fwlink/?LinkID=808681 for the startup error result page"

[2016-11-21 21:11] pranavkm commented on #41
The package is on the dev feed now: https://dotnet.myget.org/feed/aspnetcore-ci-dev/package/nuget/Microsoft.AspNetCore.AspNetCoreModule.

[2016-11-21 21:11] #41 closed, assigned to pranavkm

[2016-11-25 22:44] Drawaes opened #46 "Add environment variables for external information"
Is it possible to add environment variables to allow the hosted application to understand the external address that IIS is exposing for the hosted application. This information is available from the HttpContext.Request but only once you have a request. An example of how you can do this in a "traditional asp.net" application

ServerManager serverMgr = new ServerManager();
Site site = serverMgr.Site

[2016-11-26 00:29] guardrex commented on #36
Also, the instruction for installing without the runtime is ...
[code]
but now past preview and for the current download, it should be ...

~DotNetCore.1.1.0-WindowsHosting.exe OPT_INSTALL_LTS_REDIST=0 OPT_INSTALL_FTS_REDIST=0~

[2016-11-27 19:43] guardrex commented on #46
Adding here for workaround reference with PS, a prototype ...
[code]
Setting the execution policy didn't work, so I had to elevate the AppPool's user identity to `Local System` to make it work.

[PowerShell bits](https://github.com/PowerShell/PowerShell/releases) for Core is still alpha (as of 11/27/2016), and I ended up with dep conflicts in my 1.1/MSBuild test app (`1.0.0-preview3-004056`) when

[2016-11-27 20:59] guardrex commented on #4
@shirhatti Do you want anything on this in the Pub IIS update? I gathered from your root cause analysis ...

**Application Log:** The Module DLL **C:\WINDOWS\system32\inetsrv\aspnetcore.dll** failed to load. The data is the error.

**Troubleshooting:** Non-OS files in the **C:\Windows\SysWOW64\inetsrv** directory are not preserved during an OS upgrade, If you have the ASP.NET Core Module installed

[2016-11-28 16:09] shirhatti commented on #4
@GuardRex What you have there sounds good 👍

[2016-11-28 16:12] guardrex commented on #4
Ok, thanks. I'll add that in a commit today.

[2016-11-29 03:28] guardrex opened #47 "Feature question: Expanded error logging from the ANCM"
I was suggesting in https://github.com/aspnet/AzureIntegration/issues/4 better Azure reporting for process start failures. As it stands, an app doesn't require console logging to report a few reasons for process start failures from ANCM via the `stdout` log (when enabled).

There is an underlying problem with my suggestion, so the issue I opened was just about DOA. Note @pan-wang in [1](https://gi

[2016-11-29 05:32] Tratcher commented on #47
Some follow up diagnostics for common errors would be nice. That said, I wouldn't expect the output to go to the log file, it would go to the event logs with all of ANCM's other data.

[2016-11-29 05:36] #47 closed, assigned to nobody

[2016-11-29 19:44] shirhatti commented on #46
@Drawaes Looks like you are just using Microsoft.Web.Administration get your site bindings. This is still possible in .NET Core. See https://www.nuget.org/packages/Microsoft.Web.Administration/10.0.0-rc1

If you can provide some more detailed information about  what you are doing, we may be able to help you.

[2016-11-29 20:09] guardrex commented on #46
sooooooo much nicer ...
[code]
Just had to run it under `LocalSystem` to get out of permissions trouble.

[2016-11-30 14:24] Drawaes commented on #46
I will give that a crack

[2016-12-05 17:35] shirhatti opened #48 "HTTP Error 502.3 - Bad Gateway when timeout."
_From @Bartmax on December 4, 2016 21:0_

Executing this code:
[code]
returns a 502.3 Bad Gateway error.
![image](https://cloud.githubusercontent.com/assets/3386797/20869163/33c32e6a-ba4b-11e6-9639-c73891ead2e2.png)

The file **DOES GET GENERATED/CREATED**

How can I change the timeout (or whatever settings) that can help me avoid this ?
Can the error be more friendlier ?

_Copied from original is

[2016-12-05 17:35] shirhatti commented on #48
_From @Tratcher on December 4, 2016 22:35_

See requestTimeout in https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module

[2016-12-05 17:35] shirhatti commented on #48
_From @Bartmax on December 5, 2016 1:30_

@Tratcher thanks, it would be great if the error was shown as "timeout" instead of Bad Gateway error talking about something called CGI that has nothing to do with the real issue.

[2016-12-05 17:35] shirhatti commented on #48
_From @davidfowl on December 5, 2016 1:38_

@Bartmax welcome to IIS error pages 😄

[2016-12-05 17:35] shirhatti commented on #48
_From @Tratcher on December 5, 2016 4:44_

@pan-wang @shirhatti some user feedback

[2016-12-06 15:33] sergioadh commented on #29
Is there any updates on this feature? All the applications we have developed need to be ready when they are called, without waming up it first calls are painfully slow. And since the application lifetime is not really managed by IIS (only the application pool lifetime which doesn't impact the app at all) then we have no control of when the application goes down and up again.

[2016-12-06 15:46] benaadams opened #49 "Consider passing request/headers with IPC"
Consider passing the pre-parsed headers and request data to Kestrel etc with [ReadProcessMemory](https://msdn.microsoft.com/en-us/library/windows/desktop/ms680553(v=vs.85).aspx) as a custom headers collection; or CreateFileMapping on the pagefile

[2016-12-06 19:11] shirhatti opened #50 "app_offline.htm is case sensitive"
Reported here https://github.com/aspnet/Home/issues/694#issuecomment-265233972

[2016-12-06 21:52] shirhatti commented on #49
@benaadams Can you elaborate? Not sure I understand what you have in mind.

[2016-12-07 01:08] benaadams commented on #49
The headers are pre-parsed by HTTP.sys. Rather than encoding them back into strings and sending via TCP and reparsing them in the Asp.Net server a reference could be passed to them and read with ReadProcessMemory or a shared MemoryMappedFile, either via an alternate `IHeaderDictionary` concrete type; or pushed directly into `FrameRequestHeaders` via the explicit types e.g. `HeaderTransferEncoding`

[2016-12-07 05:02] davidfowl commented on #49
I'm not sure that's viable. Adding http.sys specific code to Kestrel seems like a non starter.  How would you even get access to the address?

[2016-12-07 13:04] benaadams commented on #49
The HTTP.sys specific stuff would be in AspNetCoreModule as now?

The [HTTP_REQUEST](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364612(v=vs.85).aspx) and [HTTP_REQUEST_HEADERS](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364548(v=vs.85).aspx) from [GetRawHttpRequest](https://msdn.microsoft.com/en-us/library/ms694280(v=vs.90).aspx) could be written to a MemoryMapped f

[2016-12-07 16:31] Tratcher commented on #49
Except Kestrel needs access to request headers to know what to do with the body, you couldn't skip straight to the IISMiddleware.

[2016-12-07 16:40] benaadams commented on #49
I mean couldn't the IISMiddleware (or something similar - in ConfigureServices) provide the handle for the bypass? (So it wasn't included in Kestrel directly)

Not sure if you could do something similar with an ngnix module (as they have to be compiled in) - but a common bypass type system.

[2016-12-08 00:21] Tratcher opened #51 "Question : IIS dotnet.exe memory management"
_From @onesandzeros415 on December 8, 2016 0:9_

I apologize if this is a duplicate question however I've yet to find any concrete information on IIS dotnet.exe memory/cpu management.  According to @DamianEdwards from September 17,  2015 via [issue 364](https://github.com/aspnet/Hosting/issues/364) IIS is still managing the process. The AppPool settings that control recycling, memory limits, etc.

[2016-12-08 19:23] shirhatti commented on #51
AFAIK, the child process spawned by w3wp.exe respects memory/cpu consumptions set on the AppPool.
@jhkimnew Could you verify?

[2016-12-08 19:37] shirhatti commented on #48
Looks like we should be returning a 504 instead of a 502

[2016-12-08 19:38] shirhatti commented on #46
Feel free to re-open if that doesn't work out for you

[2016-12-08 19:38] #46 closed, assigned to nobody

[2016-12-08 19:39] Drawaes commented on #46
That's good enough for me. Thanks

[2016-12-10 03:49] balarvs2002 opened #52 "Aspnet core module is not installed correctly"
After installing CORE Hosting bundle in Windows server 2008 R2 then executed net stop and net start , Asp.net Core module  is not listed in IIS 7 module list, hence I am not able run application .
Any suggestion , Did I miss anything ?

Same steps worked perfectly in WS2012

[2016-12-10 15:08] Tratcher commented on #52
Start by sharing the install logs. See https://github.com/aspnet/IISIntegration/issues/179#issuecomment-229367383

[2016-12-15 00:15] jhkimnew commented on #51
@shirhatti

I have verified that it works.

An IIS worker process (w3wp.exe) and all the dotnet processes which are created as a child process of the w3wp.exe process are grouped in the same job object group and the Private Memory Limit and the CPU time limit is used to set the Job object limit.

So, if you set the Private Memory Limit(KB) correctly, that should work. If it does not work immediate

[2016-12-15 16:41] onesandzeros415 commented on #51
@jhkimnew, @shirhatti

Thanks for looking into this and confirming that the child process dotnet.exe should be following whatever value is specified for Private Memory Limit and Process Affinity Mask.  I've verified after recycling that enabling and setting a value for Process Affinity Mask does work however it appears that any value set for Private Memory Limit is still being ignored.

I've attac

[2016-12-15 21:29] jhkimnew commented on #51
@onesandzeros415
Hi,

I have already verified that the Private Memory Limit (KB) works for the dotnet.exe process on my two test machines, one with Wondows 10 OS amd64 and the other Windows 8 OS. So, there is no fix nor workaround required. You would need to check if there is any mis-configuration.

First, I'd like to inform that you should make sure that the dotnet.exe process shown in the task m

[2016-12-16 12:21] salihigde commented on #48
setting requestTimeout attribute in aspnetCore tag works properly in my localhost when working with IIS Express but it doesn't work when i try it on production (when my application is hosted in IIS). You may see my web.config tag below. It is set to 10 minutes but keeps giving me "Uncaught 504 - Connection Timed Out Response with status: 504 Connection Timed Out for URL" error after 1 minute.

[2016-12-21 14:50] c-s-n commented on #31
In case you are still interested in a use case, why this might be required to work:

When having **Windows Authentication** enabled and the browser configured to not pass-through the credentials, i.e. to show this **native browser authentication popup**, then the user is able to **cancel this popup**. The HTTP status code of the response in that case will be 401.

* If you access the page on the s

[2016-12-22 14:50] asadsahi commented on #50
What is the workaround for this right now, manually stopping website before deploy?

[2016-12-22 14:51] mrahhal commented on #50
@asadsahi you can manually call webdeploy to add the file with the correct case before deployment and then delete the file after that.

[2016-12-22 15:00] asadsahi commented on #50
how to do that, currently I am only adding AppOffline rule in webdeploy command (deploying website using command line)

Like this:

-enableRule:AppOffline

[2016-12-22 15:19] mrahhal commented on #50
In its raw form, you can do this (using powershell):

[code]

Of course, you'll also have to define the other variables ($userName, $password, ...)

Now, how this fits in depends on how you deploy your app, whether you're using your own script or using Visual Studio's publishing methods. I use my own script as VS's for aspnetcore is lacking.

[2016-12-22 15:39] asadsahi commented on #50
@mrahhal Interesting stuff. I am kind off new to powershell. But I am using VS code for asp.net core development. So what I am trying is to deploy using some automated script which I can run from command prompt or powershell as one shot.

So there are three steps involved:

# Builds client assets
1) **npm run build:prod**

# publishes .net core app
2) **dotnet publish -c release**

# deploy

3) `"

[2016-12-22 15:56] mrahhal commented on #50
I do something similar, but you'll have to take control of your whole build step. Let's say you have a script called `deploy.ps1` (ignored by source control). So that you'll only need to run `./deploy.ps1`, without depending on anything else.

Something like this would work:

[code]

This is the simplest thing. With this setup, simply create an `app_offline-template.htm` in your project root folde

[2016-12-22 20:51] asadsahi commented on #50
@mrahhal, One word, perfect script :) Thanks

I am trying to build an equivalent bash script, so that it can work cross platform. Interested in helping there? :)

[2016-12-22 21:07] mrahhal commented on #50
Too bad I know very little about bash 😅
The script I just wrote can actually be improved, I cut stuff out to keep it short. So I'd be willing to help anyway if you put that in a gist maybe (along with the ps1 script) since I'm interested in a bash version of it too.

[2016-12-22 21:18] asadsahi commented on #50
@mrahhal here is the gist of bash script:

https://gist.github.com/asadsahi/461c23e28097ee4b0134f94b20ea29a6

lets work together to get it working.

[2016-12-23 01:24] ozhelenkov commented on #50
Good day guys,
I am sorry, are there any ETA for this issue to be resolved?
Thanks!

[2016-12-26 10:53] ghord commented on #29
Note that background job runners such as Hangfire have no way to properly work on IIS under .Net Core because of missing IProcessHostPreloadClient support.

[2016-12-28 16:06] asadsahi commented on #50
@ozhelenkov above workaround from @mrahhal will always work  :)

@mrahhal see updated gist of bash script. Happy to have feedback. Thanks

[2016-12-28 16:27] mrahhal commented on #50
@asadsahi check my comment there.

[2016-12-28 16:57] asadsahi commented on #50
Thanks @mrahhal, comments make perfect sense. Updated. Have I missed anything else?

[2016-12-28 17:33] mrahhal commented on #50
Great. Commented  there. [And this is my ps1 script here](https://gist.github.com/mrahhal/5d2016c4b4f1ce175b170f08abc190e9).

[2017-01-03 23:03] jhkimnew commented on #33
@andersnm, is this issue still reproducible?

[2017-01-03 23:05] jhkimnew commented on #51
@onesandzeros415, Hi, is there any update? Can I close this?

[2017-01-04 16:17] mbuck commented on #50
This issue is super annoying so I looked into it and it seems that there are two places where this could be fixed:
1) Simply change the file name to "App_Offline.htm" here: https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/application.cxx#L110
2) Change this to a case insensitive compare, which seems like the better fix since this is an IIS module that will only run on Windows

[2017-01-04 18:45] shirhatti commented on #50
@mbuck Thanks for the suggestion. We are going with the second option. While I appreciate the offer for a PR, I think @pan-wang already has it fixed. We should re-release soon

[2017-01-04 21:58] shirhatti opened #53 "Modify the default value of forwardWindowsAuthToken="true" in the schema file"
Given that forwardWindowsAuthToken currently no-ops when there is no identity present, this change should allow us to simplify the templates.

[2017-01-05 00:01] shirhatti commented on #50
Fixed in a4963aa6da4b6b840445ec7bf53803f70b4ea79b

[2017-01-05 00:01] #50 closed, assigned to pan-wang

[2017-01-05 10:27] andersnm commented on #33
Yes, this happens consistently on our production IIS7 server.  I am however unable to reproduce on our staging IIS 8 server (although where app is under far less load).

Incidentally we are doing a redeployment of our app today, and just tested to rename App_Offline.htm quickly in and out again: "502 - Web server received an invalid response while acting as a gateway or proxy server."

In fact, th

[2017-01-05 18:27] jhkimnew commented on #33
@andersnm Would you let me know which version of aspnetcore.dll you are using on the repro machine? The latest version is 7.1.1970.0. If you use quite old build, you would need to upgrade aspnetcore.dll.
The file version can be found from the Detail tab of the properties window of the aspnetcore.dll file with Explorer.
In the meantime, I will try to reproduce the issue with making some load and up

[2017-01-05 19:50] jhkimnew commented on #33
@andersnm I can't reproduce the issue. Here is the detail about what I did.

1. On Win8 machine, install the latest ANCM
2. Deploy a simple aspnetcore app on IIS
3. Start stress testing sending lots of requests to the aspnetcore app
4. Create app_offline.htm on the root directory of the aspnetcore app and verify all the request got 502 status code.
5. Rename app_offline.htm to app_offline-.htm and

[2017-01-05 20:09] PinpointTownes opened #55 "ANCM/IIS forces chunking for responses containing a Content-Length header"
For obscure reasons, ANCM or IIS seems to force chunking even if the `Content-Length` header is returned (with the appropriate value):

[code]

[code]

When using Kestrel without IIS, chunking is not used (as expected):

[code]

@Tratcher is that the intended behavior?

[2017-01-06 19:13] jhkimnew commented on #44
Fixed by https://github.com/aspnet/AspNetCoreModule/commit/a4963aa6da4b6b840445ec7bf53803f70b4ea79b

[2017-01-06 19:13] #44 closed, assigned to nobody

[2017-01-06 22:45] Tratcher commented on #55
I can only reproduce this with IIS dynamic response compression. I see you have the `Vary: Accept-Encoding` header, but I don't see `Content-Encoding: gzip` in your example.

It stops happening if I change the content type to something outside the default compression list or disable the compression outright.
[code]

[2017-01-06 23:43] PinpointTownes commented on #55
Indeed, this oddity disappears when disabling static/dynamic compression.
Is IIS supposed to switch to chunking even if it doesn't compress the response?

Yup, both Chrome and Fiddler confirm that the output is not compressed at all.

[2017-01-07 05:18] onesandzeros415 commented on #51
@jhkimnew I am sorry for the delay, it's been busy with the holidays.

**1.** The w3wp process itself remains consistently low :

PS C:\WINDOWS\system32> get-process -id 4388

Handles  NPM(K)    PM(K)      WS(K) VM(M)   CPU(s)     Id ProcessName
-------  ------    -----      ----- -----   ------     -- -----------
    328      26     4988        416    45     0.16   4388 w3wp

**2.** Upon closer i

[2017-01-09 07:26] taspeotis commented on #50
Hi everyone, thanks for working to fix this issue. When will this fix be released?

[2017-01-09 10:08] andersnm commented on #33
Thanks for looking into @jhkimnew!

The aspnetcore.dll version is 7.1.1967.

I tested a copy of the app binaries on the same server in a different IIS app/pool, and without load, but still get a permanent 502 after removing app_offline.htm. It appears to happen always.

This is an old server, and has shown erratic behaviour lately so I am wary to request any further upgrades on it. It is more like

[2017-01-09 18:37] shirhatti commented on #50
The update is already available for download at https://www.microsoft.com/net/download/core#/runtime
[This is a direct link](https://go.microsoft.com/fwlink/?linkid=837808) to the download.

We have also begun the process of rolling out the update to Azure App Service. We expect everyone to get the fix by January 26th.

[2017-01-09 18:43] matthieugd commented on #50
Thanks for the update, do you know if there's a quick way to know if a instance of App Service has the correct version ?

[2017-01-09 18:49] shirhatti commented on #50
@davidebbo Could you help answer this question?

[2017-01-09 19:09] jhkimnew commented on #51
@onesandzeros415

Thanks for the reply. Unless you did any mistake, that can't happen.

To narrow down your isse, can you check if you can recycle the w3wp.exe first?
I think you can set 5000 for the Private Memory Limit and after that send several requests to make the memory usage of w3wp.exe is over the 5000 KB and check if the w3wp.exe is recycled.

You should monitor the process id of w3wp.exe

[2017-01-09 19:13] davidebbo commented on #50
No fix has been deployed yet.

[2017-01-09 19:17] matthieugd commented on #50
ok but when it's going to be deployed how/where we can see the version of the dll of the IIS .NEt Core module used in our Azure App Service instance?

[2017-01-09 19:22] davidebbo commented on #50
I think you could simply check the version of the relevant assembly from Kudu Console. @shirhatti do you know where that assembly goes?

The current (bad) one is version 1970, and the new one will be 1971.

[2017-01-09 19:23] shirhatti commented on #50
`C:\Windows\System32\inetsrv\aspnetcore.dll`

[2017-01-09 19:26] davidebbo commented on #50
@matthieugd here is a sort-of easy way to check:

- Run the app
- Go to Kudu, and go to Process Explorer
- Write click on the w3wp that does **not** have the `scm` tag and choose properties
- Go to the Modules tab and search for aspnetcore.dll

If you see `7.1.1970.0` you have the old version. The new one is 1971.

[2017-01-09 19:27] matthieugd commented on #50
@davidebbo got it. thank you!

[2017-01-09 19:45] Tratcher commented on #55
That's bizarre, no idea why it's forcing chunking for you even without compression. At least it demonstrates the issue is unrelated to ANCM.

The other test you can do is to use an `unknown/unknown` content-type.

[2017-01-09 20:49] jhkimnew commented on #33
@andersnm
I'd like to inform that there was some bug fixes/refactoring regarding File change notification on 8/22/2016.
However, you are using 7.1.1967 which is published on 6/23/2016 and so you are using quite old version now and probably your issue is already fixed with the latest aspnecore.dll.
So, I think you need to try with the latest Aspnetcore.dll and check if the issue is reproducible or

[2017-01-09 21:42] PinpointTownes commented on #55
That works too:

[code]

I don't have much time to investigate ATM, but I'll try to find an hour or two this week to see if I can reproduce this bug with older IIS/IIS Express versions (on my main Windows 7 dev' machine, I use IIS Express 10, maybe it's a recent change?).

[2017-01-10 01:25] pan-wang commented on #55
could you please share the request headers and a repro?

[2017-01-10 01:45] PinpointTownes commented on #55
Here's the repro:

[code]

[code]

[code]

... and the headers:

[code]

[2017-01-12 00:09] jhkimnew opened #57 "On Windows 7, Event error 1000: Faulting application name: w3wp.exe ... Faulting module name: ntdll.dll ..."
ANCM graceful shutdown feature has a problem on Windows 7 OS if an aspnetcore app is hosted to IIS web server.  After starting the aspnetcore app, stopping or recycling an IIS worker process which is used by the aspnetcore web application can cause a crash to the worker process (w3wp.exe).
When the crash happens, you will see as an event viewer error.

ID: 1000
Source: Application Error
Faulting a

[2017-01-12 13:24] sveinfid commented on #50
Anyone seeing the updated `7.1.1971.0` version for their Azure App Service instance yet?

[2017-01-12 13:43] matthieugd commented on #50
nope still 1970

[2017-01-12 15:57] davidebbo commented on #50
Deployment has not happened yet. It should be later in January.

[2017-01-14 00:42] jhkimnew opened #58 "AppVerifier: Unknown Exception error detected by AppVerifier regarding “An invalid parameter was passed to a service or function.” from CloseHandle( m_CancelEvent )"
@pan-wang

I found an Unknown Exception error detected by AppVerifier regarding “An invalid parameter was passed to a service or function.” from “CloseHandle( m_CancelEvent )”.

It looks the m_CancelEvent is not used at all by ANCM and so we will want to clean up that and this issue might be fixed together.

REPRO STEPS

1. Enable Appverifier for w3wp.exe, which is worker process (a.k.a AppPool) o

[2017-01-17 23:48] shirhatti commented on #53
Fixed in 87f808cc9d6904f01da2f97996203a243ccb460c

We still need to create an announcement for the schema change on https://github.com/aspnet/announcements/

[2017-01-18 02:23] jhkimnew opened #60 "Not expected Uri conversion between ANCM and backend process"
@pan-wang

If http://localhost/AspNetCoreApp%2fgetprocessid is sent to ANCM, it decodes the %2f to "/" and bypasses decoded URI to backend processes.
This behavior is okay in most cases but if backend process expects the %2f instead of "/", the backend process won't work. So, we should make ANCM not to modify original URI.

[2017-01-18 02:42] Tratcher commented on #60
This happens in http.sys, not ANCM.

[2017-01-18 18:02] pan-wang commented on #60
http.sys does expose raw request url. ANCM can use it in forwarding.

________________________________
From: Chris R <notifications@github.com>
Sent: Tuesday, January 17, 2017 9:42:33 PM
To: aspnet/AspNetCoreModule
Cc: pan-wang; Mention
Subject: Re: [aspnet/AspNetCoreModule] Not expected Uri conversion between ANCM and backend process (#60)

This happens in http.sys, not ANCM.

-
You are receiving

[2017-01-18 18:18] Tratcher commented on #60
Only with extreme caution. Kestrel isn't ready to handle completely unfiltered input. @blowdart

HttpListener had a feature where it would review the raw url and undo just the %2f's.

[2017-01-18 18:20] blowdart commented on #60
Yea, this can't be on by default, at all. The backend process is here is *wrong*, but we have at least one customer that didn't understand that and now depends on it. Frankly I would rather core does not support this, and if they want to continue to be wrong they can continue on full framework.

[2017-01-18 18:22] Tratcher commented on #60
Actually @blowdart %2f is not supposed to be un-escaped per spec. http.sys is over cautious in this case. This is one of the more common issues people have with http.sys/IIS.

[2017-01-18 18:23] blowdart commented on #60
Oh. I thought the spec said to canonicalise the URL. My bad :(

[2017-01-18 19:05] shirhatti commented on #4
This issue has been fixed in Windows Insider Build 15002

[2017-01-18 19:05] #4 closed

[2017-01-18 19:08] shirhatti commented on #45
Fixed in 87f808cc9d6904f01da2f97996203a243ccb460c

[2017-01-18 19:08] #45 closed, assigned to pan-wang

[2017-01-18 19:26] pan-wang commented on #60
@Tratcher could you please share the RFC spec details for "%2f is not supposed to be un-escaped"?

[2017-01-18 19:53] Tratcher commented on #60
https://www.ietf.org/rfc/rfc3986.txt section 2.2. `/` is a reserved character and cannot be un-escaped without changing the value of the path. Only unreserved characters should be un-escaped (2.3). You can also look at 3.3 for Path specific allowed/reserved characters.

"URIs that differ in the replacement of a reserved character with its corresponding percent-encoded octet are not equivalent...ch

[2017-01-19 01:19] jhkimnew opened #61 "AppVerifier: Freeing heap block containing an active critical section."
@pan-wang

If ANCM is used with IISExpress, it does not call aspnetcore!ProcessHandleCallback() and therefore
below destructor functions got never called.

aspnetcore!SERVER_PROCESS::~SERVER_PROCESS
aspnetcore!PROCESS_MANAGER::~PROCESS_MANAGER

This issue found from AppVerifier, which shows “Freeing heap block containing an active critical section” from IISExpress.exe process when stopping the IIS

[2017-01-19 09:01] glatzert opened #62 "Unexpected Request.Scheme when using Proxy -> IIS -> ASPNET"
I observed some odd behaviour on an IIS 7.5 using the AspNetCore Module.

When I access the page directly via https, it will correctly issue an OpenIDConnect-Redirect_URI with https as scheme.
When the same page is accessed via a proxy (Arr) the issued Redirect_uri will be http - despite the Proxy using https for communicating with the target Server as well.

The Request- and Response-Headers for

[2017-01-19 13:24] Tratcher commented on #62
This scenario is still getting documented, but here are the initial references: https://github.com/aspnet/Docs/issues/2384

The first issue is that UseForwardedHeaders is expecting x-forwarded-proto from the proxy. Failing that you need to set RequireHeaderSymmetry = false;

[2017-01-19 17:05] guardrex commented on #43
They will try to help a little bit with https://github.com/Microsoft/msbuild/issues/1586, where they might make it so that `<Content Include>` can accept a folder and create the folder even if empty.

The workaround for now is to either do a `<Content Include>` with globbing for the `logs` folder and put a dummy file in the folder, or the dev can just do something along the lines of this ...
[code

[2017-01-20 08:59] glatzert commented on #62
Thanks for the insight.

So essentially the Options to resolve are:

1. Configuring the Proxy to send X-Forwarded-Proto (if possible)
2. services.Configure<ForwardedHeadersOptions>(opt => opt.RequireHeaderSymmetry = false)

[2017-01-20 08:59] #62 closed, assigned to nobody

[2017-01-20 17:09] guardrex commented on #53
@shirhatti When do you want the ANCM reference doc to reflect this change?

[EDIT] ... and "simplify the templates" ... meaning that the `forwardWindowsAuthToken` attribute will be dropped from the `aspNetCore` element?

[2017-01-24 06:15] taspeotis commented on #50
Does the documentation have the right version? This links to `https://aka.ms/dotnetcore_windowshosting_1_1_0` which I just installed and it's `7.1.1970.0`.

https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#install-the-net-core-windows-server-hosting-bundle

At this link, if you choose "LTS" instead of "Current" here you get the newer version.

https://www.microsoft.com/net/download/core

[2017-01-24 08:39] guardrex commented on #4
@shirhatti Ok for me to pull this from the *Troubleshooting* section of the *Publishing to IIS* doc now?

[2017-01-24 08:49] Tratcher commented on #4
Let's keep it until most people have moved to 15002

[2017-01-24 16:30] guardrex commented on #50
@taspeotis I'm awaiting the release of the new aka.ms link for the doc, and that might coincide with the release of 1.1.1.

@shirhatti Do you think we should go with `https://go.microsoft.com/fwlink/?linkid=837808` temporarily?

[2017-01-24 19:03] shirhatti commented on #50
@leecow Is there any reason why https://go.microsoft.com/fwlink/?linkid=837808 doesn't have an aka.ms link?

[2017-01-24 19:10] leecow commented on #50
@shirhatti We just haven't been using the aka.ms infrastructure to this point. There is also some discussion around utilizing the raw url for better transparency into the download location.

[2017-01-25 23:36] jhkimnew commented on #19
@Tratcher @pan-wang

I tried to reproduce this issue but I can't.
In the IIS Freb log, the dynamic compression is being skipped if the response is already encoded, which means that if the back-end compresses the response, the dynamic compression module does not re-compression.

FYI, attached the example of the freb log.
...
DYNAMIC_COMPRESSION_NOT_SUCCESS Reason="ALREADY_CONTENT_ENCODING" 23:27:28

[2017-01-25 23:38] Tratcher commented on #19
This was filed based on a discussion with @pan-wang, I did not reproduce it. If WinHttp does not decompress the response then that's great.

[2017-01-27 20:29] #19 closed

[2017-01-30 13:44] pxdeveloper opened #63 "Process specified by 'processPath' gets killed after some timeout"
I was wondering why the process specified by 'processPath' always got killed when there were no incoming requests for a long period of time. My first thoughts were that the app crashed, but then I monitored it for silent process exits using 'GFlags.exe' and realized that it was the 'w3wp.exe' who killed the process. Annoying is when the next request arrives, it takes up to 4 seconds for the startu

[2017-01-30 16:16] guardrex commented on #63
See: https://github.com/aspnet/KestrelHttpServer/issues/1085, which links to some info on this in https://github.com/aspnet/IISIntegration/issues/161. Your other option is any service that will ping the site regularly to keep it alive.

... but late in the KestrelHttpServer thread, where I mention view precomilation, that's old news. That's a real thing now: https://github.com/aspnet/MvcPrecompila

[2017-01-31 10:05] pxdeveloper commented on #29
#63

[2017-01-31 10:29] pxdeveloper commented on #63
@GuardRex Thank you for your answer.

In our case we have a web service (REST API) without views, so there is no view compilation at all. It's the startup process itself with dependency injection and stuff that needs about 4 seconds. Our service should be ready all the time. We have managed to keep the IIS worker process 'w3wp.exe' alive, but we have no control to keep our service running, as the

[2017-01-31 15:35] guardrex commented on #63
They plan to endow Kestrel with the features it needs to work as a public-facing server (e.g., https://github.com/aspnet/KestrelHttpServer/issues/1074#issuecomment-243685266 and comments made in the standups). I kind'a wish they had an open issue with a missing feature list so we could see how the work is progressing. Many of the needed bits have been added.

When Kestrel gets these missing featur

[2017-01-31 16:41] tmoeller328 opened #64 "ANCM port collision issues"
We have been getting random assortments of these types of messages in the windows event-viewer every morning at the SAME TIME:

FAILURE: Application 'MACHINE/WEBROOT/APPHOST/WMIINVSNAP' with physical root 'C:\inetpub\TGS\WMIInvSnap\' created process with commandline '"C:\inetpub\TGS\WMIInvSnap\SupplyChain.Services.WMIInvSnapshotWeb.exe" ' **but failed to listen on the given port** '26174'

SUCCESS

[2017-01-31 19:14] JunTaoLuo commented on #57
Seems like it's fixed in https://github.com/aspnet/AspNetCoreModule/pull/59.

[2017-02-03 14:26] pxdeveloper commented on #63
@GuardRex Thank you again for the informations.

We will try out the WebListener.

[2017-02-03 18:21] muratg opened #65 "Need a tip on location for httpTracing traces"
_From @GuardRex on January 6, 2017 18:51_

Researching for https://github.com/aspnet/Docs/issues/2367

Activating `httpTracing` with ...
[code]
I wish they would state the location of the traces explicitly in https://www.iis.net/configreference/system.webserver/httptracing, but the doc doesn't say.

I'm expecting them to be elsewhere than the failed request tracing traces ... I know where those ar

[2017-02-03 18:21] muratg commented on #65
_From @Tratcher on January 6, 2017 19:6_

@pan-wang @shirhatti ?

[2017-02-03 18:21] muratg commented on #65
@shirhatti could you follow-up?

[2017-02-03 18:23] guardrex commented on #65
Yes, this is still relevant to the work on https://github.com/aspnet/Docs/pull/2609

[2017-02-03 21:35] Tratcher opened #66 "Question: How to make IIS respect an AbortAction in rewrite"
_From @davidpeden3 on February 3, 2017 21:32_

I have created a catch-all rule to abort any/all requests not matched by earlier rewrite rules:

[code]

In Kestrel, this properly aborts the request. However, IIS sees an aborted request, and without additional configuration, throws a very detailed 502 response (HTML page).

Adding the following snippet to `web.config`:

[code]

Pares the verbose 502

[2017-02-03 22:59] muratg commented on #16
@shirhatti @pan-wang could you guys take a look?  This is possibly blocking Event source and SSE transport in SignalR.

[2017-02-04 17:39] GuardRex commented on #66
@davidpeden3 Just curious: Why not return a 502? ... Were you only put off by the verbose 502? What I did here has nothing to do with how an aborted request is handled by ANCM, of course. As a side issue, I was just thinking that I could drop a 502 if no other rules matched with the rule overload and that would shoot right back thru IIS without a verbose error page or response ...
[code]
[code]
![

[2017-02-06 11:32] elangelo opened #67 "hosting aspnet core 1.1.0 application on Azure"
I have been trying to host  our webapi service in azure. Enabled logging, tried 100 different suggestions, tried deploying from visual studio, git (kudu), uploading files to the rest endpoint....
But whatever I do i always end up with in the application logs.
[code]

As far as i can see my .exe is running just fine. I enabled the logging in the log folder and i see absolutely no errors there.
I su

[2017-02-06 16:42] moozzyk commented on #67
You have not enabled stdout logging. Change stdoutLogEnabled to true and stdoutLogFile to `\\?\%home%\LogFiles\stdout` start the application and check the contents of the stdout file. Also, check my [post](https://blog.3d-logic.com/2016/06/08/running-asp-net-core-applications-with-iis-and-antares/) explaining how things work and how to troubleshoot.

[2017-02-07 18:23] snowyowlapps commented on #29
Anyone have an update on this?

[2017-02-07 18:25] tuespetre commented on #29
Funny you post just now, I cloned a bit ago to have a crack at it 💥

[2017-02-08 18:54] pan-wang commented on #16
ANCM did pass the full response to IIS main pipeline. However, it seems only partial response was flushed to the wire after dynamic compression. Looking at the root cause and see how we can improve it at IIS dynamic compression module.

[2017-02-09 16:55] tuespetre commented on #29
Eh, so it turns out setting `AlwaysRunning` and enabling preload works out well enough for us. I'm not going to do anything else with this.

[2017-02-09 17:15] neumartin commented on #29
@tuespetre can you tell me how to enable preload?
Thanks!

[2017-02-09 18:38] sergioadh commented on #29
@tuespetre Could you elaborate? We happen to see that even with AlwaysRunning and enabling preload the application is not ready when calling it and causes slow first time requests.

[2017-02-10 05:24] pan-wang commented on #29
Autostart requires fundermental change of current ANCM design which loads configuration and then start Kestrel only after the first request hit it. Will investigate the possibility in the future.

Sent from ZTE's mobile email

On 2017-02-09 10:38 , sergioadh<mailto:notifications@github.com> Wrote:

@tuespetre<https://github.com/tuespetre> Could you elaborate? We happen to see that even with Always

[2017-02-10 08:16] wc-matteo commented on #29
What's the time interval after which Kestrel unloads when no requests are received? Is it always the same? Can it be configured?

...or is it that after the first request, as long as the app pool is running, Kestrel runs indefinitely?

[2017-02-10 09:02] mikes-gh commented on #29
Kestrel doesn't unload itself IIS  w3wp.exe process does that.

The best I have come up with is this in my applicationhost.config (dont edit this unless you know what you are doing).

[code]

This avoids the application having to load on first request and stops it unloading but it doesn't warn it up.
For that you can have a warm-up URL that does for example a database query which warms up all the

[2017-02-10 09:18] wc-matteo commented on #29
Thanks for the answer @mikes-gh. Right, I forgot... Kestrel has no process management capabilities, those are in the upper layer (e.g. IIS).

So, to recap: with idletimeout 0 and with no app pool recycling on (i.e. as long as the worker process is alive), the app stays responsive.

Regarding the warm-up, starting with IIS 8 `Application Initialization` is bulit-in (setting: `preloadEnabled`). I re

[2017-02-16 06:40] natemcmaster opened #73 "Upgrade to VS 2017"
Replace project.json with csproj instead. We will be deprecating support for building with project.json soon.

[2017-02-16 20:54] natemcmaster commented on #36
Related #73

[2017-02-16 22:02] guardrex commented on #36
... and the current version for that instruction is actually ...
[code]

[2017-02-22 21:57] FlorianRainer commented on #64
I have noticed the same Problem on an other Usecase.

I have running about 10+ Webs some are different applications, some are the same but a different instance setup. how ever it doesn't matter.

I use the IIS8 Process Activation Feature (PreloadEnabled) for all Webs and the ApplicationPool has StartMode AlwaysRunning.
If i use the IISReset cmd command to restart all webs i have the same result.

[2017-02-22 22:12] Tratcher commented on #64
@pan-wang does ANCM use a linear search for available ports? Would it be better if it used a random search?

[2017-03-01 13:27] mkosieradzki opened #77 "WebSocket connection is closed without proper handshake"
Consider following server code:
[code]
running through: IISIntegration, Kestrel and IISExpress (VS2017 RC)

When a client connects: server uses CloseOutputAsync to start connection close handshake.
Client receives proper close message and is obligated to complete Close handshake using CloseOutputAsync as well:

https://tools.ietf.org/html/rfc6455#section-1.4 states:

But the AspNetCoreModule kills

[2017-03-01 21:36] natemcmaster commented on #73
cc @shirhatti we're going to be updating KoreBuild soon...like in the next few days. Heads up. https://github.com/aspnet/KoreBuild/pull/171

[2017-03-01 22:22] GuardRex commented on #53
@shirhatti Is it ok to update the ANCM ref doc for this now?

[2017-03-01 22:46] JunTaoLuo opened #78 "Connection reset when uploading large files (~4GB)"
Following the investigation in https://github.com/aspnet/HttpAbstractions/issues/766.

While I am able upload a 4GB file when running on Kestrel only, trying to upload such a file while running in IIS fails. When I examined the logs, I see

[code]

Seems like ANCM is resetting the connection but I'm not sure why. Note that to reproduce this issue, I turned off Request Filtering since the request a

[2017-03-01 22:58] natemcmaster commented on #73
Nvm. This was resolved by @jhkimnew in #76

[2017-03-01 22:58] #73 closed, assigned to nobody

[2017-03-02 03:22] JunTaoLuo commented on #78
Spoke with @pan-wang and there is a limit on the request size. From trying a few different sizes of files, the limit seems to be 2GB though I didn't find the exact place this limit is set.

[2017-03-02 03:22] #78 closed, assigned to nobody

[2017-03-02 09:50] toblea opened #79 "502 when using proxy"
Our customers started reporting that they were unable to access our website when using a proxy (Client -> Web proxy -> Load Balancer -> WS2k8R2/IIS7.5/ANCM -> Kestrel).
They were all getting:

After _a lot_ of investigations (setting up proxies/new webservers/new load balancers and so on) I finally was able to reproduce and find the problem.

The error occurred when the client was passing two IP a

[2017-03-02 13:42] Tratcher commented on #79
This message is usually caused by an exception in your application. Turn on logging to find out what happened.

[2017-03-02 18:42] toblea commented on #79
@Tratcher Yes, I tried that. The request never reaches the web application:

[code]

[2017-03-10 13:52] toblea commented on #79
@Tratcher Using the _IIS Advanced Logging Module_ I got the following info by using Postman to create GET requests with X-Forwarded-For headers (random IP's: `"127.0.0.1, 10.0.1.1"`):

[code]

[2017-03-13 21:01] guardrex commented on #4
@Tratcher I'm doing a Pub IIS update now. Do you want to keep this common error in the *Common Errors* section for a while longer?

[2017-03-13 23:07] Tratcher commented on #4
Yes please. The general public hasn't moved to 15002 yet.

[2017-03-17 16:53] analogrelay opened #80 "Frequent Autobahn Test Suite failures behind ANCM"
We're seeing flakiness in our Autobahn Test Suite runs for our WebSocket middleware, but only when running behind IIS/ANCM. It would be really helpful if the ANCM build could have some automated testing that used Autobahn in order to try to catch these issues directly at the source.

/cc @JunTaoLuo @Tratcher

[2017-03-27 23:57] shirhatti opened #81 "Set ASPNETCORE_HOSTINGSTARTUPASSEMBLIES to inject IISIntegration"
ANCM will set ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.AspNetCore.Server.IISIntegration and Hosting will load and add IIS.
Related: https://github.com/aspnet/IISIntegration/issues/348

[2017-03-28 18:32] muratg commented on #81
cc @glennc @Tratcher

[2017-03-29 16:18] Tratcher opened #82 "Indicate if Windows Auth is enabled in IIS"
UseIISIntegration integrates with the Authentication components to handle Authenticate and Challenge. However, right now it can't tell if Windows Auth is enabled in IIS, so it has to assume it is and issue the challenge blindly. This causes odd behavioral differences between IIS and SelfHost.

It would be cleaner if ANCM indicated to the app at startup if Windows Auth was enabled, possibly via env

[2017-03-29 17:12] Tratcher opened #83 "How to configure purge policy on stdOut.log files?"
_From @varcario on March 29, 2017 17:8_

Does Kestrel support defining a purge policy on the stdOut.log files it writes.  So if I need to make sure my server doesn't run out of disk space.  Can I set a rolling file policy with a limit on the number of files I would like to retain, writing a new file each day, and a max disk space policy that deletes oldest files first when the max limit is met.

_

[2017-03-29 18:18] guardrex commented on #83
@varcario The current guidance is only to use `stdout` logging for troubleshooting and not to use it for general logging. The current recommendation is to use one of the [third-party logging providers](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging#third-party-logging-providers), several of which have (at least some of) the features you listed. There is an issue on an official f

[2017-03-31 10:54] PonchoPowers opened #84 "Question: Is it possible to configure IIS as a load balancer for two kestrel servers?"
This question has been reposted from SO:
http://stackoverflow.com/questions/41846050/configure-iis-as-a-load-balancer-for-two-kestrel-servers-for-the-same-website

ASP.NET Core cannot be run directly in IIS as it requires Kestrel.

This means it is not possible to update a website at runtime like in traditional ASP.NET sites, since the kestrel server have to be shut down during the update.

I want

[2017-03-31 21:45] muratg commented on #16
**ping** @shirhatti @pan-wang

[2017-03-31 21:45] muratg commented on #77
**ping** @shirhatti @pan-wang

[2017-04-01 03:32] pan-wang commented on #84
This is requirement is very interesting. Unfortunately it is not possible with current ANCM design as it only support one backend application.

[2017-04-01 03:39] pan-wang commented on #77
Will look into it.

[2017-04-03 16:38] natemcmaster commented on #80
@shirhatti would anyone from you team be available to look at this?

[2017-04-03 18:06] analogrelay commented on #80
Note that as far as we can tell this is about ANCM forwarding any WebSocket. The exact same tests run consistently on Kestrel alone. We don't really have a repro because it's all flaky occasional failures with no warning or context. So, what I'm suggesting here is setting up automation in here to run the Autobahn Suite against ANCM forwarding to a known-good WebSockets infrastructure (i.e. not ASP

[2017-04-03 18:34] shirhatti commented on #83
I'd echo what @GuardRex  has said. Feel free to re-open this issue if that doesn't work for you.

[2017-04-03 18:34] #83 closed, assigned to nobody

[2017-04-03 18:35] shirhatti commented on #82
Do we need this 2.0? Trying to figure out prioritization.

[2017-04-03 18:39] shirhatti commented on #79
Did you repro against Kestrel directly or against IIS/ANCM+Kestrel?

Also, can you share the raw request you used?

[2017-04-03 18:50] shirhatti commented on #67
Closing due to inactivity. @elangelo Feel free to re-open if your problem persists.

[2017-04-03 18:50] #67 closed, assigned to nobody

[2017-04-03 18:56] shirhatti commented on #66
Not sure I follow what you mean by "lack of response". Could you care to explain what you expected to happen?

Since IIS+ANCM functions as a proxy, we are expected to respond with 502- Bad Gateway when the backend closes the connection.

[2017-04-03 19:06] shirhatti commented on #64
We'll try to seed the random function for generating port numbers
https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Inc/serverprocess.h#L190

[2017-04-03 19:12] shirhatti commented on #63
The Application Pool idle timeout is configurable in IIS. That should help solve part of your problem.

Auto-start is something on our backlog https://github.com/aspnet/AspNetCoreModule/issues/29

[2017-04-03 19:12] #63 closed, assigned to nobody

[2017-04-03 19:14] shirhatti commented on #61
@jhkimnew Please close if this issue is stale

[2017-04-03 19:14] #58 closed, assigned to nobody

[2017-04-03 19:15] #57 closed, assigned to nobody

[2017-04-03 19:15] #53 closed, assigned to pan-wang

[2017-04-03 19:45] analogrelay commented on #80
It may also be good for IIS to have Autobahn suites running against a pure ASP.NET 4 app (i.e. without ANCM at all) to see if these issues repro. We have a sample Autobahn-compatible ASP.NET 4 app here: https://github.com/aspnet/WebSockets/tree/dev/samples/AutobahnTestAppAspNet4

[2017-04-03 20:46] toblea commented on #79
@shirhatti It works fine directly against Kestrel, but not against IIS/ANCM+Kestrel.

[code]

[2017-04-04 01:41] jhkimnew commented on #77
@mkosieradzki
Would you attached a repro test program and the server program so that I can investigate this issue?
I tried to reproduce with my test websocket program but I did not see any problem. Maybe I should use the same repro environment you use and that's why I am asking you the repro test program.

FYI,
Here is what I did.

1. Modify my websocket web application adding the CloseOutputAsync

[2017-04-04 01:43] shirhatti commented on #33
Closing this issue due to inactivity. Reopen if the issue persists..

[2017-04-04 01:43] #33 closed, assigned to jhkimnew

[2017-04-04 01:49] jhkimnew commented on #61
This was fixed with https://github.com/aspnet/AspNetCoreModule/commit/044648a21346d3c6782c13a4fcc4854c8782f7e2

[2017-04-04 01:49] #61 closed, assigned to jhkimnew

[2017-04-04 02:57] Tratcher commented on #82
We want it for 2.0 so we can work it in with our Auth rewrite, but it's lower priority than most of the other things we've asked you for.

[2017-04-04 09:26] mkosieradzki commented on #77
@jhkimnew
You have removed ReceiveAsync from my example which is critical in this reproduction.
Server will fail on ReceiveAsync no matter what the client implementation is.

[2017-04-04 09:30] TroelsL commented on #77
I ran into this exception as well until I figured out that even though my server app doesn't receieve messages from the client in the traditional sense, it will indeed fail if ReceiveAsync is not present.

[2017-04-04 17:51] jhkimnew commented on #77
Thanks for your help.
Okay, I was able to reproduce the exception from server side.
var webSocket = await context.WebSockets.AcceptWebSocketAsync("");
await webSocket.CloseOutputAsync(WebSocketCloseStatus.NormalClosure, null, CancellationToken.None);
var buffer = new byte[4096];
try
{
    await webSocket.ReceiveAsync(new ArraySegment<byte>(buffer), CancellationToken.None);
}
catch (Exception ex)
{

[2017-04-05 17:33] Tratcher opened #86 "aspnetcore web.config requestTimeout Parameter Causes 500 error if minutes set to 60"
_From @crupak on April 5, 2017 15:49_

in Web.config, under the <system.webServer> tag, the requestTimeout attribute of the aspNetCore tag causes a server 500 error if the requestTimeout parameter is specified as 00:60:00 (i.e. 1 hour).  Note that specifying the parameter as 01:00:00 works correctly.

I realize this certainly is not high priority but it tripped me up by causing the evil server 500

[2017-04-05 22:40] alexgritton commented on #50
I'm still running into this case sensitive issue on 7.1.1971.0. When I try to deploy I get a file locked error, so I looked to see if the app was still running and sure enough it was. I opened the Kudu command line to see what files where in the wwwroot directory and App_Offline.htm was in the folder but the process was still running. Then I typed touch app_offline.htm and the process stopped runn

[2017-04-06 00:42] shirhatti commented on #24
@Eilon Is this what you were referring to when we spoke earlier today?

[2017-04-06 01:05] shirhatti commented on #82
@pan-wang just looked into it. Turns out it **is** feasible.

@Tratcher @HaoK
- Do you need more information besides just a binary Enabled/Disabled? While we can certainly flow the information, will it add any value?
- We can use the environment variable name that Chris suggested. `ASPNETCORE_IISWINDOWSAUTH` that takes possible values as `Enabled` and `Disabled`. Does that work?

[2017-04-06 08:51] Tratcher opened #87 "ASP.NET Core Web API + Kestrel + IIS response time is slow"
_From @qazq on April 6, 2017 4:40_

I publish my Web API application to IIS server 8.5 (running on Windows Server 2012), but the performance is not good. If I run Web API by `dotnet myapi.dll` (pure Kestrel Http Server), the performance is good.

**Client to IIS**
![client-to-iis](https://cloud.githubusercontent.com/assets/997727/24737819/3bb2ab3a-1ac4-11e7-993f-b1e29e8a9a12.PNG)

**Client to Kest

[2017-04-06 08:51] Tratcher commented on #87
@mikeharder

[2017-04-06 10:42] Tratcher commented on #82
@pan-wang how much information is readily available about windows auth? Enabled/Disabled is the minimum bar. Enabled schemes might be a bonus. E.g. `NTLM;Kerberos;Anonymous;` etc..

Client Certificate mapping to a windows identity is not covered by this, correct? It's not a kind of auth we can challenge for.

[2017-04-06 16:27] Eilon commented on #24
@shirhatti I believe so, yes.

[2017-04-06 16:31] pan-wang commented on #82
We are reading IIS configuration and theoretically we can get all configured info . Unfortunately, the schemes are not defined in configuration.

________________________________
From: Chris R <notifications@github.com>
Sent: Thursday, April 6, 2017 6:42:41 AM
To: aspnet/AspNetCoreModule
Cc: pan-wang; Mention
Subject: Re: [aspnet/AspNetCoreModule] Indicate if Windows Auth is enabled in IIS (#82)

[2017-04-06 16:39] Tratcher commented on #82
This section? https://www.iis.net/configreference/system.webserver/security/authentication
How about `Anonymous;Basic;Digest;Windows'

Basic and Digest still use your windows credentials, correct?

[2017-04-06 17:03] Tratcher commented on #82
ASPNETCORE_IIS_HTTPAUTH=Anonymous;Basic;Windows or None.
Excluding Digest as unused/obsolete.

Client cert mapping:
@HaoK, would it make sense to have a separate auth handler registered for client cert auth that issued a 495 SSL Certificate Error for Forbid and a 496 SSL Certificate Required for Challenge (values taken from nginx https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)? We could l

[2017-04-06 20:12] davidpeden3 commented on #66
If Kestrel kills the response (i.e., literally closes the connection without sending any bytes to the client), it would be great for IIS to do the same instead of send a new, modified response (even if it's a 502). Sounds like you guys do that by design. Not a huge deal but not what I expected to happen.

[2017-04-06 23:30] shirhatti commented on #66
I'll let @Tratcher and @pan-wang weigh in on what is expected behavior for a proxy server.

@davidpeden3 Beyond discussing semantics, is there something you are trying to do and are blocked by this behavior?

[2017-04-07 00:11] davidpeden3 commented on #66
Not blocked. I ended up returning a 502 with no response body rather than aborting the connection and leaving it up to IIS to decide what to do. Thanks!

[2017-04-07 22:29] shirhatti opened #88 "Typo in error message"
Application '%s' with physical root '%s' created process with commandline '%s' but either crashed or did not ~~**reponse**~~ or did not listen on the given port '%d', ErrorCode = '0x%x'"

https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Inc/resource.h#L16

[2017-04-08 01:09] shirhatti opened #89 "ANCM should not preserve Host header"
We are currently in violation of RFC 7230, Section 5.4 since we always preserve the host header.
Once Kestrel implements https://github.com/aspnet/KestrelHttpServer/issues/839 we will break them.

[2017-04-08 01:24] Tratcher commented on #89
How is ANCM violating this clause? It's been working well.

[2017-04-09 21:23] PonchoPowers commented on #87
If you create a VM, install Windows Server 2012 on it, and then create a new ASP.NET Core Web Application (.NET Core) project in Visual Studio, using the Web API template, and then publish it to a directory and set up IIS to serve the default website from that directory, the response times for me are around 70ms in both IIS and Kestrel. @qazq is the AspNetCoreModule the first module in the list?

[2017-04-10 00:49] qazq commented on #87
I create a new ASP.NET Core Web Application project in Visual Studio, using the default Web API template, and then publish it to my server (Windows Server 2012)

Open the URL 'http://192.168.1.50/api/values' by Chrome, and the response times are 202ms (Content Downlaod time is 196ms)
![iis_test_default_api_project](https://cloud.githubusercontent.com/assets/997727/24842385/c11cfce6-1dc9-11e7-8ed5-

[2017-04-10 01:17] PonchoPowers commented on #84
I can't imagine it being too difficult to get this to work, most of the code is already there.

- The config parser would need to be updated to read multiple aspNetCore declarations:
`<aspNetCore />`
- The process manager would need to be updated to round robin the processes (to give some sense of load balancing even though the load balancing isn't really the desire).

The main problem I see is wh

[2017-04-10 01:20] davidfowl commented on #84
I don't understand this. What would you expect to configure in this scenario and how would you detect this situation?

It's an IIS module, IIS modules are native code. Why would we boot the CLR or CoreCLR inside of IIS to write a module in C# to then forward to another process running .NET? That sounds extremely inefficient.

[2017-04-10 01:24] qazq commented on #87
I remove all the modules from IIS configuration, just keep `AspNetCoreModule` (the first module in the list) and `AnonymousAuthenticationModule`. The response times are still slow.

[2017-04-10 10:41] PonchoPowers commented on #84
By having signed dll's you could detect when the two applications are out of sync. The developer can then decide by configuration whether to keep existing sessions on the older application or force them onto the updated application.

Thanks, as I thought was likely the reason, was just checking. I've never had a need to learn C++, C# does everything I need it to.

[2017-04-10 14:52] davidfowl commented on #84
You don't expect this module to check signatures do you? That seems like an awfully specific way to do things. I don't know of any other systems that depend on something like this. Anything that does this kind of update has an abstract notion of version and baking in signature detection seems like a harder way to deal with things.

[2017-04-10 16:09] PonchoPowers commented on #84
What are the alternatives? Using the assembly manifest versioning which developers sometimes forget to update (I know they can be automatically generated), or timestamps that can suffer from NTFS caching issues.

[2017-04-10 16:17] LK-Daniel commented on #84
Definitely need this!

[2017-04-10 18:17] shirhatti commented on #89
request-target, the proxy MUST ignore the received Host header field
   (if any) and instead replace it with the host information of the
   request-target.  A proxy that forwards such a request MUST generate a
   new Host field-value based on the received request-target rather than
   forward the received Host field-value.

We don't do that currently

[2017-04-10 18:38] Tratcher commented on #89
IIS/Http.Sys does not tell you if you received an absolute-form request-target so you have no way of implementing this. Even the raw value it gives you is one it has already assembled with scheme, host, port, etc..

[2017-04-12 14:06] VaclavElias commented on #64
Same issue here. We have got **46** ASP.NET Core websites on our server and get these FAILURE mentioned above by @tmoeller328.  We would get daily 1-2 domains inaccessible and we need to restart them manually in IIS. Also, if the server is restarted or IIS is restarted we would get 5-10 of these errors as simultaneously many websites try to start... Hope it will be resolved soon!!! :)

[2017-04-12 18:43] jhkimnew commented on #51
I found that this issue can be reproducible only on down-level OS versions such as Win7 OS or Windows 2008 R2.

The IIS feature of limiting private memory for Job object, in which the processes of w3wp.exe and dotnet.exe are combined, was implemented after Win7 OS version.
So, if you want to use the “Private Memory Limit (KB)” for ANCM backend process (dotnet.exe), please make sure you use the lat

[2017-04-12 18:49] shirhatti commented on #64
@VaclavElias From my understanding the issue is that there is just a lot of noise in the event log as multiple app try to start on the same port and have to retry till they can find an available port. I'm missing how this results in a couple of your sites being inaccessible?

[2017-04-12 18:50] shirhatti commented on #64
That being said, we are aware of the issue and do plan to fix it in our next release.

[2017-04-12 18:50] Tratcher commented on #64
@shirhatti there's only a limited number of retries.

[2017-04-12 18:56] FlorianRainer commented on #64
i have as well a lot of websites hosted on the same machine but i never had that they remain unresponsive.
but i noticed if you enable `stdoutLogEnabled` in web.config that there are 2 log files for one restart. probably related to this issue.
@VaclavElias  if your application will do some heavy work on startup it may can create some kind of lock on some resource or unwanted concurrency?

[2017-04-12 19:11] VaclavElias commented on #64
So when the FAILURE happens, this is what I mean @shirhatti by inaccessible (image attached) till I restart the page (stop and start particular page) through IIS. Restart always helps. I don't think it does any heavy work. It does connect to remote appsettings.json but if it is not available it just ignore is. Also, when IIS is restarted or server rebooted it is compiling probably all the Views. T

[2017-04-13 13:25] adam8797 opened #90 "EntityFramework 6.1.3 Crashing IIS Express with FatalExecutionEngineError in ASP.Net Core MVC"
I (and a few other users) have been experiencing a problem when using EF 6.1.3 and IIS Express. For some reason, sites will crash very inconsistently. Some times, it works, other times it does not.

For the sake of not being redundant, I'll link to a StackOverflow question I put up on the subject, where I go into more detail. Other users are commenting that they have the exact same problem.

https

[2017-04-14 19:17] shirhatti commented on #87
@qazq Are you measuring cold-startup time? Or are these warm request times?

[2017-04-15 01:22] qazq commented on #87
@shirhatti These are warm request times.

[2017-04-19 00:53] xavierjohn opened #91 "Client Certificate is not getting attached on Azure Web app or under IIS Express."
I have written a Client Certificate based  Authorization here
https://github.com/xavierjohn/ClientCertificateMiddleware
which works when run locally without IIS Express.

When run locally with IIS Express or  on Azure Web app, the client certificate is not attached.
https://github.com/xavierjohn/ClientCertificateMiddleware/blob/master/ClientCertificateMiddleware/ClientCertificateHandler.cs
var cer

[2017-04-19 16:50] xavierjohn commented on #91
What should the web.config look like to use Certificate Based auth in IIS Express and Azure Web app?

[code]

[2017-04-19 17:02] Tratcher commented on #91
When using IIS you should not have any HTTPS config for Kestrel. IIS terminates HTTPS and forwards requests to kestrel as HTTP.

IIS Express client cert setup:
http://stackoverflow.com/questions/14752386/iisexpress-clientcertificate-setup-steps

Azure Web sites:
https://docs.microsoft.com/en-us/azure/app-service-web/app-service-web-configure-tls-mutual-auth

[2017-04-19 17:19] xavierjohn commented on #91
The link to IIS Express info has no results. http://www.jasonrshaver.com/?tag=/IIS+Express

For Azure, is the cert located in a header? certHeader = headers["X-ARR-ClientCert"];  So code needs to have a different behavior between local dev machine and azure?
On Local dev machine, the cert is available at var certificate = Context.Connection.ClientCertificate; when it is not run under IIS Express.

[2017-04-19 17:38] Tratcher commented on #91
I expect Context.Connection.ClientCertificate to be set even in Azure. Need to verify.

[2017-04-19 21:00] xavierjohn commented on #91
Finally I got this to work. Thanks. Cert is attached to   Context.Connection.ClientCertificate

Here is a much better document on how to enable client cert
https://msftplayground.com/2016/06/azure-app-service-and-client-certificate-authentication/

[2017-04-20 16:13] #91 closed, assigned to nobody

[2017-04-20 18:05] shirhatti opened #92 "Anonymous user identity"
_From @antonGritsenko on April 20, 2017 14:16_

With IIS we can set identity for application pool account and **for anonymous user**, so access we can use low privilege account for anonymous access. This really helpful to protect apps with anonymous access allowed in local networks (based on Active Directory permissions). But this doesn't work in case of Kestrel and integration with IIS. Any plan

[2017-04-20 18:05] shirhatti commented on #92
_From @Tratcher on April 20, 2017 14:54_

It's worth noting that IISIntegration does not do any impersonation for you, even for authenticated users. All actions are performed with the app pool identity unless you do explicit impersonation.

How do your permissions to differ between the app pool and your anonymous identities? Does anonymous get more, or less?

[2017-04-20 18:05] shirhatti commented on #92
_From @antonGritsenko on April 20, 2017 15:4_

I know. But I can use impersonation manually in ASP.NET Core. So it will be great to transfer anonymous identity to Kestrel somehow.

Of course. Anonymous user usually very stricted account, but pool account had access to network, local files etc.

[2017-04-20 18:05] shirhatti commented on #92
_From @Tratcher on April 20, 2017 15:36_

Is there anything stopping you from doing the impersonation directly in the app?

@blowdart

[2017-04-20 18:05] shirhatti commented on #92
_From @Tratcher on April 20, 2017 15:49_

@shirhatti

[2017-04-20 18:05] shirhatti commented on #92
_From @antonGritsenko on April 20, 2017 15:57_

OK, may be I have to explain a scenario. For instance, we have app that had access to some data. All data are stored in database\remote location etc that can be accessed only with valid active directory account. No problem here, we just setup application pool account with required AD permissions and it works fine.
But now we have to protect all other

[2017-04-20 18:05] shirhatti commented on #92
_From @Tratcher on April 20, 2017 16:6_

This would require a change to our overall impersonation story (or lack there of).

[2017-04-20 18:05] shirhatti commented on #92
_From @antonGritsenko on April 20, 2017 16:8_

So it's hard from your side to "emulate" this by just pass-through the anonymous context like you did for Windows Authentication? I thought it's almost the same :(

[2017-04-20 18:05] shirhatti commented on #92
_From @Tratcher on April 20, 2017 16:19_

The WindowsAuth user is passed through and assigned to HttpContext.User, but it's not impersonated. Do you do the impersonation yourself?

It may be possible to flow the anonymous user config from IIS to HttpContext.User, but impersonating that user would still be a separate concern.

[2017-04-20 18:05] shirhatti commented on #92
_From @antonGritsenko on April 20, 2017 16:29_

Yes, we did it manually. I do not expect automatic impersonation.

This's exactly what I'm talking about. But that must be WindowsIdentity object to able to impersonate.

[2017-04-20 18:05] shirhatti commented on #92
_From @Tratcher on April 20, 2017 16:45_

@pan-wang @shirhatti I think this is actually an ANCM request. I don't think anything would have to change in IISIntegration.

[2017-04-20 18:05] shirhatti commented on #92
The IUSR account has a well-known SID that is consistent across all OSes. Forgive my naivety, but can you not just use this identity when doing the impersonation manually? Why do you need ANCM to flow this identity?,

[2017-04-20 18:05] shirhatti commented on #92
_From @antonGritsenko on April 20, 2017 17:16_

Because IUSR rarely used in case of AD world. We almost always change it to some domain account (see case 2 from [comment above](https://github.com/aspnet/IISIntegration/issues/358#issuecomment-295790327))

[2017-04-20 18:09] shirhatti commented on #92
I want to leave the issue open to solicit more feedback from the community and see how people are blocked or working around this.
We will definitely consider this as a candidate for our next release.

[2017-04-20 18:10] blowdart commented on #92
In order to impersonate manually you'd have to store the password for the account somewhere, which is bad. And it excludes service accounts. I had thought that Kestrel was spawned under the app pool credentials. Is this not the case?

[2017-04-20 18:16] shirhatti commented on #92
Ahh, my bad. You're right.

IIS currently stores the password in encrypted config and the key used to encrypt it is ACLed so that only WAS has access to it.
So Kestrel won't have a way to decrypt the password.

[2017-04-20 18:23] blowdart commented on #92
But Kestrel should be started as the app pool user, right? @antonGritsenko's original post indicates this isn't the case? is that right Anton?

[2017-04-20 18:29] antonGritsenko commented on #92
@blowdart Kestrel started under app pool user, there is no other options AFAIK.

That's the point. And that's why I thought what this is task for IISIntegration. Am I right that IIS sending user context to Kestrel in case of Windows Authentication? So my thought it can be done with Anonymous Identity as well.

[2017-04-20 18:32] antonGritsenko commented on #92
By "manual impersonation" I means nothing more than this (this sample works for Windows Authentication only of course):
`var wi = (WindowsIdentity)this.httpContextAccessor.HttpContext.User.Identity;
using (var impersonatedUser = wi.Impersonate())
               {
                    action.Invoke();
                }`

So my expectation will be to have in case of Anonymous access the Anonymous Use

[2017-04-20 18:53] Tratcher commented on #92
For anonymous requests ANCM could instantiate and pass the identity to IISIntegration the same way it does for WindowsAuth. IISIntegration would not require access to the config.

[2017-04-20 19:40] antonGritsenko commented on #92
@Tratcher thanks for info, all this things about context passing is still dark territory.
BTW, is there any articles describes pass identity in .net core with IIS and WindowsAuth?

[2017-04-22 00:09] #90 closed, assigned to nobody

[2017-04-22 00:15] samuelec opened #94 "Improve process port selection"
We recently hit a problem in some of our servers where dotnet.exe might pick a port that is *reserved* to another service. All our Windows Servers back end machines set dynamic port range so that applications use ports in that range.

Currently, ACNM does not read the dynamic port range set on the server and does not allow setting a different port range (now hardcoded to 1025-48000).

[2017-04-26 19:04] emirhosseini commented on #29
@mikes-gh That doesn't appear to be true. We have all the proper settings in IIS (idle timeout disabled, always running turned on, etc.) and I still see logs that say "Application 'MACHINE/WEBROOT/APPHOST/ApplicationName' started process '3380' successfully and is listening on port '13321'.".

So it appears that even though all the settings in IIS for the app pool and the site are to keep the site

[2017-04-26 19:14] mikes-gh commented on #29
@emirhosseini did you make sure your idle timeout is 0.  I seem to remember idle timeout didn't seem to respect the always running param

[2017-04-26 20:22] emirhosseini commented on #29
@mikes-gh  Yes Idle timeout is 0. I've already gone through all the IIS related usual suspects.  If you Google this you will see people saying the same thing.  Regardless of IIS settings, Kestrel seems to terminate and I see the log entry I mentioned above every few hours starting up the asp.net core server on a different port each time (since I don't have a set port to use).

According to the doc

[2017-04-26 21:38] wimex opened #95 "Graceful shutdown is not working in Azure App Service"
Currently, it's impossible to gracefully shutdown a .NET Core based App Service in Azure. Whenever the stop button is clicked (or the application unloads itself or detects the app_offline.htm) the process gets killed with an error (visible under the Application Events area): Failed to gracefully shutdown process '<PID>'. This is true for the most basic template (created with dotnet new).

The .NET

[2017-04-27 07:38] mikes-gh commented on #29
You're right I just tested a site that has not been accessed for a while and it took 10 secs to get to home page.

I don't suppose you have the option to run on nginx/linux
My app runs there now (you can connect to sql server form linux in netcore).
I don't have any of these issues on that site.

[2017-04-28 15:12] emirhosseini commented on #29
@mikes-gh Unfortunately that's not an option for a few reasons in my case.  Regardless it doesn't seem to me like IIS is what's causing this. It looks like Kestrel is going offline after some inactivity. We have other non core sites in IIS that have not had this issue with the same IIS settings to stay alive.

[2017-04-28 15:14] sergioadh commented on #29
@emirhosseini we've experienced the same thing, still waiting for a fix or a feature implementation. We have resorted to making a request to our services/pages to avoid them going down.

[2017-04-28 15:18] emirhosseini commented on #29
@sergioadh That's good to know because it confirms what I'm seeing.  I'm going to do the same thing.  On what interval are you hitting your service to keep it alive?

[2017-04-28 15:21] sergioadh commented on #29
It's been a hit and miss, we don't want it to be hit too many times just by this scheduled task but there's no guarantee when the Kestrel server goes down, sometimes it goes down really quick, sometimes it takes a little longer. We started at 5 minutes but saw it was inconsistent, if I'm not mistaken we have it to 1-2 minutes. This is faaar from a fix/workaround though, it just feels too sloppy.

[2017-04-28 15:34] emirhosseini commented on #29
@sergioadh Wow that's good to know! Yea it's really disappointing that they assumed no one would need to have a service that needs to be up at all times.  The several second delay to start Kestrel back up periodically is simply unacceptable. It goes to show how much dotnet core is really NOT production ready.

[2017-05-02 12:54] mateanticevic commented on #87
I have the same problem and noticed something strange. There's a huge amount of TCP packets as they are way below the MTU size limit. I reckon this is the cause of the slow download. This happens only with IIS in front of Kestrel. With Kestrel alone it doesn't happen.

**AspNetCore MVC 1.1.1** ~675kB ~11500 packets ~2s download

![wireshark_tcp_small](https://cloud.githubusercontent.com/assets/741

[2017-05-08 07:21] Antaris commented on #89
@shirhatti How would I know what the incoming (pre-proxy) host header was, if that was important to me (think multi-tenant apps)?

[2017-05-08 18:28] shirhatti commented on #89
As it stands today, we don't replace the HOST header.
If we ended up doing this change, we will add a [`X-Forwarder-Host` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Host).

[2017-05-10 20:13] emirhosseini commented on #64
@shirhatti Could this not be circumvented by setting an explicit port number for each application by setting the "server.urls" value in a hosting.json file wired up in program.cs? I'm having the same issue and was wondering whether that was the better solution rather than letting it pick a random port number.

[2017-05-10 20:44] FlorianRainer commented on #64
for multiple Instances of the same Application it would be more configuration work, but it could be an option

[2017-05-10 20:51] emirhosseini commented on #64
@FlorianRainer In my case I have only one instance of the application running on a server under IIS on a 2 server setup.  So I would think it would be fine in this case.  But I see your point about multiple instances on the same server.

[2017-05-11 17:08] emirhosseini commented on #64
It turns out when running the app under IIS the port settings are being ignored.  When I run locally while running the exe it uses the port I told it to use. But when it runs under IIS it seems to use whatever port it wants to use. Does anyone know if this is how it's supposed to work? Why can't I set the port it opens up under when running under IIS?

[2017-05-11 17:48] Tratcher commented on #64
@emirhosseini because IIS would have no idea what port to contact you on. In the current design IIS specifies the port and UseIISIntegration reads it from an environment variable.

[2017-05-11 17:53] emirhosseini commented on #64
@Tratcher  I did eventually find my way to the "ASPNETCORE_PORT" variable. I tried specifying this value but that is causing the app to crash on startup.

Is there no way to set the port instead of it picking a bad port number and cause port collisions?

[2017-05-11 17:54] Tratcher commented on #64
No, ANCM must pick the port, and it's up to them to make it more reliable.

[2017-05-11 18:01] emirhosseini commented on #64
So what is the purpose of setting the ASPNETCORE_PORT environment variable? I thought that was used by the UseIISIntegration call. Or does UseIISIntegration have nothing to do with ACNM?

So I have no choice but to continue to have intermittent production issues and 10+ second delays while ACNM poorly tries to select a port number that's already in use?  This particular call I'm working on only ha

[2017-05-11 18:17] tmoeller328 commented on #64
My local poor-man’s workaround has been in-place for almost 5 months now and works quite well. From my original issue posting:
https://github.com/aspnet/AspNetCoreModule/issues/64

Obviously we could stagger the restart of the batch-apps to workaround ANCM's incorrect reuse of the same port number for restarts of idle web services that restart at the same time, but this situation could also random

[2017-05-11 18:59] emirhosseini commented on #64
@tmoeller328 Are you referring to staggering the restart?  I'm already doing that and this is nowhere near the restart time of my apps. It's just in the middle of the day. It seems to randomly decide to kill the app (Not at IIS level) and start listening on a new port. If only I could tell it what port to start up for each app every time rather than it doing a horrible job of "randomly" not so ran

[2017-05-11 19:04] tmoeller328 commented on #64
Hmm.  My guess is that iis is recycling your app during periods of inactivity (default is usually 20 minutes?) You could try this:

https://serverfault.com/questions/333907/what-should-i-do-to-make-sure-that-iis-does-not-recycle-my-application

--
Best Regards,
Tom M.

TomMoellering | ApplicationArchitect | GameStop | p (469) 222-8707 | tommoellering@gamestop.com<mailto:tommoellering@gamestop.com>

[2017-05-11 19:06] emirhosseini commented on #64
@tmoeller328 Thanks but I've already set all the 'stay alive' settings for IIS.  This is not an IIS issue...

[2017-05-11 21:25] shirhatti commented on #64
@emirhosseini I understand your frustration around the fact ANCM was rather inefficient and attempted to start multiple applications with the same port. It is an omission we've acknowledged and I promise you we will fix it in the next release of ANCM.

The `ASPNETCORE_PORT` is set by the IIS Worker Process is environment block of the child process it spawns as a way of communicating what port it s

[2017-05-11 23:21] emirhosseini commented on #64
I can see that it's not a w3wp issue because I see no event logs on the box that indicate any sort of an IIS recycle event. The idle timeout is set to 0, the site is set to be always running and the start times are staggered between the 2 apps.  Yet I see logs in event viewer that show ACNM starting the app back up on a new port.  Is there any other reason besides what you mentioned that would cau

[2017-05-12 17:44] Tratcher opened #96 "ASP.NET Core app crashed on Windows 7 IIS periodically"
_From @jozefizso on May 12, 2017 9:43_

We run ASP.NET Core 1.0 app on Windows 7 SP1 machine using IIS. The application crashes from time to time.

[code]

_Copied from original issue: aspnet/IISIntegration#370_

[2017-05-12 21:42] shirhatti commented on #64
Besides noisy logs, is this an issue for you? There is no back-off time so if there is a port collision it should try again instantly and will probably succeed. I don't know why you are seeing 10 seconds for the process to start. @pan-wang Do you have any ideas what's going on here?

[2017-05-16 15:37] emirhosseini commented on #64
Yes it is because I only have 10 seconds to reply before a timeout is forced on me by the caller.  In the case that I was assigned to investigate there was a 6 second gap between the following 2 entries in the event logs! So not instantaneous. This is unacceptable for my scenario.

[2017-05-16 15:41] Tratcher commented on #64
How long does it take your app to start up in a non-collision scenario?

[2017-05-16 15:50] FlorianRainer commented on #64
maybe the overlapped recycling is not working correct if the collision happens?
normaly even a asp.net core app with high startup time will not produce timeouts or errors, at least not at my testcase. maybe a little longer response time but not much.

but maybe if the collision happens the old app will not await the resatrt of a new app after collision?!

[2017-05-16 15:57] emirhosseini commented on #64
@Tratcher Any ideas as to how I would be able to tell? There's no log entry before it so I can't tell how long it actually takes.

[2017-05-16 16:02] emirhosseini commented on #64
I just saw this log entry too. Not sure if it has to do with this issue.

[2017-05-22 16:35] glatzert opened #103 "[Proposal] Make log files sortable"
If you have log file from multiple applications in a single folder, sorting the files is cumbersome, since the log file Format is Name_Port_Date - this makes the files badly sortable.

If the default log file name format would be Name_Date_Port the files would nicely sort. So please consider changing the filename logic to a sortable format.

[2017-05-23 01:05] shirhatti opened #104 "Aspnet Core 1.1.0 does not properly add forwardWindowsAuthToken="true" to web.config when deploying"
_From @mackayj on May 19, 2017 5:37_

I noticed that when publishing my new Aspnet Core 1.1 (just updated to VS 2017) project it is always missing the forwardWindowsAuthToken="true" from the web.config.

More info and the fix I found was here:

https://developercommunity.visualstudio.com/content/problem/26751/publish-aspnet-core-to-iis-with-windows-authentica.html

I also tried adding:

services.C

[2017-05-23 01:05] shirhatti commented on #104
_From @Petermarcu on May 22, 2017 14:33_

@Eilon @DamianEdwards

[2017-05-23 01:05] shirhatti commented on #104
_From @Eilon on May 22, 2017 15:46_

@Tratcher - any idea where this issue should go?

[2017-05-23 01:05] shirhatti commented on #104
_From @Tratcher on May 22, 2017 22:2_

https://github.com/aspnet/aspnetcoremodule
@shirhatti
Note that forwardWindowsAuthToken's default value was changed to true so most apps no longer need it in the web.config.

[2017-05-23 01:05] shirhatti commented on #104
_From @mackayj on May 22, 2017 22:54_

@Tratcher when was it changed? In the 1.1 version with VS 2017 I have to manually set it in the web.config or it doesn't authenticate properly.

For example deploying the default project will show:

"Hello, !" in the top right where its supposed to show the username, with anon, asp.net impersonation, forms disabled and windows auth enabled in IIS

[2017-05-23 01:05] shirhatti commented on #104
_From @Tratcher on May 22, 2017 22:56_

I'll defer to @shirhatti and @BillHiebert.

[2017-05-23 01:14] shirhatti commented on #104
@mackayj I just looked into what you said. The version of ANCM that shipped in VS 2017 was [1.0.1971](https://github.com/aspnet/AspNetCoreModule/releases/tag/1.0.1971). The change to the default value of `forwardWindowsAuthToken` was only made in [1.0.1972](https://github.com/aspnet/AspNetCoreModule/releases/tag/1.0.1972).

We will ship a new version of ANCM which has this change in the next updat

[2017-05-23 01:14] shirhatti commented on #104
@joeloff

[2017-05-23 04:55] mackayj commented on #104
@shirhatti Hey thanks for the update. Is there a way I can update our build server with a version that will correctly add it? We are using on prem TFS 2017 Update 1 and installed the latest VS 2017 on it the other day.

Is the best option for now to install the latest (what is the preferred method to do that?) or include a web.config in our project instead of having it auto generated or is there s

[2017-06-01 01:23] jhkimnew opened #105 "Race conditions issue if killing backend process and putting app_offline.htm happens together for many web applications"
While I do some stress test for verifying aspnetcore.dll, I ran into an racing condition, which caused the crash to the w3wp.exe IIS worker process.
This racing condition issue only happens if we kill multiple (more than 50) of backend processes (dotnet.exe) and then *immediately* put the app_offline.htm file onto the web applications' root path.
So, in normal user scenarios, this issue won't happ

[2017-06-04 20:51] francnuec commented on #96
I am having this same issue, and its driving me nuts. Similar error in Event Viewer, but I'm on Windows 10 Pro. Here's my error:

Faulting module name: ntdll.dll, version: 10.0.14393.479, time stamp: 0x58256ca0
Exception code: 0xc0000374
Fault offset: 0x000d9d11
Faulting process id: 0x22b8
Faulting application start time: 0x01d2dd6ff7461333
Faulting application path: C:\Program Files (x86)\Microso

[2017-06-04 23:40] francnuec commented on #96
So I ended up solving this a few minutes ago, after like 2-3 days on this. I really can't say these are the steps that gave me the "victory" (because I basically had tried everything at this point), nevertheless, here are the last steps I took:

1. Uninstalled .NET Core 1.1.2 (runtime + sdk).
2. Installed Remote tools for VS 2017.
3. Installed ASP.NET Core Module Windows Server Hosting package (do

[2017-06-07 08:51] felixhao28 commented on #77
So is anyone still working on it? I know I can just try catch it but it's still a dsat whenever you close a WS from server side.

[2017-06-08 06:51] kimbell opened #106 "502 - Web server received an invalid response while acting as a gateway or proxy server."
We have the current setup:
Web Browser (Swagger) -> Netflix Zuul gateway -> IIS -> Kestrel

In our development environment everything is working as expected; requests and responses make their way through the whole chain. When I deployed my application to another environment, things started going pear shaped.

If I hit the server directly from en external browser, then things work fine. This confir

[2017-06-08 08:36] kimbell commented on #106
The version of the IIS AspNetCore Module is 7.1.19720.0.
Verified same version on both environments.

Adding the header to request on my development environment (that works as expected) also triggers the same 502 error.

[2017-06-08 08:45] kimbell commented on #106
Fired up Visual Studio and Kestrel om my local machine. If I trigger GET requests with the chunked transfer encoding, it gives me 200 status back, but reports an exception.

[code]
I've never seen any traces of this in the logs when running Kestrel behind IIS.

[2017-06-08 10:05] kimbell commented on #106
After pestering the Java guys that set up Zuul, they suddenly discovered they had a version mismatch between the environments. When they updated the problematic one, things started to work as expected.

Figuring out what actually went wrong could have been a bit smoother. Once you configure failed request logging, mapping the error 'The parameter is incorrect' to a request header isn't straight fo

[2017-06-08 11:15] PonchoPowers commented on #84
Been learning C++ and it appears there are quite a few different ways to write it, do you have any guidelines for me to follow so that when I submit a pull request it has a better chance of being merged in?

[2017-06-08 17:46] pan-wang commented on #84
This feature requires extending existing configuration. For instance, how to define two process paths, the load balance algorithm (or under what condition the second process should be create) and affinity mechanism, et al.
A workaround for your current requirement (zero downtime for updating application) is to update the web.config file with the new  'processPath' and/or 'arguments' values. Once w

[2017-06-08 17:51] shirhatti opened #108 "Add tracing to ANCM"
@davidfowl, @pan-wang and I met to discuss adding ETW tracing to ANCM.
Currently the lack of trace identifiers makes it difficult to correlate requests in the FREB log to requests in ASP.NET Core which makes investigating failures extremely difficult.

[2017-06-13 19:17] LarsAndreasEk opened #111 "Disable backend restart when web.config changes"
Hi,

Can I disable the feature that restart the backend process whenever web.config is changed?

Best regards,
Lars Andreas

[2017-06-18 11:26] DragonOsman opened #112 "Trouble Building the Core Module"
I downloaded the latest Release version and tried to build it, but I got errors when trying to run the ".\build /target:clean" command.  Build output log is on OneDrive here: [https://1drv.ms/u/s!As6LkLqTe7Ps-EHmnF72fQDDn9mp](https://1drv.ms/u/s!As6LkLqTe7Ps-EHmnF72fQDDn9mp).  I tried it in both Elevated Developer Command Prompt for VS2017 and PowerShell.  Same result both ways.

Why does it think

[2017-06-19 21:07] shirhatti commented on #112
@DragonOsman This sounds like a point-in-time error with `build.cmd`. Do you mind trying again and see if you still have this error?

[2017-06-19 21:10] shirhatti commented on #111
@LarsAndreasEk Just curious what you are trying to achieve here? It is unlikely we'll make this change, but I want to make sure we've given enough consideration to your request.

[2017-06-19 21:15] shirhatti commented on #106
Sounds like ANCM was transparently just forwarding the empty body chunked request to Kestrel. Off the top of my head, I'm not sure how Kestrel responds to such a request.

[2017-06-19 21:15] shirhatti commented on #106
This issue was moved to aspnet/KestrelHttpServer#1908

[2017-06-19 21:27] shirhatti commented on #104
@mackayj Sorry for the late response. If you do not want to include a `web.config` in your project, you can change the default value of `forwardWindowsAuthToken` in the ASP.NET Core schema file. I'd still recommend against it though and rather carry the `web.config` with my app.

Feel free to re-open if you still have questions.

[2017-06-19 21:27] #104 closed, assigned to nobody

[2017-06-19 21:33] shirhatti commented on #103
This is currently achievable as you can specify a prefix for log files in the `stdoutLogFile` attribute in your `web.config`.
Feel free to re-open if you still have questions

[2017-06-19 21:33] #103 closed, assigned to nobody

[2017-06-19 21:40] shirhatti commented on #96
Unfortunately, there isn't enough to go off here.
@jozefizso If you do see this issue again, please try and capture a dump for `w3wp.exe`.

@francnuec Your issue different since it seems like Visual Studio is the process that crashes and not IIS Express. @BillHiebert Have you seen this issue before?

[2017-06-19 21:41] shirhatti commented on #95
Acknowledging this issue. We're working with folks on Azure App Service to resolve this.

[2017-06-19 21:52] shirhatti commented on #94
@samuelec As best I understand, the dynamic port range is for ephemeral ports that aren't loopback connections. Are there concerns that arise from this that I'm failing to acknowledge?
For the most part, we've tried to make the port ANCM uses transparent to your experience using ASP.NET Core with IIS and I'd like to avoid adding knobs and switches if we can avoid it.

[2017-06-19 22:03] shirhatti commented on #92
@antonGritsenko I understand that you are trying to achieve here, but after giving it more thought what you are trying to do is achievable without impersonation. I'd recommend looking into running your AppPool as a GMSA and granting access to that low-privilege GMSA to your network resources.

I would love to hear more about what you are trying to achieve, and let's make sure you're scenario is  a

[2017-06-19 22:12] antonGritsenko commented on #92
@shirhatti I can't use low privileged account. The goal is to have application pool as high privileged account to do some internal things in the system, but use special account to other things (see some sample above https://github.com/aspnet/AspNetCoreModule/issues/92#issuecomment-295837563).
An another things is make parity between using ASP.NET (old) and Core no IIS with same experience.

BTW, I

[2017-06-19 22:35] LarsAndreasEk commented on #111
I have an app that needs to aggressively cache a lot of data into memory at
startup. Takes about a minute. When it's deployed to IIS, we have a minute
of downtime.

I've considered various approaches, including taking the app in/out of the
load balancer, blue/green deploy on a per machine basis with IIS web
farm+URL rewrite, and so on.

My idea at the time when I posted was this:
- Have the IIS Ap

[2017-06-19 22:38] shirhatti commented on #111
cc @pan-wang

[2017-06-19 22:45] LarsAndreasEk commented on #111
Me being curious: What exactly is the mechanism that restarts an app when web.config is changed? Is the mechanism the same for asp.net core applications as for pre-core web apps?

[2017-06-19 22:56] pan-wang commented on #111
For traditional asp.net application, both IIS and ASP.NET monitors the web.config. If there is a change, IIS will recycle the corresponding IIS application, ASP.NET will upload AppDomain (i.e., the managed application gets recycled). For ASP.NET, ASP.NET core module listen on IIS application recycle. Once the recycle, is triggered (e.g., Web.config change), Asp.net core module will notify the back

[2017-06-19 23:03] pan-wang commented on #111
if you have to cache a lot of data for your app, you may want to use some cache service and run as an independent service. Your app just communicate with the cache service to retrieve the data.
using configSource can cheat the monitoring mechanism, but new configuration for your asp.net core app may not be adopted.

[2017-06-20 06:05] LarsAndreasEk commented on #111
We've considered an external cache, but decided against it for performance reasons.

I'm trying to understand your last statement. In what way do you mean new configuration may not be adopted?

[2017-06-20 06:33] LarsAndreasEk commented on #111
Also, any tips on how to achieve something similar for a traditional asp.net application/wcf?

[2017-06-20 08:38] glatzert commented on #103
Hi @shirhatti can you make an example how to include the current date (and probably time) in the file-name-prefix?

[2017-06-22 22:32] Tratcher opened #115 "Send graceful shutdown notification via HTTP"
RE: https://github.com/aspnet/Hosting/issues/846

Today ANCM sends CTL+C to notify the child process of graceful shutdowns. This triggers shutdown events in Hosting, stops the server, drains requests, etc..  Unfortunately Azure Web Sites sandbox blocks all out-of-proc console APIs, including CTL+C. Sending the signal fails with an error and ANCM immediately terminates the child process.

Proposal:

[2017-06-23 12:35] PonchoPowers commented on #84
Downtime and slow response times will still occur with the suggested solution.

IIS will have to create the new process and then caches need to be warmed up as a result.

I, and others, would like to avoid this so the suggested solution is not going to work.

See issue https://github.com/aspnet/AspNetCoreModule/issues/111.

[2017-06-23 21:38] Tratcher opened #116 "Turn Microsoft.AspNetCore.AspNetCoreModule.nupkg into an Azure Site Extension"
https://github.com/projectkudu/kudu/wiki/Azure-Site-Extensions

The Microsoft.AspNetCore.AspNetCoreModule package is currently built to deploy the nightly dlls to myget so we can run integration tests with ASP.NET Core (e.g. ServerTests, IISIntegration, MusicStore). We could extend this test approach to Azure by adding the necessary scripts to this package to make it an Site Extension. On install

[2017-06-27 18:36] halter73 commented on #106
I'm reopening this issue because ANCM could do better job reporting this error. Here's [a comment](https://github.com/aspnet/KestrelHttpServer/issues/1908#issuecomment-311260186) from @kimbell on the Kestrel issue.

This issue illustrates the amount of effort required to figure out what is going wrong when ANCM is stopping requests to Kestrel. This is just one example of a case; there are probably

[2017-06-27 20:22] JunTaoLuo commented on #115
IISIntegration change is in.

[2017-06-28 05:24] DamianEdwards commented on #115
@shirhatti @pan-wang do we have an ETA and release plan for this change?

[2017-06-28 11:07] Tratcher opened #117 "Azure Web App: Environment variables provided in the arguments attribute aren't interpreted anymore"
_From @toburger on June 28, 2017 8:22_

I use the following library to host my web application: https://github.com/SuaveIO/Suave.IIS

The hosting port gets provided via:
`arguments="%ASPNETCORE_PORT%"`

Since yesterday everything worked normally. The port was parsed and the app worked flawlessly.
But suddenly I've got the dreaded 502 gateway error.

After some debugging I found the reason of the e

[2017-06-28 11:09] Tratcher commented on #117
A new version of AspNetCoreModule is being deployed to Azure.

@pan-wang was there a change to environment variable resolution in the arguments?
[code]

[2017-06-28 11:20] xtomas commented on #50
Same problem as @alexgritton. Only difference is newer aspnetcore.dll version.

[code]

[2017-06-28 17:06] pan-wang commented on #115
I have done the prototype. Will run my private with new IISIntegration change today. ETA for code complete is this Friday.

@Shirhatti<https://github.com/shirhatti> is working on the release plan.

________________________________
From: Damian Edwards <notifications@github.com>
Sent: Wednesday, June 28, 2017 1:24:55 AM
To: aspnet/AspNetCoreModule
Cc: pan-wang; Mention
Subject: Re: [aspnet/AspNetCo

[2017-06-28 17:08] pan-wang commented on #117
This is by design. As we discussed, ASPNETCORE_PORT is a reserved environment variable and should only be set by ANCM.

________________________________
From: Chris Ross <notifications@github.com>
Sent: Wednesday, June 28, 2017 7:09:52 AM
To: aspnet/AspNetCoreModule
Cc: pan-wang; Mention
Subject: Re: [aspnet/AspNetCoreModule] Azure Web App: Environment variables provided in the arguments attribute

[2017-06-28 17:53] Tratcher commented on #117
Did it previously pick up the value set by ANCM, or only external values?

[2017-06-28 18:34] pan-wang commented on #117
I looked at code. It is a regression from the code refactoring.

[2017-06-28 20:24] pan-wang commented on #117
I think the right coding pattern for customer should be reading the environment variables from the application instead of using commandline parameters

[2017-06-28 20:40] Tratcher commented on #117
@toburger Out of curiosity what were you doing with the ASPNETCORE_PORT value when passed in via command line? When running behind ANCM, IISIntegration reads this value for you and sets up Kestrel.

[2017-06-29 09:44] toburger commented on #117
I'm not the author of the library but I think the intention was to not rely on some global state which might or might not be set and instead pass the port explicitly to the self hosting program.
This also allows the caller of the program to provide some custom port if needed.

[2017-06-29 14:19] Tratcher commented on #117
There's no need. We manage that state on behalf of the app via UseIISIntegration. This even overrides settings provided directly to Kestrel, so they're likely doing redundant work.

Taking the port as a command line parameter when running the app elsewhere is fine. I don't think you need to change anything in SuavelO.

[2017-06-29 14:26] Tratcher commented on #117
Wait, SuaveIO doesn't use any ASP.NET Core packages? It's a completely independent framework running behind AspNetCoreModule?

AspNetCoreModule is not supported as a standalone component, it's part of the ASP.NET Core framework. We often coordinate changes between the various components that may break 3rd parties that get out of sync.

[2017-06-29 14:35] davidfowl commented on #117
Right, Suave should depend on the http platform handler.

[2017-07-04 18:21] DotNetPart commented on #87
Is there any update on this?

[2017-07-04 22:34] PonchoPowers commented on #111
See issue https://github.com/aspnet/AspNetCoreModule/issues/84 which is a prime example of why we should be able to avoid a restart of the .NET Core process when the web.config file is changed.

[2017-07-06 12:29] Dzoukr commented on #117
Thanks @davidfowl, but http platform handler is deprecated, right? I saw this announcement - https://github.com/aspnet/Announcements/issues/164

Or there is plan to have them both side-by-side?

Thanks for any hint.

[2017-07-06 12:43] Tratcher commented on #117
@Dzoukr ASP.NET Core stopped using it, but other things still do.

[2017-07-06 20:02] Dzoukr commented on #117
@Tratcher HttpPlatformHandler looks quite "dead" to me. I mean, it works, but some great features like app_offline.htm are not there and that was the reason for me to move to AspNetCoreModule. But now I see that it should not be used as standalone component. So it is strange situation right now. Are there any plans to backport stuff like app_offline.htm to HttpPlatformHandler?

[2017-07-06 22:19] Tratcher commented on #117
Not that I'm aware of, but that's owned by a different team now so I haven't been tracking it. Ask over here: https://forums.iis.net/1173.aspx

[2017-07-13 17:07] pan-wang opened #121 "handle leak for websocket scenario"
When websocket app calls async close, ANCM set the websocket connection handle to NULL without closing. This causes handle leak.

[2017-07-19 12:02] Plasma commented on #115
Hi team, any update on whether this change was rolled out to Azure AppService to support graceful shutdowns? Thank you

[2017-07-19 14:47] Tratcher commented on #115
The change requires both a new version of ANCM and the final release of ASP.NET Core 2.0. Both are scheduled for release and azure deployment in the coming weeks.

[2017-07-20 15:11] treestryder commented on #52
Ha!

After nearly a day researching why IIS was complaining (HTTP Error 500.19 The requested page cannot be accessed because the related configuration data for the page is invalid.) about the aspNetCore node in my web.config, I finally tracked it down to the AspNetCoreModule module not being added to the applicationHost.config. Thinking that there might have been a bug in the installer, I ended up

[2017-07-27 17:50] Tratcher opened #123 "Exclude Virtual Directory"
_From @dotnetshadow on May 31, 2017 7:12_

Hi there,

I currently have an asp.net core 1.1.1 application hosted on a Windows IIS shared server.

[code]

My hosting company has a virtual directory for stats that points off my domain

[code]

The issue I'm facing is that **/stats** thinks it's a route from my asp.net core application. I've tried to exclude the directory through IIS web.config. I'm u

[2017-07-27 17:50] Tratcher commented on #123
_From @pranavkm on July 24, 2017 18:48_

cc @Tratcher

[2017-07-27 17:55] Tratcher commented on #123
The trick is to make /status a sub application (not just a virtual directory) and then add a web.config to that folder that removes the aspNetCore handler.

[2017-07-27 22:18] natemcmaster opened #124 "Pin dependency versions"
build.ps1 doesn't work anymore because one of the projects uses `Version="*"`. This is causing NuGet to attempt installing ASP.NET Core 2.0.0 into netcoreapp1.1, which won't work.

It would be better to pin dependency versions instead of floating.

cc @pranavkm

[2017-07-28 23:47] #124 closed, assigned to nobody

[2017-07-31 21:44] MicheleRezk commented on #48
Hi @salihigde ,

I'm facing the same issue, requestTimeOut attribute working in localhost IIS Express and not working in Production hosted in IIS, Did you reach to a solution for this issue? (Thanks)

[2017-08-01 01:12] pan-wang commented on #48
asp.net core module request time is just used to control the timeout value between IIS worker process and backend process. You also need to config IIS connection time out which is used between client/browser and IIS worker process. Such as those IIS settings  https://docs.microsoft.com/en-us/iis/configuration/system.applicationhost/sites/sitedefaults/limits

[2017-08-01 09:22] ubiqs commented on #87
I also observed the same issue. Running same app via visual studio is much faster then when deployed in IIS. Is there any solution to this ?

[2017-08-02 18:33] shirhatti opened #127 "Considering exposing binding information via environment variables"
cc @danroth27

[2017-08-02 19:02] Tratcher commented on #127
No. I spoke to Dan and he only wants the ssl port and he only needs it for dev scenarios. He can get the value directly from VS via environment variable. There's no reason to involve ANCM.

[2017-08-04 12:31] risogolo commented on #77
Any news?, I'm facing the same issue

[2017-08-04 14:29] los93sol commented on #77
Experiencing an issue I believe is related when using SignalR

[2017-08-04 18:41] pan-wang commented on #121
this is under review

[2017-08-04 18:49] pan-wang commented on #108
Had some prototype with ETW worked

[2017-08-04 18:51] pan-wang commented on #77
I looked at the RFC and the code. It seems ANCM websocket did not do the async close work correctly. Will fix it in vnext.

[2017-08-04 19:00] mkosieradzki commented on #77
Yeah ;) finally this bug is getting some traction ;) thanks to SignalR.

[2017-08-04 19:37] shirhatti commented on #121
#129

[2017-08-04 22:12] los93sol commented on #77
@pan-wang Will your fix also resolve https://github.com/aspnet/SignalR/issues/691 that seems to be related?

[2017-08-07 02:16] bgever opened #130 "Sortable log files with stdoutLogFile"
Opening a new issue, since [the previous one was closed without a proper solution and ignoring the problem](https://github.com/aspnet/AspNetCoreModule/issues/103).

The stdout logging is awesome and it works great.
However, when I look in my App Service folder, I see the following. 🤔

[code]

I challenge you to try to find the latest file. 😉 (my personal record stands at 15 sec)
I'm already strugg

[2017-08-07 12:58] los93sol commented on #77
Here's another flavor of what appears to be the same issue....

Client Disconnected from Hub: ff271dab-c6e9-46d8-a829-285d226e87ae
fail: Microsoft.AspNetCore.Sockets.ConnectionManager[2]
      08/04/2017 10:36:25: ConnectionId ff271dab-c6e9-46d8-a829-285d226e87ae: Failed disposing connection.
System.Net.WebSockets.WebSocketException (0x80004005): The remote party closed the WebSocket connection wi

[2017-08-07 18:00] shirhatti commented on #130
@bgever I do like your suggestion and I'm personally leaning towards make this change.
I'm going to leave this issue open to solicit more feedback especially since I'd want to know if the naming change breaks anyone.

[2017-08-07 18:02] shirhatti commented on #127
@danroth27 @Tratcher can I close this?

[2017-08-07 18:05] #123 closed, assigned to nobody

[2017-08-08 01:21] bgever commented on #130
@shirhatti That's great, thanks! Not sure if you meant internal feedback, but if the intent is to get public feedback, maybe it would be good to propose the change in the https://github.com/aspnet/Announcements repo, as many are watching it at it is likely relevant to them. You could link it back here for comments.

[2017-08-10 23:44] pan-wang commented on #130
I think we can even add app name (or app path) as part of the log file name. This will help to sort the log files better. We need to change the order of some calls.

[2017-08-11 01:50] bgever commented on #130
The app name can be handled manually in defining the `stdoutLogFile`. Also, it's unlikely two applications will be run from the same directory by default.

[2017-08-11 12:14] glatzert opened #133 "ANCM fails to proxy request to Kastrel on IPv6-only machine"
On a Windows Server 2016 machine, with non-available IPv4 ANCM Fails to pass the request to Kestrel.

The protocol was removed via `netsh interface IPV4 uninstall`
After reenabling IPv4 via `netsh Interface IPV4 install` ANCM proceeds as expected.

[2017-08-11 12:46] Tratcher commented on #133
Yes, it's hard-coded to send to `127.0.0.1`. I'd suggest changing it to localhost which prefers `::1` but Azure app services still disables ipv6. We could special case azure..

[2017-08-11 13:40] glatzert commented on #133
Wouldn't using localhost work for azure as well?

[2017-08-11 13:47] Tratcher commented on #133
It might, but since `::1` is prefered over `127.0.0.1` it may cause delays or errors.

[2017-08-11 13:54] glatzert commented on #133
I'd assume the DNS resolve to not return the `::1`, but you probably should ask someone with Azure experience. I worked around the Problem by activating the IPv4 Protocol.
The IIS Hosting docs should probably mention the requirement of IPv4, so others will not be blocked, by the same error.

[2017-08-11 22:32] shirhatti commented on #127
@javiercn

[2017-08-11 22:34] #127 closed, assigned to nobody

[2017-08-16 19:45] analogrelay opened #135 "ANCM forwards WebSocket upgrade request even if WebSocket Protocol is not enabled in IIS"
**This requires Full IIS, not IIS Express.**

Repro steps:
1. Uninstall WebSockets Protocol from IIS (NOTE: This was the default prior to Windows Server 2016)
2. Attempt to run an ASP.NET WebSockets application (@BrennanConroy has a sample app)
3. Connect the WebSocket

Expected Behavior: The browser fails to upgrade (because IIS does not support WebSockets)
Actual Behavior: The browser believes t

[2017-08-16 19:51] jkotalik commented on #135
The issue seems to be here: https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/forwardinghandler.cxx#L1204-L1213
and
https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/dllmain.cpp#L168-L175
(I don't know if that second check is correct in the full IIS scenario).

[2017-08-16 22:31] pan-wang commented on #135
I would treat this as user misconfiguration issue instead of an ANCM bug. ANCM is just a proxy. It is not ANCM's responsibility to check whether websocket was enabled at either side (IIS and backend).

[2017-08-16 22:38] analogrelay commented on #135
I would disagree in this case. I don't expect ANCM to know if WebSockets is enabled in the application, but here we're talking about it being disabled **in IIS**. If WebSockets are not supported by the user's IIS configuration, ANCM should not be forwarding them to the client, since the client has no way of knowing that ANCM is incapable of successfully proxying the response.

ANCM is proxying inc

[2017-08-18 20:00] muratg opened #136 "Kestrel config binder should understand * and localhost"
_From @danroth27 on June 1, 2017 16:28_

_From @Tratcher on April 27, 2017 17:0_

The templates are going to enable SSL via config in dev and production. They need to set up the rest of the endpoints when they do this. https://github.com/aspnet/MetaPackages/pull/44 added the ability to bind to IPs and ports, but that makes for a poor user experience. In dev the templates want localhost, but will h

[2017-08-18 20:00] muratg commented on #136
_From @danroth27 on June 1, 2017 16:28_

_From @Tratcher on April 27, 2017 17:14_

@danroth27

[2017-08-18 20:00] muratg commented on #136
_From @danroth27 on June 1, 2017 16:28_

@muratg @DamianEdwards @Eilon We chatted about this one and we think we need to get this into preview1. @muratg please assign.

[2017-08-18 20:00] muratg commented on #136
_From @danroth27 on June 1, 2017 16:28_

We chatted *even more* and the fix is more complicated than we want to take right now. We'll have to tell folks to browse to localhost.

[2017-08-18 20:00] muratg commented on #136
_From @danroth27 on June 1, 2017 16:28_

_From @muratg on May 25, 2017 22:14_

Assigning to @cesarbs for post preview2.

[2017-08-18 20:00] muratg commented on #136
_From @danroth27 on June 1, 2017 16:28_

@glennc This issue is also the first in a series of issue that prevents enabling docker for out templates that use authentication.

[2017-08-18 20:00] muratg commented on #136
_From @danroth27 on June 1, 2017 16:28_

_From @Tratcher on June 1, 2017 16:15_

Note this code is moving to Kestrel. https://github.com/aspnet/KestrelHttpServer/pull/1878

[2017-08-18 20:00] muratg commented on #136
_From @pflannery on July 18, 2017 16:13_

I'm also seeing a port forwarding issue with the "dotnet new web" template and the current docker image "microsoft/dotnet"

I also see the warning with "Unable to bind to http://localhost:5000 on the IPv6 loopback interface: (Error -99 EADDRNOTAVAIL address not available)".

[code]

My current solution is amending the Program.cs file to include `.UseUrls("

[2017-08-18 20:00] muratg commented on #136
_From @natemcmaster on July 18, 2017 17:1_

@pflannery try using the `microsoft/aspnetcore` image instead. This image is designed to host web apps, and contains settings, such as [ASPNETCORE_URLS](https://github.com/aspnet/aspnet-docker/blob/e6e3dabb7c4f27509a378e65067a1439b62edc6d/2.0/stretch/runtime/Dockerfile#L4), that solve this issue for you.

[2017-08-18 20:00] muratg commented on #136
_From @pflannery on July 18, 2017 17:53_

@natemcmaster Thanks. I just tried that and get blocked when running `dotnet --info`

[code]

Following that link didnt seem to solve my issue so I tried to run through the linux debian sdk commands here https://www.microsoft.com/net/core#linuxdebian but still same problem.

Following https://www.microsoft.com/net/core#dockercmd gets me as far as the EADDR

[2017-08-18 20:00] muratg commented on #136
_From @natemcmaster on July 18, 2017 17:56_

@pflannery If you need to build an app in the container, use `microsoft/aspnetcore-build`. Let's continue this discussion here <https://github.com/aspnet/aspnet-docker> as this is separate from the intent of this issue.

[2017-08-18 21:57] halter73 commented on #136
@muratg I don't think *this* issue should be moved here. In triage we discussed whether ANCM could pick one of `127.0.0.1:{port}` or `[::1]:{port}` to bind to instead of `localhost:{port}`. This could potentially lead to less warnings, confusion and even possibly bugs.

The issue that was moved here seems to be discussing supporting `localhost` with Kestrel new `Listen()` methods. This is somethin

[2017-08-18 23:18] muratg commented on #136
@halter73 Could you file one that recommends that then?  Closing this one.

[2017-08-18 23:18] #136 closed, assigned to nobody

[2017-08-18 23:40] halter73 opened #137 "Specifically forward request to either IPv4 or IPv6 loopback"
ANCM could pick one of 127.0.0.1:{port} or [::1]:{port} to bind to instead of localhost:{port}. This could potentially lead to less warnings, confusion and even possibly bugs when Kestrel can bind to one loopback adapter or not the other.

This would also probably require some changes to IISIntegration, since AFAIK only a port is currently set in the environment variable.

[2017-08-18 23:40] halter73 commented on #136
#137

[2017-08-19 00:04] shirhatti commented on #137
FYI @Tratcher

[2017-08-19 03:12] Tratcher commented on #137
If it weren't for azure I would say always use `::1`. Have we tried using localhost?

[2017-08-19 03:13] Tratcher commented on #137
Note it's already hard coded to 127.0.0.1

[2017-08-19 03:19] Tratcher commented on #136
Why do you persist in making kestrel hard to use in standard usage scenarios?

[2017-08-20 17:05] davidfowl commented on #38
@pan-wang @shirhatti This needs to be fixed for SignalR to function properly and other scenarios...

[2017-08-22 00:04] halter73 commented on #137
@Tratcher So we only need to change IISIntegration to specify 127.0.0.1?

[2017-08-22 01:07] Tratcher commented on #137
Going backwards is not really an option (https://github.com/aspnet/AspNetCoreModule/issues/133). ANCM and Azure need to become IPv6 aware.

[2017-08-22 18:47] halter73 commented on #137
I figured we wouldn't want ANCM to support only IPv4. That's why I recommended that ANCM set *both* an IP address and port in an environment variable. ANCM could choose `::1` or `127.0.0.1` based on what's available.

[2017-08-22 19:48] Tratcher commented on #135
When the server receives an upgrade request, the upgrade is optional on the application's part, so I think ANCM should continue to forward those requests to the app. However, it should not allow the 101 response when it knows WebSockets are disabled. ANCM could also strip some headers from the request if websockets are disabled.

IApplicationBuilder.ServerFeatures was designed to light up this kin

[2017-08-22 21:53] pan-wang commented on #135
I synced up with Andrew offline. We agreed that ANCM should not detect IIS WebSocket setting. ANCM can forward the upgrade request. Once ANCM fails to forward the 101 response, it will return 400 error (instead of 502) back to the client and immediate terminate the connection with backend.

________________________________
From: Chris Ross <notifications@github.com>
Sent: Tuesday, August 22, 2017

[2017-08-22 23:12] Tratcher commented on #135
400? The client didn't do anything wrong. Or do you think they should have known better than to send the WebSocket request?

[2017-08-22 23:32] analogrelay commented on #135
400 may not be the right status code. The spec isn't clear on what to do here (mostly because it would be specifying behavior for servers not adhering to the spec :)). However, in testing, I found that google.com does a 400 when you try to connect a WebSocket (which it, of course, does not support). Tested via curl:

[code]

Having said that, we weren't seeing a 502, we were seeing a successful 10

[2017-08-23 05:21] Tratcher commented on #137
How it chooses one or the other will be an interesting question Kestrel's the only one that really knows if bind fails. We should start by having ANCM test localhost to see if there's any lag if one or the other address isn't available, especially with Azure's unique sandbox. If not then we should implement the choice as close to kestrel as possible, reducing the complexity. E.g. we could have kes

[2017-08-23 17:48] pan-wang commented on #135
In existing code, ANCM reset the connection with the client and set http status to 502 which will not reach the client but be logged by IISLog.  I am suggesting to change the error code to 400 and return it back to the client instead of reset the connection.

[2017-08-25 14:05] vivphillips opened #139 "Serviceworker errors when browser launched from IDE"
Using VS2017 with Kestrel.  If I start debugging from VS2017 then the serviceworker does not create cacheStorage folders on disk and all calls to cache.put() and cache.addAll() fail. IndexedDB works though...

If I then open a new browser window and navigate to the localhost url then serviceworker performs as expected.

How can I avoid this problem?

[2017-08-25 14:38] Tratcher commented on #139
serviceworker?

[2017-08-25 14:43] Tratcher commented on #30
@shirhatti *ping* This is my biggest pet peve with ANCM. I turned logging on, specified where to put them, but nothing happens.
https://github.com/aspnet/IISIntegration/issues/406#issuecomment-324940297

[2017-08-25 15:02] Tratcher commented on #139
Try this:
https://www.johanbostrom.se/blog/how-to-disable-the-built-in-chrome-from-starting-when-debugging-in-visual-studio-2017/

[2017-08-25 16:43] vivphillips commented on #139
I don't want to disable it (having no remote means no Ide debugging or code changes) - I just want it to work.  I think the problem is related to the fact the VS starts Chrome with a custom profile (apparently required).  I think I've found the file location used for the Chrome -user-data-directory at AppData/Local/Microsoft/VisualStudio/versionNo/WebTools/ChromeData+guid.  One of those folders is

[2017-08-25 16:45] Tratcher commented on #139
@BillHiebert

[2017-08-28 15:26] digeff commented on #139
@vivphillips The way that Chrome works is:

1. You can only tell Chrome to enable the “Debugging Mode” (which we require to debug the webpage) when the chrome.exe process/instance it’s first launched. It cannot be changed afterwards.
2. If you try to open a new chrome.exe instance, and there is an already existing chrome.exe instance that uses the same user profile, it will instead of launching th

[2017-08-28 16:41] vivphillips commented on #139
I understand your points but:

Scenario A:
No instance of Chrome open.
Run VS debug wth Chrome as the default browser
Cache.open() succeeds but Cache.put() fails.

Scenario B:
No instance of Chrome open.
Run VS debug with a different default browser (e.g. Edge)
Open an instance of Chrome from the desktop and navigate to the localhost url.
Cache.put() succeeds.

BTW: Do you know where the configura

[2017-08-28 16:58] digeff commented on #139
Do you mean: "IIS Express -> Browse With -> Add"?

[2017-08-29 08:19] vivphillips commented on #139
I'm using the default Chrome launch configuration (i.e. not adding one with my own command line parameters). IIRC that was set in a json file in VS2016 (launch.json?) but doesn't appear to be the case in VS2017.  In VS2017 the path being used for the serviceworker cache seems to be:
user/AppData/Local/Microsoft/VisualStudio/'vsversionNo'/WebTools/ChromeData{guid}/Default/ServiceWorker/CacheStorage

[2017-08-29 10:09] kimbell opened #140 "Question: ANCM with .NET Core 1.0 and 2.0"
We currently have production servers running .NET Core 1.1 behind IIS using the ANCM. In the not to distant future we want to start supporting .NET Core 2.0 based applications.

Will the original ANCM function with 2.0 based applications? Are we ready to rock now, or do we have to wait for an update?

[2017-08-29 17:25] Tratcher commented on #140
ANCM is designed to be forwards and backwards compatible. There was a new version released with 2.0, what are you waiting for?

[2017-08-29 17:41] kimbell commented on #140
I'm just working out what needs to be installed in order to support both 1.1 and 2.0 applications. When installing ANCM for 2.0, will this replace the 1.1 version or will they run side-by-side.

[2017-08-29 17:47] Tratcher commented on #140
ANCM is always an in place backwards compatible update.

[2017-08-29 17:49] jkotalik commented on #140
You should just need to install the Windows Server Hosting bundle, see [the 2.0 downloads page at the bottom](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md). These do not need to run side by side.

[2017-08-29 17:53] kimbell commented on #140
Thanks for the information.

[2017-08-29 17:53] #140 closed, assigned to nobody

[2017-08-30 21:33] #130 closed, assigned to nobody

[2017-08-31 00:02] bgever commented on #130
Thanks a lot @pan-wang & @guardrex. 👍

[2017-08-31 08:02] vivphillips commented on #139
No suggestions ?

[2017-08-31 10:31] MasDevProject opened #142 "Failed to start process with commandline on IIS"
Hi,
I'm trying to run my `aspnet core` on IIS.

This is my **web.config**:
[code]

and this is my **.csproj**:
[code]

When I tried to contact my server I got a **HTTP Error 502.5 - Process Failure**.
And in my server manager I found this log:
[code]

- Windows server 2012 R2
- IIS 8.5 with the Aspnet module
- The target framework is **net462** because of I use net462 libs
- If I try to run the **

[2017-08-31 14:58] Tratcher commented on #142
Is `C:\inetpub\wwwroot\` the right directory?
Enable stdoutLogEnabled and see what it says in the logs.

[2017-08-31 15:13] MasDevProject commented on #142
Yes, it is. I'm using the Default Web Site of IIS.
I tried to enable the logger but it does not write anything.
It looks like the process **my.exe** is not started (maybe because it is an exe and not a dll?)

`<aspNetCore processPath="" arguments=".\my.exe" ...  />`
**Process path** is void because it is an exe but I dont know if this is the right way, cant find documentation online

[2017-08-31 15:40] Tratcher commented on #142
You also have to create the logs folder.

[2017-08-31 15:41] Tratcher commented on #30
https://github.com/aspnet/AspNetCoreModule/issues/142#issuecomment-326327247

[2017-08-31 17:13] jkotalik commented on #30
We would need to add calls to CreateDirectory here: https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/serverprocess.cxx#L1198-L1227

[2017-09-01 07:47] MasDevProject commented on #142
Found the problem.
**.\my.exe** is a process and not an argument anymore.
Putting it as **processPath** make everything work as expected
`<aspNetCore processPath="" arguments="" ...  />`

[2017-09-01 07:47] #142 closed, assigned to nobody

[2017-09-02 20:21] Tratcher opened #145 "Running ASP.net Core 2.0 in a server cluster with IIS and Shared Configuration"
_From @scionwest on September 2, 2017 18:2_

We are working towards deploying an ASP.Net Core 2.0 project onto our existing server cluster in AWS. The cluster uses IIS Shared Configuration and has _n_-App Pools. While reading [the documentation](https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module#aspnet-core-module-with-an-iis-shared-configuration), we found this little nugget

[2017-09-02 20:21] Tratcher commented on #145
_From @guardrex on September 2, 2017 18:5_

@Tratcher I'll open a doc issue if we need a topic revision when this is resolved.

[2017-09-02 22:45] scionwest commented on #145
Thanks for moving this to the right location

[2017-09-07 09:31] baenziger opened #146 "AspnetcoreModule performance"
We publish our .net core 2 app and .net core 2 WebApi to IIS 10 and experience slow performance.
The AspNetCoreModule is not passing fast enough the requests to asp.net core application. The requests get queued which brings the app to a halt.

If Kestrel is directly handling the requests (without IIS), none of these issues appear. Kestrel does not restart and the application is performing as expec

[2017-09-07 13:10] Tratcher commented on #146
Can you quantify `very slow`? How many requests per second is Kestrel alone handling vs IIS + Kestrel? We know the reverse proxy setup adds significant overhead.

Is there anything interesting about the requests? E.g. large request or response bodies, lots of WebSockets, etc..

[2017-09-07 14:44] baenziger commented on #146
We are testing using ApplicationInsights Performance testing, running a set of 50 URLs with 10, 50, 100, 500 and 1500 users.

Using kestrel, standalone we have good result. No failure for all sets – however, this only after changing the threadCount of Libuv. With the default value we also ran into some performance issues around the 500 user mark.

Using reverse proxy, requests aren’t processed whe

[2017-09-07 20:23] artisticcheese opened #147 "How do I get both DLL and XML schema file for manual installation"
Hello,

Need to install this into nanoserver server via docker build and can not afford to run full installation and then copy file over, file sharing etc. Is there a proper way to handle installation in nanoserver where binaries are downloaded and extracted into image?

[2017-09-07 22:31] baenziger commented on #146
We have just run it using http.sys as Server and face the same issue.

[2017-09-07 22:33] davidfowl commented on #146
Do you have machine specs? Where is your service running? What is it doing? Bumping the thread count can make things worse and might be hiding the actual problem.

[2017-09-07 22:37] baenziger commented on #146
The service is running on a 4 core cloud server with 8GB Ram on Windows Server 2016 in a European Datacentre.
One part is a public facing website (in development) talking to a Webapi which in turn is connected to a Database.
In terms of problems in our application, the monitoring tools don't show anything really.

[2017-09-08 11:15] grzech1983 opened #148 "space character in .NET core application name gives HTTP Error 502.5 - Process Failure error"
Hello,

I'm running Windows shared hosting and I had already few customers which uploaded their .NET Core 2.0 apps which contained space in their .NET application name (Some Application.dll).

Their web.config aspNetCore part look like:

[code]

When they are trying to run this app on IIS using aspNetCore handler they are getting:
[code]
error in browser and log file contains
[code]
Now if they ch

[2017-09-08 12:59] Tratcher commented on #148
`arguments` needs the same quotes that you added for the command line. `arguments="&quote;.\Some Application.dll&quote;"` i think. That said, the publish tools should be doing this for you.

[2017-09-08 18:45] shirhatti commented on #148
@vijayrkn Is this not already handled as part of the publish tooling?

[2017-09-08 19:23] shirhatti commented on #147
Simply put, you can't.
The only official distribution for ANCM for IIS is via the ServerHostingBundle.

[2017-09-08 19:24] shirhatti commented on #147
If you want to MacGyver it, you can build from source or perhaps do a multistage container build where you install the exe and copy over the binary and schema file?

[2017-09-08 19:42] artisticcheese commented on #147
Will it work in multistage build between servercore and nanoserver as destination?

[2017-09-08 20:07] vijayrkn commented on #148
Doesn't look like it - https://github.com/aspnet/websdk/blob/c4d0ae7e2a897870c82b9ee289e2046fb0876fce/src/Publish/Microsoft.NET.Sdk.Publish.Tasks/WebConfigTransform.cs#L88.

Can you please move the bug to websdk?

[2017-09-08 20:42] shirhatti commented on #148
This issue was moved to aspnet/websdk#237

[2017-09-08 20:42] #148 closed, assigned to nobody

[2017-09-08 21:06] shirhatti commented on #147
It should work, but I haven't tried it myself

[2017-09-09 17:16] artisticcheese commented on #147
Confirmed this is working as expected. For anybody who needs to do the same thins example is below
[code]

[2017-09-09 17:16] #147 closed, assigned to nobody

[2017-09-10 14:13] artisticcheese commented on #147
Here is full details how to do IIS + ASP.NET core + nanoserver
https://artisticcheese.wordpress.com/2017/09/10/using-multistage-docker-build-to-create-iis-asp-net-core-image-nanoserver/

[2017-09-11 17:04] Tratcher opened #149 "Does Kestrel server keep running when IIS / App pool craches"
_From @sanjaycedti on September 11, 2017 8:33_

Does Kestrel server keep running even after IIS or app pool crashes because I want to make sure that if there is any operation that is in progress does not get impacted when IIS or app pool crashes?

_Copied from original issue: aspnet/IISIntegration#414_

[2017-09-11 17:14] Tratcher opened #150 "How to host an ASP.NET Core app as sub-application of ASP.NET app in IIS"
_From @elevate-andrewlock on September 11, 2017 14:42_

I've been trying to host an ASP.NET Core 2.0 app as a sub application of an ASP.NET app but I'm getting the following error when I try and browse the .net core site:

[code]

I can reproduce this with the "empty" .NET Core web app template.

I have installed installed the [.NET Core 2.0 Hosting bundle](https://aka.ms/dotnetcore.2.0.0-windowsh

[2017-09-11 17:57] pan-wang commented on #121
the fix was checked in.

[2017-09-11 17:57] #121 closed, assigned to nobody

[2017-09-12 17:14] shirhatti commented on #149
No, the backend process does not keep running away when the worker process goes away.

Your backend application runs as child process of the IIS worker process. When we create the backend application, we assign it to a job object. This ensures the OS takes care of cleaning up child process and preventing orphaned processes.
https://github.com/aspnet/AspNetCoreModule/blob/a732b106f5ee4d17f74282ac28

[2017-09-12 17:14] #149 closed, assigned to nobody

[2017-09-12 17:59] shirhatti commented on #150
It should *just* work. What issue are you observing? You shouldn't even have to clear the handlers section since ANCM is a greedy handler.

If I had to wager a guess, I'm going to say you have some issues with file permissions. Try checking your event log for more information

[2017-09-13 14:10] ghost commented on #150
OK, I think I've narrowed this down to the IIS development time support for Visual Studio being broken and causing other issues.

In short, attempting to use the development time debugging in VS resulted in the following _web.config_ being written to the root of the default app folder (_%SystemDrive%\inetpub\wwwroot_).

This presumably was basically adding the ANCM to every app, so I was falling a

[2017-09-13 15:03] Tratcher commented on #150
The web.config you showed should not cause the issue described in the link, that issue was about inheriting the handlers section. @pan-wang does something bad happen in ANCM if the environmentVariables section is inherited?

[2017-09-13 18:04] kirankc commented on #145
Any update on this issue? We are in a similar situation and could use guidance on it.

[2017-09-13 18:40] Tratcher commented on #145
@shirhatti ?

[2017-09-14 13:13] Tratcher opened #156 "Issue hosting site in IIS10 and Virtual Directory"
_From @johncollinson2001 on September 14, 2017 11:9_

Hi,

I'm trying to host my .NET core 2.0 app in IIS 10, as a virtual directory of the default website.

When browsing to the URL i get a 502.5 - Process Failure error.

After looking in the event viewer, i see the following error: "Application 'MACHINE/WEBROOT/APPHOST/DEFAULT WEB SITE' with physical root 'C:\inetpub\wwwroot\' failed to start pr

[2017-09-14 13:15] Tratcher commented on #156
What's in the web.config's for the root site and your virtual directory? It's suspicious that the log says your command line args are missing.

There are some notes for common configurations in the docs:
https://docs.microsoft.com/en-us/aspnet/core/publishing/iis#configuration-of-sub-applications

[2017-09-14 18:09] shirhatti opened #157 "Add Request-Id for Correlation"
- [ ] Flow a correlation id via a well-known HTTP Header (`Request-Id`) as described in the [Hierarchical Request-Id spec](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HierarchicalRequestId.md)
- [ ] Expose this correlation via a new IIS Server variable that can be consumed by the w3logsvc

See #154

[2017-09-14 19:06] johncollinson2001 commented on #156
The contents web.config is...

[code]

I've got it working now as a sub website to the Default Web Site which gives me the structure I was hoping to achieve (e.g. http://host/app) . In the past I'd achieved this using virtual directories, however this was using IIS6 so quite a while ago.

Many thanks for the help :)

[2017-09-15 03:56] Tratcher commented on #156
Indeed, people usually mistake virtual directories for sub applications. ASP.NET Core requires sub applications.

[2017-09-15 03:56] #156 closed, assigned to nobody

[2017-09-15 18:08] jkotalik opened #158 "Handle app_offline.htm in in-process scenario"
In the inprocess mode, we should have a file watcher looking for app_offline.htm and shutdown the application when it is detected. See: https://github.com/aspnet/AspNetCoreModule/blob/bce531f61a051c09c9fc2b38a7e72cee6123c95f/src/AspNetCore/Src/application.cxx#L103-L110 for how it is handled in the out of process scenario.
@pan-wang @davidfowl

[2017-09-15 18:28] jkotalik opened #159 "Add retrying counters to avoid creating too many ASPNETCORE_APPLICATIONS"
In the in process scenario, if we fail to create an ASPNETCORE_APPLICATION, we should only retry a few times before always rejecting it completely. @pan-wang

[2017-09-19 22:25] pan-wang commented on #115
the change was checked in. Close the issue

[2017-09-19 22:25] #115 closed, assigned to pan-wang

[2017-09-19 22:35] pan-wang commented on #106
ANCM uses WinHttp to forward the result and only can log whatever WinHttp returned.

[2017-09-20 04:35] davidfowl commented on #158
@jkotalik We'd use the file provider APIs to do this for the in process logic.

[2017-09-20 04:46] pan-wang commented on #158
You don't need to create another one.  You can reuse the existing one.  I will take a look at how to refactor the code to make it easier for the inproc scenario

On 2017-09-19 21:35 , David Fowler<mailto:notifications@github.com> Wrote:

@jkotalik<https://github.com/jkotalik> We'd use the file provider APIs to do this for the in process logic.

—
You are receiving this because you were mentioned.

[2017-09-20 04:49] davidfowl commented on #158
I rather not, I'd rather use managed code for this. We already have a file watcher that supports both polling and using the file system APIs wrapped up in a first class abstraction.

[2017-09-20 05:58] jkotalik opened #160 "[InProc] Verify handling of two applications in same app pool."
After discussion, if a user tries to add two applications to the same app pool, we should error our (return 500s) on both applications. @davidfowl @pan-wang

[2017-09-20 14:44] pan-wang commented on #160
You can only detect the existence of second application at runtime while the first application already started and served couple requests.  It will be wired the first app suddenly replies 500 error after returning couple 200 responses.

On 2017-09-19 22:58 , Justin Kotalik<mailto:notifications@github.com> Wrote:

After discussion, if a user tries to add two applications to the same app pool, we sh

[2017-09-20 23:25] shirhatti opened #161 "Add EventLog event for successful shutdown of backend process"
We have an EVENT_PROCESS_START_SUCCESS event https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/aspnetcore_msg.mc#L35, but no corresponding shutdown event.

[2017-09-20 23:32] shirhatti opened #162 "Backend fails to start if you try to connect to physical path with a custom identity"
Fails to start backend process on UNC path even though the worker process has the access permission for the UNC

![image](https://user-images.githubusercontent.com/4734691/30672432-fc7057be-9e31-11e7-8e98-5bdf3ccc3168.png)

[2017-09-20 23:35] shirhatti commented on #162
Based on our understanding, this a low priority issue. We will consider re-prioritizing if enough folks want this

[2017-09-20 23:39] shirhatti opened #163 "WebSocket does not work if the server URL is remapped with URLRewrite rule"
Customer has also reported a similar issue with ARR https://github.com/aspnet/SignalR/issues/911

We need to further investigate this

[2017-09-20 23:40] shirhatti commented on #163
1. Create URLRewrite application as the following
[code]

2. Put the following web.config to the c:\inetpub\wwwroot\URLRewrite
[code]
3. On the websocket client program use the below WebSocket URL which will be redirected to `ws://localhost:8080/websocketecho/test` where actual websocket server app of Aspnetcore is located `ws://localhost:8080/URLRewrite/rewrite/websocketecho/test`

EXPECTED:

Web

[2017-09-20 23:52] shirhatti opened #164 "Consider creating a new sub-status code for Request Timeout"
Currently, we use the 502.3 response to indicate both request timeout and connection termination errors.
We should considering introducing a new HTTP sub-status code for one of these scenarios.

[2017-09-21 21:15] muratg commented on #163
👀

[2017-09-22 08:16] johanskoldekrans opened #165 "IIS ServerHosting for nightly builds"
@davidfowl I have struck several of the issues you have fixed in the nightly builds but as of maybe two weeks ago version 2.0.0 of the serverhosting won't work with the nightly builds. At least not or me.

Previously when you had the older documentation site you could just choose latest-dev and get the link for the latest serverhosting installation package when running the nightly builds but I can

[2017-09-22 16:12] Tratcher opened #166 "ASP.NET Core 2.0 IApplicationLifetime not working on IIS"
_From @thshr on September 22, 2017 15:54_

When registering IApplicationLifetime callbacks in ASP.NET Core 2.0 hosted in IIS, they are not triggered i.e. Stopped and Stopping registered delegates are not being fired when the app pool is recycled on IIS.

They are triggered only when ASP.NET Core app is launched as an executable and stopped with CTRL-C

sample app: [https://github.com/thshr/AspNetC

[2017-09-24 18:05] AndreiGorlov opened #167 "IIS crashes with AV time to time after installing latest ANCM"
ASP.NET Core 2.0 app, IIS 8.5 on Windows Server 2012 R2 with latest updates, aspnetcore.dll file version **7.1.1982.0**. IIS crashes every 1-3 hours.

After rollback to previous version of ANCM (uninstalling DotNetCore.2.0.0-WindowsHosting.exe and installing DotNetCore.1.0.7_1.1.4-WindowsHosting.exe (aspnetcore.dll file version **7.1.1972.0**) - no crashes for 20+ hours.

Event log error example:

[2017-09-25 19:41] jkotalik commented on #167
@pan-wang @shirhatti Seems to be a lot of issues with ANCM on Win Server 2012, could be platform specific?

[2017-09-25 19:47] jkotalik commented on #165
I don't believe we do nightly builds of ANCM. Just to confirm, our 2.0.0 bits of ASP.NET core still work with the 2.0.0 Server Hosting bundle?
We are currently doing some infrastructure changes that should allow this to happen in the future. @shirhatti?

[2017-09-25 19:53] jkotalik opened #168 "Update README"
The readme should be updated to work with VS 2017 and build.cmd updates.

[2017-09-25 21:08] johanskoldekrans commented on #165
Yes 2.0.0 still works with 2.0.0 but there are a couple of annoying bugs that have been fixed in the 2.1.*-previews. Unfortunately the previews don’t work with the ANCM 2.0.0 anymore and I can’t find a way to get the newer ones.

The IIS integration is annoying,  because it is manual procedure. It would be nice if this is something you are looking into. There are benefits from running IIS still es

[2017-09-25 21:28] shirhatti commented on #36
Closing in favor of #168

[2017-09-25 21:28] #36 closed, assigned to shirhatti

[2017-09-25 21:33] pan-wang commented on #167
@AndreiGorlov Could please provide a dump? There was a known AV for Websocket scenario when client disconnected without handshake.

[2017-09-25 21:35] jkotalik opened #169 "Version handshake between native and managed"
For example, if ANCM is loaded with version 2.1 and an application is loaded with version 2.2, and there were pInvoke changes from 2.1 to 2.2, we need to detect that managed code does not try to call ANCM methods that do not exist.
cc @Tratcher @pan-wang @davidfowl

[2017-09-25 21:37] jkotalik opened #170 "Calling shutdown from native to managed should have a timeout (probably shutdown timeout in ASPNETCORE_CONFIG"
If the AppPool is shutdown, we can go into the managed application and call ApplicationLifetime.Shutdown(). However, if this call doesn't complete, we should eventually timeout the callback and shutdown ANCM. We could use the same ANCM shutdown timer that is used for out of process.

[2017-09-25 22:12] shirhatti commented on #165
@johanskoldekrans ANCM is a singleton and we do not break backwards compatibility, so you should not require a newer version to try 2.1.* bits in the rest of our stack.

Do you have a known issue where something 2.1.* is failing with the version of ANCM we shipped with 2.0?

[2017-09-25 22:16] shirhatti commented on #150
@pan-wang **ping**

[2017-09-26 02:15] pan-wang commented on #170
for inprocess, we will call worker process shutdown. It will be tricky as IIS has shutdown timeout for worker process. this timeout value may be different from ANCM setting.

[2017-09-26 02:18] pan-wang commented on #169
I think we should always put pInvoke in a try-catch. If there is any exception, the manage code should set correct http response (e.g., 500 error) and then callback ancm and let IIS pipeline continue

[2017-09-26 02:25] pan-wang commented on #150
sorry, I did not receive the original notification from @Tratcher . it is not a good idea to deploy web.config to default app folder (%SystemDrive%\inetpub\wwwroot) which is mapped to IIS default website root. This will cause the handler inherit issue. IIS configuration will try to merge the handler and the environemntVariables and does not allow any duplicated name.

[2017-09-26 03:58] davidfowl commented on #169
That's just about exception handling though right? That ok but it seems unrelated to the general question of version detection.

This isn't a new problem and there are many ways to tackle it each with their pros and cons:

- Capability detection via exceptions
- Capability detection via function detection (GetProcAddress)
- Capability detection via explicit version check

[2017-09-26 04:29] jkotalik commented on #169
I was thinking we add a pInvoke that returns the version of ANCM (either explicit file version or some maintained ANCM version).

[2017-09-26 04:33] Tratcher commented on #169
Or all of the above. GetProcAddress sounds promising for detecting new methods. You may need the version check for API or behavioral breaking changes though. It's hard to say what we'll need before we need it, but surfacing the version is one thing we can do in the initial release so that we can take advantage of it later if we need to. The other suggestions sound primarily reactive.

[2017-09-26 05:33] pan-wang commented on #169
One thing to note is that ANCM is always released as  a bundle with Asp.Net core except on Antares.

[2017-09-26 05:58] Tratcher commented on #169
True, that helps, but it doesn't guarantee they stay in sync for scenarios like published stand-alone apps.

[2017-09-26 08:19] ghost commented on #150
Just to be clear - I did not deploy the _web.config_ to the default app folder. Visual Studio did, when I enabled development-time debugging using IIS, and added an environment variable.

[2017-09-26 09:28] dvzghr commented on #166
sample app working url:
[https://github.com/thshr/AspNetCoreIAppLifetimeIIS](https://github.com/thshr/AspNetCoreIAppLifetimeIIS)

[2017-09-26 11:14] johanskoldekrans commented on #165
@shirhatti Sorry the server hosting for IIS 2.0.0 doesnt work with the latest previews.

[2017-09-26 13:35] Tratcher commented on #150
@BillHiebert

[2017-09-26 13:39] AndreiGorlov commented on #167
@pan-wang dumps: https://drive.google.com/open?id=0B6nsyqRBUOTkbEstOF82ZGJmYlk

My app uses signalr (and websockets).

Now I'm trying to build minimal repro. Already cut off everything related to signalr/websockets, installed ANCM 2.0 - IIS started crashing again.
Here is new dumps (app without websockets stuff): https://drive.google.com/open?id=0B6nsyqRBUOTkejAyVi03eEtUT1U

[2017-09-26 14:35] davidfowl commented on #169
Adding the version can't hurt, it should be a number we manage instead of the file version though. That'll be much easier to grok. We also have to be clear on what that version number means. Ideally, we'd only change it if there was something breaking. Also, we could potentially avoid most of the hassle by adding new methods instead of changing old ones . Think of it like any other public API we m

[2017-09-26 16:58] Tratcher commented on #169
Now there's an interesting question. Do we consider these native methods as public API? They're certainly exposed publicly.
I agree on not coupling it to the file version, though there needs to be an easy way to backtrack from a file version for user reported issues.
Let's set it to 1 for now and then we can decide what merits incrementing it. Or should we go full semver? At that point we may as w

[2017-09-26 21:38] shirhatti commented on #166
@pan-wang Can you have a look at this?

[2017-09-26 21:43] jhkimnew opened #171 "AV if the old schema file which does not have hostingModel attribute is used"
I ran into a worker process crash (AV) issue with the private ANCM file because I did not update the existing ANCM schema file with the new one which has the following new item:

<attribute name="hostingModel" type="string" />

The line of AV due to the config object is null:

https://github.com/aspnet/AspNetCoreModule/blob/f130330db8d29e679eef70ee75b8d7f147489359/src/AspNetCore/Src/proxymodule.cx

[2017-09-26 22:36] pan-wang commented on #167
@AndreiGorlov I looked at the dump. It seems for a post request, somehow IIS notification context which is used to track the request state in IIS pipeline became NULL and thus caused AV.  Based on the dump, it is impossible to tell which module cleaned the notification context.  Do you have other custom IIS module installed? Could you please share a repro app so that I can debug it in-house. Other

[2017-09-26 23:35] pan-wang commented on #166
ANCM never listened on IIS AppPool recycle. It relies on the destruction of configuration object which is triggered during shutdown but is too late for the .Net core App as itself may not have time to do graceful shutdown.

[2017-09-28 04:28] davidfowl commented on #169
it's pubternal.

[2017-10-01 02:17] scionwest commented on #145
Should I just open a support ticket with Microsoft on my enterprise msdn? We kind of need to deploy and can't get anything through GitHub it seems.

[2017-10-02 16:56] muratg commented on #158
@pan-wang Your PR (https://github.com/aspnet/AspNetCoreModule/pull/174) should fix this, right?

[2017-10-02 16:59] pan-wang commented on #158
Yes. It's in at native layer. With App_Offline, no managed code will be loaded so that we can support deployment scenario.

[2017-10-02 16:59] muratg commented on #159
@shirhatti Is there anything in IIS or its ecosystem that can handle this type of scenario?

[2017-10-02 17:02] muratg commented on #169
Guys, do we need a design meeting to discuss this?  Or is there some simple design we can agree on for 2.1 release that @jkotalik can go ahead and implement.

[2017-10-02 17:05] muratg commented on #170
We should also verify the graceful shutdown scenarios for in-process mode.

[2017-10-02 17:05] muratg commented on #170
cc @shirhatti

[2017-10-03 18:03] jkotalik commented on #40
This should pass now. Do we have any build agents on Win7 right now? I can try manually on a win7 machine but that isn't ideal.

[2017-10-03 19:21] shirhatti commented on #169
@muratg We have a meeting scheduled for today, just forwarded you the invite.

[2017-10-03 22:45] Tratcher commented on #40
yes we have an active Win7 CI agent. See https://github.com/aspnet/Hosting/pull/1235.

[2017-10-03 23:28] jkotalik commented on #171
This is done. @muratg can you add Working and Done labels to ANCM? 😄

[2017-10-03 23:41] jkotalik opened #178 "Add necessary pInvokes for managed application"
Needed:
- Versioning
- Application triggering abort on the request
- Client abort
- User (for windows auth) and RequestIds from IIS
- Path and Pathbase (from virtual path)?
- Shutdown, Startup, and Abort cancellation token?
- Logging (providing the stdout file)

[2017-10-03 23:43] jkotalik commented on #40
Finished by https://github.com/aspnet/Hosting/pull/1235

[2017-10-03 23:43] #40 closed, assigned to nobody

[2017-10-03 23:50] jkotalik commented on #178
cc @pan-wang @shirhatti @Tratcher

[2017-10-04 00:29] Tratcher commented on #178
We're unlikely to do these all at once. More likely we'll do the managed and native work for a single item at the same time, so I expect we'll want to track these as independent features.

[2017-10-04 02:42] jkotalik commented on #178
Alright, I'll go ahead and make these individual issues on ANCM (most exist on IIS integration)

[2017-10-04 02:47] pan-wang commented on #178
I think it will be good that for each feature we open one issue in ANCM to track native part and another one in IIS integration to track managed part.

[2017-10-05 00:14] naveedahmed1 opened #179 "Please add Retry-After header when serving app_offline.htm"
Further to discussion at https://github.com/aspnet/IISIntegration/issues/204#issuecomment-334291258

Please add `Retry-After` when serving `app_offline.htm` since search engines suggest adding it while performing site maintenance.

Ref: https://webmasters.googleblog.com/2011/01/how-to-deal-with-planned-site-downtime.html

May be header with some default value like 15 minutes with some option to cu

[2017-10-05 00:30] jkotalik opened #180 "Pass ANCM application Id between managed and native."
The pInvoke for obtaining the ApplicationFullPath() should pass in an applicationId such that the native code knows which app to references.
cc/ @pan-wang

[2017-10-06 18:10] jkotalik opened #181 "Remove IHttpResponse2::WriteEntityChunks as it doesn't guarantee whole response is written on triggering callback."
When calling WriteEntityChunks with a callback, the callback will be triggered on IOCompletion. If the Dynamic or Static compression modules are on, this callback will be triggered on the first chunk being written, rathern than when the response body is completly written. Also, we cannot reliably chunk up the response body because the dynamic compression chunk size is configurable. As we want to s

[2017-10-06 20:20] Tratcher opened #182 "Web app went idle after few days, even have "Always on" turned on"
_From @ferrancg on October 6, 2017 20:12_

I have an app running on Azure Web App, and I turned on the "Always on" in App Settings. After 5 days, the app went idle, and when I browse the web again, it will start up itself.
There is no exception or error message in the log, so I assume the server or IIS shut it down. The following is the last entry of the log before shutdown:

[code]

Any ideas wha

[2017-10-06 20:43] guardrex commented on #182
@ferrancg See https://github.com/aspnet/AspNetCoreModule/issues/29 and https://github.com/aspnet/AspNetCoreModule/issues/63.

[2017-10-06 22:03] ferrancg commented on #182
Seems like the Application Pool idle timeout is configurable in IIS and can be set to infinite. If that is the case, it seems an issue in Azure web service, the "Always On" feature does not actually make the service always on.

[2017-10-09 01:43] Tratcher opened #183 "ANCM should be available as a standalone installer"
_From @Petermarcu on October 9, 2017 1:9_

@jberezanski asked for this.

Filing this to track the only open issue here: https://github.com/dotnet/core/issues/848

_Copied from original issue: aspnet/Home#2236_

[2017-10-09 06:15] jkotalik commented on #183
@shirhatti @pan-wang I think we can pull this off with adding ANCM to Universe. Would we package it as aspnetcore.dll and the schema file?

[2017-10-11 00:00] #171 closed, assigned to jkotalik

[2017-10-11 00:07] muratg commented on #171
Retroactively added the labels :)

[2017-10-12 06:15] jkotalik opened #186 ".netcore 2.0 Preview 2 IIS Deployment Error 502.5"
_From @Petermarcu on October 9, 2017 1:9_
@nzcoward opened this here: https://github.com/dotnet/core/issues/788

I am unable to run a web application built in .netcore 2.0 preview 2 in IIS.

I did post a comment in #723 , however I have decided that the issue is different, as I am able to find the AspNetCoreModule after installing the Windows Hosting for .netcore 2.0 preview 2.

I am able to run t

[2017-10-12 06:19] jkotalik commented on #186
@pan-wang @jhkimnew

[2017-10-12 17:01] jkotalik opened #187 "AV on writing errors from ForwardingHandler::OnExecuteRequestHandler"
I think [the application manager](https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/forwardinghandler.cxx#L1399) needs a NULL check here. I ran this in testing full IIS with the in process mode.

[2017-10-16 16:33] Tratcher opened #189 "IIS+Kestrel: IIS wraps 200 into 400 under load"
_From @intelli9 on October 16, 2017 8:34_

I have ASP.NET Core website hosted by Kestrel behind IIS as reverse proxy.
Under relatively high load server responds with **400 Bad Request**, higher load - more 400 results up to 100%.
I've turned Kestrel logging on and realized website responds with **200**.
Here is the example of application log and IIS log for the same request:

Kestrel logs:
[code]

[2017-10-16 21:12] jkotalik opened #190 "Add 1.0 and 1.1 test sites"
I had a misunderstanding of the point of the test sites before. For the out of process scenario, we should have test sites for 1.1 and 1.0 We can get the old 1.0 site from our git history, and make a new 1.1 test site. We then can add tests for each of the variations with a switch.

[2017-10-17 17:14] jkotalik opened #191 "Refactor any win8+ code to a separate file."
There are functions currently used in ANCM that are only available on win8+. All of these are used to support websockets. We will need to find a way that will still allow us to compile for win7.
cc/ @pan-wang

[2017-10-17 20:59] pamanes commented on #104
I just found out about this problem when I realized User.Identity.Name was null. I ended up adding forwardWindowsAuthToken="true" to the web config's aspNetCore element. I am targeting full .net framework 4.6.1 using Core 2 (installed the latest SDK). Also ForwardWindowsAuthentication is no longer an available option in IISOptions

Will this get pushed soon?

thanks

[2017-10-17 21:06] shirhatti commented on #104
@pamanes What version of the ASP.NET Core Module do you have installed?
`(Get-Item C:\Windows\System32\inetsrv\aspnetcore.dll).VersionInfo`

[2017-10-17 21:07] Tratcher commented on #104
forwardWindowsAuthToken's default was changed to `true` a long time ago, you shouldn't need this setting anymore. Is this for IIS Express or IIS? For Express check: `C:\Program Files\IIS Express\config\schema\aspnetcore_schema.xml`. For IIS check `C:\Windows\System32\inetsrv\Config\Schema\aspnetcore_schema.xml`.

[2017-10-18 00:14] jhkimnew opened #192 "Inprocess: AV when recycling worker process"
STEPS TO REPRO:

1. Deploy the Inprocess AspnetCore web application of "NativeIISSample" which is available in IISIntegration repo to full IIS server.
2. Send a request to the web application
3. Open Inetmgr.exe and recycle the DefaultAppPool

EXPECTED:

No AV

ACTUAL:

Below AV happens because iiscore!W3_SERVER::RecycleProcess is called after the object is already gone.

<><><>
(4828.35c8): Acces

[2017-10-18 00:17] jhkimnew opened #193 "Inprocess: Usability: User friendly error should be given for troubleshooting"
If the Inprocess AspnetCore app is already started, other aspnetcore apps which share the same worker process fail with 500 error, which does not have any hint on the reason of the failure.
We should implement the error message with which users can troubleshoot the issue easily.

[2017-10-18 00:29] jhkimnew opened #194 "Inprocess: AV when starting NativeIISSample app with out-of-process mode with full IIS server"
STEPS TO REPRO:

1. Deploy debug build of aspnetcore.dll on full IIS server
2. Deploy the Inprocess AspnetCore web application of "NativeIISSample" which is available in IISIntegration repo to full IIS server.
3. Set the hostingModel attribute with empty string value as the following:

<aspNetCore processPath="dotnet" arguments=".\NativeIISSample.dll" stdoutLogEnabled="false" forwardWindowsAuthTok

[2017-10-18 15:04] pamanes commented on #104
@shirhatti I have 7.1.1967.0 and this is on IIS (not express). @Tratcher I do see the forwardWindowsAuthToken attribute in the aspnetcore_schema.xml but it's not being injected when publishing for some reason. thanks for the help.

[2017-10-18 16:29] Tratcher commented on #104
forwardWindowsAuthToken isn't supposed to be added to your web.config when publishing anymore. What did your aspnetcore_schema.xml show as the default value?

[2017-10-18 16:46] los93sol commented on #29
Any updates on auto start functionality?

[2017-10-18 17:54] pamanes commented on #104
it shows true, if it isn't supposed to be added, what adds it then?

[2017-10-18 18:05] shirhatti commented on #104
Default value of forwardWIndowsAuthToken has changed in 7.1.1972.0- https://github.com/aspnet/AspNetCoreModule/releases/tag/1.0.1972
I don't know how your schema and dll got out of sync. Could you try upgrading ANCM first?

[2017-10-18 18:24] pamanes commented on #104
I re-installed the 2.0 SDK, my DLL version is now 7.1.1982.0. There is no forwardWIndowsAuthToken in the web.config file of the published project and windows authentication is working! thanks a lot for the help.

[2017-10-18 20:35] jhkimnew opened #195 "FREB: Usability: ASPNETCORE_EVENT_PROCESS_START_ERROR_MSG contains a number value without label"
While testing FREB, I found that the last %x of the below string exists alone without any label, which is a usability issue.

#define ASPNETCORE_EVENT_PROCESS_START_ERROR_MSG L"Application '%s' with physical root '%s' failed to start process with commandline '%s', ErrorCode = '0x%x : %x."

I think we should add the label such as “ProcessStatus” or something else in front of it considering it is be

[2017-10-18 20:56] jhkimnew opened #196 "FREB: Usability: In PostStartCheck, we should not use ASPNETCORE_EVENT_PROCESS_START_ERROR_MSG"
Considering PostStartCheck() of the below attached code is to confirm if the process is successfully launched after the first success, we should use different error message when it fails. Currently we use the same error message between the first check and the second check and it will cause some confusion.

<><><>
HRESULT
SERVER_PROCESS::PostStartCheck(
    const STRU* const pStruCommandline,
    S

[2017-10-18 21:21] jhkimnew opened #197 "FREB: Freb log is not generated if the backend process (dotnet.exe) is killed when the first breakpoint to the aspnetcore!SERVER_PROCESS::PostStartCheck hit"
STEPS TO REPRO:

1. Enable ANCM FREB tracing
2. Start w3wp.exe process and attach the debugger
3. Set a break point to aspnetcore!SERVER_PROCESS::PostStartCheck
4. Send a request to aspnetcore app which uses out-of-process mode
5. When the first time of the breakpoint hit happens, kill the backend process (dotnet.exe)
6. When the second time of the breakpoint hit happens, continue without killing

[2017-10-18 21:31] jhkimnew commented on #187
FYI, actually the pApplicationManager variable is never initialized in the problematic function.

[2017-10-18 21:38] davidfowl opened #198 "Set ASPNETCORE_URLS to instead of just the port"
Today ANCM sets ASPNETCORE_PORT and IISIntegration sets the server.urls config key to `http://localhost{:port}` as a result. This has a few issues including scenarios where the IPv4 address failed to bind but the IPv6 address doesn't fail and ANCM fails to reboot the backend process.

Currently ANCM never communicates over anything but IPV4 addresses and it should control what the backend process

[2017-10-18 21:38] jhkimnew opened #199 "FREB: Usability: InternetStatus value should be set in Hex, not Decimal"
Considering the InternetStatus code shows winhttp error code which is documented in hex number format, it will be nice if we use the Hex values in Freb log for easy comparison.
Currently we use decimal number like the below example.

...

94.  -ANCM_WINHTTP_CALLBACK

InternetStatus
4194304

0 ms
...