[2017-10-18 21:42] davidfowl commented on #198
This is basically a dupe of https://github.com/aspnet/AspNetCoreModule/issues/137

[2017-10-18 21:42] jkotalik commented on #137
@shirhatti let's make sure to triage this today.

[2017-10-18 21:43] davidfowl commented on #198
This is related to https://github.com/aspnet/AspNetCoreModule/issues/137

[2017-10-18 21:44] jhkimnew opened #200 "FREB: ANCM_REQUEST_FORWARD_START is logged but ANCM_REQUEST_FORWARD_END is not shown"
ANCM_REQUEST_FORWARD_START is logged but ANCM_REQUEST_FORWARD_END is not shown in the Freb log.

[2017-10-18 23:52] shirhatti commented on #199
Let's do whatever is consistent with the rest of the IIS modules

[2017-10-18 23:54] shirhatti commented on #198
I'll set up a design meeting. I'll still not sure what we landed on

[2017-10-18 23:56] shirhatti commented on #194
#201

[2017-10-19 00:00] shirhatti commented on #193
Looks like we already log to event log.
Let's look at introducing a new 500 sub-status code

[2017-10-19 00:01] shirhatti commented on #193
@pan-wang Feel free to close if this already exists.

[2017-10-19 00:03] shirhatti commented on #192
Dupe of #194

[2017-10-19 00:03] #192 closed, assigned to pan-wang

[2017-10-19 00:14] shirhatti commented on #190
This is contingent on ANCM being built in Universe
@jkotalik Will set up a meeting

[2017-10-19 00:40] Tratcher commented on #190
No, ANCM should have 1.0 and 1.1 regression test projects regardless of moving to universe.

[2017-10-19 00:43] jkotalik commented on #190
Sorry to be clear, the location of these tests are contingent on ANCM being in Universe. We may want to move them to IISIntegration as it will contain all of the functional tests.

[2017-10-20 21:54] jhkimnew opened #203 "Inprocess: NativeIISSample fails to start with outofprocess mode"
Try to start NativeIISSample with setting outofprocess mode and you will get this error.

C:\inetpub\wwwroot\NativeIISSample>dotnet .\NativeIISSample.dll
Application startup exception: System.InvalidOperationException: No service for type 'Microsoft.AspNetCore.Hosting.Server.IServer' has been registered.
   at Microsoft.Extensions.DependencyInjection.ServiceProviderServiceExtensions.GetRequiredSer

[2017-10-20 22:19] jhkimnew opened #204 "Inprocess: New feature request: Users should be able to switch hostingModel"
STEPS TO REPRO:

1. Create an app with the NativeIISSample with setting outofprocess for the hostingModel property value
2. Send a request
3. Now switch to inprocess with setting inprocess for the hostingModel property value

EXPECTED:

The application now works in inprocess

ACTUAL:

Switching hostingModel is not implemented.

[2017-10-20 22:21] Tratcher commented on #203
This issue was moved to aspnet/IISIntegration#455

[2017-10-20 22:22] #203 closed, assigned to jkotalik

[2017-10-20 22:23] jhkimnew opened #205 "Inprocess: The Recycle() should be called only the application was successfully initialized"
I ran into AV from the below stack because Recycle() is called without checking if the application was successfully created or not. The AV happened when the application fails to start, giving 502 error of mixed state of hosting model.
_
IN_PROCESS_APPLICATION::~IN_PROCESS_APPLICATION()
{
    Recycle();
}

<><><>
0:003> kn
 # Child-SP          RetAddr           Call Site
00 000000a6`fab7e900 00007f

[2017-10-21 00:35] jkotalik commented on #204
Open design question in https://github.com/aspnet/IISIntegration/issues/456. Closing in favor of that issue.

[2017-10-21 00:35] #204 closed, assigned to pan-wang

[2017-10-21 20:44] pan-wang commented on #205
this is fixed by #201

[2017-10-21 20:44] #205 closed, assigned to pan-wang

[2017-10-23 19:37] jhkimnew opened #206 "FREB: Need to add FREB tracing log when there is a failure while loading In-process mode application"
We need to add FREB tracing log when there is a failure while loading In-process mode application.
@pan-wang Please assign this issue to Justin if this issue should be fixed by Justin.

Currently, there is only "ANCM_START_APPLICATION_FAIL" with timeout error and there is no hint this failure is related to the process mode. (FYI, this FREB event was generated after setting inprocess to the ASPNETC

[2017-10-23 19:52] jhkimnew opened #207 "Inprocess: Wrong event warning message"
STEPS TO REPRO:
1. Create two in-process application and make them running with a single worker process (w3wp.exe)
2. Send a request to each application, only the first request will give 200 OK and the other will give 500 error
3. Look at the event log and check the event log shows the right reason of the 500 error

EXPECTED:

The event log shows the right reason of the 500 error

ACTUAL:

Below e

[2017-10-23 19:56] jhkimnew opened #208 "FREB: Need to add FREB tracing log when there is a failure of mixed process mode applications or multiple instance of in-process applications"
I think we need to add FREB tracing log when there is a failure of mixed process mode applications or multiple instance of in-process applications.
Currently, we set only event log in that error situation and users can't figure out the common issue only with Freb tracing log.

[2017-10-23 22:19] pan-wang commented on #207
I could not repro it.
On my test box, it shows "Only one inprocess application is allowed per IIS application pool. Please assign the application '/LM/W3SVC/6/ROOT' to a different IIS application pool."

[2017-10-23 22:55] jhkimnew commented on #207
This issue is not reproducible. There was a test issue and I got a wrong event.
Closing issue.

[2017-10-23 22:55] #207 closed, assigned to jhkimnew

[2017-10-24 05:32] AndreiGorlov commented on #167
@pan-wang I'm have repro. Аfraid to publish because of denial-of-service capabilities. How can I contact you privately?

@jkotalik Not platform specific, reproduced on WinSrv 2016/IIS 10.0 as well.

[2017-10-24 06:03] pan-wang commented on #167
@AndreiGorlov you can send me email at panwang @ Microsoft . com.  Thank you so much!

[2017-10-24 07:51] AndreiGorlov commented on #167
@pan-wang Mail sent.

[2017-10-24 20:52] jhkimnew opened #213 "Inprocess: Users still get the 500 error after putting app_offline.htm to out-of-process application, leaving a single in-process application alone"
STEPS TO REPRO:

1.	Create two apps Foo and Bar
2.	Set OutOfProcess for Foo and InProcess for Bar
3.	Send request to Foo and users should get 200
4.	Send request to Bar and users should get 500 because ANCM does not support mixed process mode
5.	Put app_offline.htm to Foo to make the Foo application gone
6.	Send request to Bar

EXPECTED

users should get 200

ACTUAL:

Users still get 500 even thou

[2017-10-24 21:05] jhkimnew opened #214 "Inprocess: Usability: the event log error message of failing to start in-process applications should include the process mode information"
When users set the process mode with "inprocess" and the application actually does not support the inprocess mode, it will fail after request time out (2 minutes) and there will be an event error like this.

<><><>
Application '/LM/W3SVC/3/ROOT/Standard' with physical root 'c:\inetpub\wwwroot\Standard\' failed to load clr and managed application, ErrorCode = '0x80070102.
<><><>

I think the event

[2017-10-24 21:48] jhkimnew opened #215 "Inprocess: Usability: Error handling required for the first request if the app is set with inprocess mode wrongly"
If users set the process mode incorrectly, setting inprocess mode even though the app does not support the inprocess mode.

The current behavior is to show error message after 2 minutes (the default request time-out) because we don't have error handling.

[2017-10-24 22:19] jhkimnew opened #216 "Inprocess: Usability: Error event of mixed mode and multiple inprocess app should be logged in the first-trial only."
Currently we log the error event of mixed mode and multiple inprocess app when a new request comes.
To avoid that many event errors, I think we should log only the first one.

[2017-10-24 23:01] jkotalik commented on #216
Is this referring to etw or event viewer logs? I would agree with event viewer logs, but not sure about ETW logs.

[2017-10-24 23:06] jhkimnew commented on #216
This is referring to the event viewer logs.

[2017-10-25 00:04] jhkimnew opened #217 "Inprocess: While stress testing with NativeIISSample app, the memory usage keeps increasing"
While stress testing with the NativeIISSample app, the memory usage keeps increasing. This might be a memory leak.

[2017-10-25 00:12] jkotalik commented on #217
I'll put this under dotTrace when I get the chance. Good find.

[2017-10-25 01:28] jkotalik commented on #181
https://github.com/aspnet/AspNetCoreModule/pull/184

[2017-10-25 01:28] #181 closed, assigned to jkotalik, pan-wang

[2017-10-25 01:35] shirhatti opened #218 "Inprocess: Env variables specified in web.config aren't applied"
Setting environment variables in `web.config` doesn't work.

[code]

[2017-10-25 01:36] shirhatti commented on #218
Whatever solution we devise for this issue should also keep https://github.com/aspnet/IISIntegration/issues/460 in mind

[2017-10-25 02:06] Tratcher commented on #218
This has come up a few times. The overall plan is to honor every ANCM web.config setting possible. In this case setting the env vars on the worker process should be possible.

[2017-10-25 05:33] Tobias-08 opened #219 "Which module version for ASP.Net Core 2.0?"
Hi,
I did not find any docs which version of the module is required for using ASP.NET Core 2.0 in IIS. Do I have to upgrade to version 2.0 of the module (https://download.microsoft.com/download/B/1/D/B1D7D5BF-3920-47AA-94BD-7A6E48822F18/DotNetCore.2.0.0-WindowsHosting.exe ) or is it fine to use version 1.1.2?

We are using the full .net framework (4.6.1) as our runtime so we do not need any .net c

[2017-10-25 11:51] Tratcher commented on #219
Thus far every version of ANCM it's compatible with every version of Asp.Net Core, but the 2.0 version adds addition functionality so I recommend installing it.

[2017-10-25 11:55] Tobias-08 commented on #219
Thanks! Are there any release notes that elaborate on the additional functionality?

[2017-10-25 12:13] Tratcher commented on #219
@shirhatti @danroth27, does ANCM have its own release notes anywhere? It's not included in the ASP.NET Core list.

IISIntegration's notes cover features that were reactions to ANCM changes:
https://github.com/aspnet/IISIntegration/releases/tag/rel/2.0.0

[2017-10-25 16:55] jkotalik commented on #218
@shirhatti I think we will probably just add a pInvoke to add in the collection of environment variables. Then the server would read them and call UseSetting(). [Similar to what IISIntegration does today](https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/WebHostBuilderIISExtensions.cs#L57-L60) except the environment variables would be read via a pInvo

[2017-10-25 19:05] Tratcher commented on #218
No, you want them set as proper env vars before Program.Main executes, app code may read them.

[2017-10-25 19:27] #194 closed, assigned to pan-wang

[2017-10-25 21:20] shirhatti commented on #95
Fixed with https://github.com/aspnet/AspNetCoreModule/pull/118

[2017-10-25 21:20] #95 closed, assigned to nobody

[2017-10-25 21:39] jhkimnew opened #220 "Inprocess: when worker process (w3wp.exe) is started with 32 bit mode, inprocess app fails to start"
STEPS TO REPRO:
1. Set enable32BitAppOnWin64 to true as the following example:

            <add name="DefaultAppPool" enable32BitAppOnWin64="true" />

2. Send a request to NativeIISSample app which is configured to run in Inprocess mode

EXPECTED:

No issue

ACTUAL:

500 error because the LoadManagedApplication() fails, the line "if (dwResult == WAIT_OBJECT_0)".

[2017-10-25 21:52] shirhatti commented on #219
The ANCM release notes were out of date. I've updated the https://github.com/aspnet/AspNetCoreModule/releases in this repo to reflect our public releases

[2017-10-26 06:45] borgdylan commented on #64
Please provide a way to statically assign ports. On Azure App Service this is making some sites point to the kestrel process of other making the wrong site load up when there are collisions. This is more serious than noisy log files.

[2017-10-26 07:22] borgdylan commented on #64
ping @shirhatti

[2017-10-26 07:35] borgdylan opened #222 "Please allow static port assignment"
When using dynamic port assignment on App Service, we are getting cases where IIS ends up connecting to the kestrel process of another site running in the same App Service Plan. If ANCM allowed picking a port manually to make sure that once an application starts, no other site could take that port away from it/reuse it. This would solve the issue.

[2017-10-26 10:37] FlorianRainer commented on #64
as far as i know with asp.net core 2.x there would be a option for "in process hosting" again.
if this would not use the tcp connection between ANCM and Kestrel it would solve this issue, correct?

[2017-10-26 12:19] borgdylan commented on #64
Yes, but it should allow hosting using full CLR not just CoreCLR.

[2017-10-27 13:42] borgdylan commented on #64
Also, why not allow a user to statically assign ports? ANCM already has configuration points. So it should not be that hard. Also it is a great mitigation measure while the dynamic port code gets to a point where it is perfect.

[2017-10-27 13:46] Tratcher commented on #64
@borgdylan that's even more fragile. The port would need to be in your web.config and deployed with your app. The actual ports in use vary from machine to machine, and over time, especially somewhere like azure. You'd have to have full control of your production environment to avoid conflicting with something else.

[2017-10-27 17:23] 0xfeeddeadbeef opened #224 "The g_hWinHttpModule global variable is never assigned to"
The `g_hWinHttpModule` global variable (declared in forwardinghandler.h) is never assigned to.

It is only ever used as an argument to `FormatMessage` function, which will fail to look up error message when `lpSource` parameter is not a valid module handle.

[2017-10-27 17:39] borgdylan commented on #64
Could ANCM be made to try listening on thr dynamic port before starting kestrel to make sure it is not in use by another kestrel instance? That would be another solution. The current code is sometimes making one app service site point to the kestrel instance of another. Once a client doubted our choice of using the Azure cloud and it was hard to keep them convinced. A solution is sorely needed. We

[2017-10-27 22:53] Tratcher commented on #64
Having ANCM check the port first is something we're already considering.

[2017-10-27 23:53] pan-wang commented on #64
ANCM code does check whether the targeted port is in use before creating the Kestrel process. It calls windows API to do look up. Unfortunately this Windows API is not available in some environment. In such case, ANCM has to randomly pick up one and assign it to Kestrel and may hit port collision.

[2017-10-28 05:46] borgdylan commented on #64
Is the collision prevention check possible/being done on App Service?

[2017-10-30 09:19] hallatore opened #226 "App fails to start when Azure App Service changes underlying VM."
We have multiple app services on the same service plan. When the underlying VM is switched out for updates the apps sometimes fail to start.

The website will then timeout if you try to access it.

I see this in the eventlog.
[code]

We see two problems here.

1. When Azure App Services are switched to a new VM (Computer name just changed in eventlog) they sometimes hang. Only way to recover is to

[2017-10-30 15:40] johanskoldekrans commented on #165
Do you have one for 2.0.3 available for download?

[2017-10-30 17:37] jkotalik commented on #165
The 2.0.3 hosting bundle would not fix your issues. Unless there are severe functionality errors, we don't change functionality in patches. What error are you getting when trying to use the 2.0.0 hosting bundle? Unless you are using ANCM with our new inprocess model, you shouldn't see any errors.

[2017-10-30 17:41] johanskoldekrans commented on #165
Process failure after I publish. Any idea where to start searching for the
error?!

2.0 site works like a charm but not with the October patch.

mån 30 okt. 2017 kl. 18:37 skrev Justin Kotalik <notifications@github.com>:

--

www.penser.se
Disclaimer: www.penser.se/disclaimer

[2017-10-30 20:48] shirhatti commented on #226
@davidebbo Have you seen this before?

[2017-10-30 20:52] davidebbo commented on #226
@shirhatti I don't think so. In theory, switching to a new VM should not be much different from doing a full site restart on the current VM, which cleans up all the files and starts new (unlike Stop then Start, which is lighter weight).

[2017-10-30 21:30] shirhatti commented on #226
Do you have any hypothesis on what could be happening here? Based on what you said it should be no different than a restart as seen by us.

[2017-10-30 22:25] davidebbo commented on #226
I can't say that I do. But to investigate, we should try to find out whether the app.exe process is even starting at all. And maybe add more logging to app.exe so we can understand how far it got?

The message "either crashed or did not reponse or did not listen" leaves a lot of possibilities :)

[2017-10-30 22:34] hallatore commented on #226
I have a hypothesis. Don't have much proof though..

We have quite a few apps (22) on the service plan. Two of them are heavy that each use 30% of the memory. The rest are small. In total the app service plan idles around 70-80% memory usage.

When the underlying VM is swapped out all the apps need to start up at about the same time on the new VM. This again causes a memory spike and some of the a

[2017-10-30 22:37] davidebbo commented on #226
@hallatore that is plausible. And as far as you know, it never recovers on its own, however long you wait?

[2017-10-30 22:48] shirhatti commented on #226
Building on @hallatore's hypothesis, it could be a port contention issue. Thoughts @pan-wang?

[2017-10-30 22:51] davidebbo commented on #226
There are really two questions here:

1. Why does it fail?
2. Why does it not recover?

We have some theories for 1, but ANCM should be built to be resilient to this and retry clean on subsequent requests, allowing it to recover.

[2017-10-30 23:29] hallatore commented on #226
I was thinking it had something to do with the ports too. But there are only a few of the 22 apps that use core. And I didn't find any ports getting reused in the other eventlogs. Might still be a possibility though.

Memory makes sense since stuff has tendency to behave strange when you ran out of it.

I think there is another question here as well.

1. Why does it fail?
2. Why does it not recove

[2017-10-30 23:36] hallatore commented on #226
@davidebbo When an app get stuck it never recovers until you stop and start the app service. The app service seems to think everything is running just fine.

[2017-10-30 23:47] rollsch commented on #115
What libraries and versions specifically do I need to ensure I have this new change?

[2017-10-31 00:05] davidebbo commented on #226
Now the question for @pan-wang is whether it keeps trying to launch app.exe and keeps failing, or does it get into a state where it doesn't even try.

[2017-10-31 00:20] shirhatti commented on #115
ANCM >= 1.0.1983
Microsoft.AspNetCore.IISIntegration (or Microsoft.AspNetCore.All) >= 2.0.0

[2017-10-31 02:17] pan-wang commented on #226
For each request,  ANCM does try to start the application twice. It also try again on following requests until it reaches the threshold which is configurable. It then enter fast failure protection mode and will not try to start the application for certain time.

On 2017-10-30 17:05 , David Ebbo<mailto:notifications@github.com> Wrote:

Now the question for @pan-wang<https://github.com/pan-wang> is

[2017-10-31 02:38] rollsch commented on #115
Thank you

[2017-10-31 08:45] hallatore commented on #226
@davidebbo @pan-wang

I managed to reproduce it by making a core project that uses about 500MB of memory at startup, and then adding clones of the same project to the app service plan.

I started them all att once, and all the apps failed to load with a 503 error. When I stopped 5 out of 6 the last one didn't recover until I manually stopped and started it.

What logging should I turn on, and what

[2017-10-31 09:41] hallatore commented on #226
1. Added 5 app servivces with the same project that uses some memory at startup.
2. Started each app individually. All loaded up fine.
3. Marked all 5 app services, stopped and then started them at the same time.
4. 3 out of 5 apps came up. The two others give me `HTTP Error 503. The service is unavailable.` after about 2 minutes.
5. I see no indication that the affected app service is not working

[2017-10-31 11:33] hallatore commented on #226
Further notes from testing.
Each app holds on to the large chuck of memory for about 40 seconds, but GC should reduce it after that.

The sum of the apps startup memory is more than what the app service plan has available. Starting one and one app works fine since the sum is then below the threshold.

**When I start all 5 apps at the same time:**
* The results are not consistent. Sometimes 2 fail,

[2017-10-31 15:39] davidebbo commented on #226
@hallatore nice job with these experiments!

Could you get a test site in that bad state and share its name? Also, make sure it has debug turned on in web.config (should look like `stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout"`).

[2017-10-31 19:21] hallatore commented on #226
@davidebbo Hmm, maybe it's still port related.

https://gist.github.com/hallatore/f3b021727e4e29ca05f67f1fe42b4fc7

Notice these lines. Seems it doesn't understand it failed to start properly.
[code]

I left the app in a stuck state here: http://appservicetest-2.azurewebsites.net/ (Should time out after 120 seconds)

[2017-10-31 22:24] davidebbo commented on #226
I also see this:

    System.IO.IOException: Failed to bind to address http://127.0.0.1:23896: address already in use. --->

@pan-wang could it be that ANCM picks the port early on, and never tries a different one? So if starting many apps at once causes a conflict, it will never recover since another app will forever use the conflicting port.

How are you picking an available port anyway?

[2017-10-31 22:38] pan-wang commented on #226
ANCM first call Windows API to get and free port. If this Windows API is blocked (e.g., on App Service), ANCM will pick a random port using random number generator. If application failed to start, ANCM will retry with different port. ANCM will log the start failure to Windows event log with details showing the app path, assigned port, commandline and hresult.

[2017-10-31 22:41] pan-wang commented on #226
it has the possibility that concurrent applications may be assigned same port number as the seed of random number generator is current time. Windows event log should show whether there were retries

[2017-10-31 22:47] hallatore commented on #226
I tried making the apps not use to much memory and I'm having a hard time making them freeze. On first try one froze, but the last 4 tries none of the apps failed to load.

[2017-10-31 22:55] hallatore commented on #226
@pan-wang I see a lot of `Failed to bind to address http://127.0.0.1:*: address already in use.` by using stdoutLogFile. But the apps seem to recover from this after a while. It only seem to cause a longer startup time for the app.

I don't see much of that in the eventlogs though. So it seems to be a collision when all start at the same time, but it doesn't seem to be whats causing them to get st

[2017-10-31 23:17] hallatore commented on #226
@pan-wang @davidebbo I think I got fooled by the log.

[code]

This is from when I started up just one app. I think it only says it failed to bind that port on `IPv6 loopback interface`, and not that the port was taken in any way. This error will come up in the log stream every time.

If that is true then it's probably not a problem with ports.
So I think we are back to the original idea that some

[2017-10-31 23:22] shirhatti commented on #226
@hallatore Unable to bind IPv6 is a benign warning. Kestrel still bound on IPv4.
Azure App Service does not allow you to bind to IPv6 so you will see that warning even during normal operation

[2017-10-31 23:43] pan-wang commented on #226
@hallatore  "HTTP Error 503. The service is unavailable".  ANCM will not generate except app_offline scenario which is not the case here.
Could you please turn on IIS FREB log so that we can figure out the source of the 503 error.

[2017-11-01 06:44] Antevirus commented on #87
I have the same issue with IIS 8.5 infront of Kestrel. But fast without.

Hows it going with this issue?

[2017-11-01 08:17] hallatore commented on #226
@pan-wang @davidebbo I got this internally.

HTTP Error 502.3 - Bad Gateway
There was a connection error while trying to route the request.

Module: AspNetCoreModule
Notification: ExecuteRequestHandler
Handler: aspNetCore
Error code: 0x80070032

Here is the trace: https://i.imgur.com/76ow2yw.png

I also started a profiling and got a `profile_679e7a_IISProfiling_dotnet_13136.diagsession` file. Wher

[2017-11-01 15:36] hallatore commented on #226
I simplified the test case and manage to reproduce it every time.

You only need a single app that uses more memory than available at startup. It will cause the same problem as before.
* The request will load for about 2 minutes and result in a `502 - Web server received an invalid response while acting as a gateway or proxy server.`
* Eventlog will show this: `Application 'MACHINE/WEBROOT/APPHOST

[2017-11-01 16:03] hallatore commented on #226
Azure App Services is happy to report everything is running normally. :)

![](https://i.imgur.com/Dzm7jxi.png)

[2017-11-01 22:28] pan-wang commented on #226
Based on the event log "Application 'MACHINE/WEBROOT/APPHOST/APPSERVICETEST-1' with physical root 'D:\home\site\wwwroot\' created process with commandline 'dotnet .\AppServiceTest.dll' but either crashed or did not reponse or did not listen on the given port '25143', ErrorCode = '0x800705b4'", it seems that ANCM started backend process but the later did not response to the ping (i.e., ANCM try set

[2017-11-02 06:36] hallatore commented on #226
@pan-wang The error above are the only ones I see. stdoutLogFile seems to fail when running out of memory, so that one is empty. And only one entry in the eventlog.

[2017-11-03 05:34] pan-wang commented on #226
Interesting. It seems both ANCM and backend application ran abnormally. Just curious, have you try the same test on a local server? The behavior may be related with how the resource control is enforced.  On local server, once the memory threshold is reached, a worker process recycle may be triggered.
I will do some investigation and add a test case for new ANCM release.
As a workaround (you may ha

[2017-11-03 06:22] hallatore commented on #226
@pan-wang The problem is reproducible on any Azure App Service. I haven't tested it on a local server since I don't have any available atm.

We moved some applications to make sure we should't run out of memory in the future.

[2017-11-03 15:44] hallatore commented on #226
@pan-wang: I tested what would happen if I ran out of memory while the app was running.

I just made it so that each requests takes up more and more memory until it's full by filling a list.
From the user perspective the last requests takes a bit longer to complete, because internally the app is restarting.

I only see these two in the eventlog:
[code]

I can't find any indication anywhere in the

[2017-11-03 20:23] hallatore commented on #226
This might be a contributing factor. Not sure if it creates a notification in the portal if it's invoked.
I tried disabling it with the app setting. Logs didn't change but the timeout took longer than before and I got a timeout instead of a 502.

https://blogs.msdn.microsoft.com/appserviceteam/2017/08/17/proactive-auto-heal/

With and without there are nothing telling me that memory is a problem,

[2017-11-03 21:21] pan-wang commented on #226
It's hard for ANCM to capture and report such memory issue as ANCM itself is also a victim of out of memory and capturing the error info in another process is challenging.
I agree that the user experience should be improved. Two things may be improved 1) IIS/AppService should recycle the worker process and log an event with recycle reason. IIS does it on full server. Not sure about AppService envi

[2017-11-03 21:31] hallatore commented on #226
As a user I would at least like to know that something went wrong. And it would be nice to get a hint that it was an OutOfMemoryException.

Is there something that can be done with dotnet to properly log/pipe an OutOfMemoryException back to ANCM?

Maybe @davidfowl has some input?

[2017-11-03 22:51] davidebbo commented on #226
The 'Diagnose and solve problems' page on the portal does have a number of tools to help diagnose memory and other issues.

[2017-11-04 00:06] hallatore commented on #226
@davidebbo A lot of useful information there! :)

I see that the memory was high. But App Restart Analysis was rather empty. Might be since ANCM never crashed, just the dotnet process?

If ANCM can report the dotnet crash then the analysis could probably correlate it with the high memory usage.

[2017-11-06 06:11] ghost commented on #146
I have the same issues.

[2017-11-06 08:22] baenziger commented on #146
@taoli0124, our issue was because we were starving the thread pool, as discussed in this issue https://github.com/aspnet/KestrelHttpServer/issues/2104. Changing all methods to async resolved it.

[2017-11-06 08:22] #146 closed, assigned to nobody

[2017-11-06 18:16] #224 closed, assigned to nobody

[2017-11-07 00:28] halter73 opened #235 "502.3 An operation was attempted on a nonexistent network connection"
_From @cinaradem on November 6, 2017 22:15_

hi,
my application on azure web app is working.
asp.net core 2.0 version.
but I often encounter the 502.3 error that I do not know why. When I examine the freb logs, "An operation was attempted on a nonexistent network connection.
  (0x800704cd) "and" There was a connection error while trying to route the request.
"but I have no idea about these faults.

[2017-11-07 11:53] KeesCBakker commented on #38
Any action on this front?

[2017-11-07 21:35] jhkimnew opened #239 "Test: Update the testflag value from string to enum flags"
https://www.dotnetperls.com/enum-flags

[2017-11-08 12:01] matt-psaltis commented on #29
There's currently lots of contradicting information around this. I've got a dotnet core 2.0, Kestrel based app hosted in an Azure App Service. It's Nov 2017 - Does `applicationInitialization` and/or `<applicationPools><add  autoStart="true" startMode="AlwaysRunning" />` correctly start the dotnet.exe process after a deployment or app pool restart? Is the always on heart beat the only method curren

[2017-11-08 12:09] matt-psaltis commented on #29
Also, just in case it changes things - happy to run preview bits 2.1 etc :)

[2017-11-09 14:01] ubiqs commented on #87
Hi,

Actually I had two issues.
1. Angular rendering for loop, and inside the loop some 3rd party
controls., which was the major bottle neck.
2. I used to feel slow speed on IIS, compared to local Visual Studio,.

But when 1st issue was resolved, the 2nd one did not feel important and had
satisfactory response.

So I did not investigate the second one.

See if there is any other bottleneck.

thank

[2017-11-09 20:06] jhkimnew opened #242 "Removed."
Removed.

[2017-11-09 21:29] #242 closed, assigned to nobody

[2017-11-10 19:24] jhkimnew opened #243 "Inproc: If there is an open connection, app_offline.htm won't work until the default shoutdownTimeLimit (90 seconds) of IIS worker process"
In in-proc user scenario, the app_offline.htm might not work immediately if there is any open connection such as websocket connections. We should explain this in the documentation.

[2017-11-10 20:39] MrMint commented on #38
This is preventing us from cleanly cancelling long running requests when the client aborts.

[2017-11-10 23:58] jkotalik opened #244 "Move CreateLogFile to a separate utility function"
https://github.com/aspnet/AspNetCoreModule/blob/9313710fd0e0dd31eaaa81ced6520bb0096bf917/src/AspNetCore/Inc/aspnetcoreconfig.h#L64-L68 should be moved to a shared location for inprocess and out of process applications. It doesn't logically fit with configuration.

[2017-11-15 11:51] Tratcher opened #247 "ASP.NET Core module runs app twice"
_From @ysmoradi on November 15, 2017 10:4_

I've multiple **ASP.NET Core 1.1** apps with **.NET 4.6.1 as a sdk target** and **.NET 4.7 as a runtime** on **Windows server 2012 R2 (6.3.9600)**.

I've also installed **ASP.NET Core 1.1 hosting module** for an **unmanaged/integrated application pool**.

**Max worker process = 1**

IIS structure:
     App pools >> MainAppPool, AppPool1, AppPool2, AppPoo

[2017-11-16 12:00] HansHammel commented on #145
any progress?

[2017-11-16 22:00] shirhatti commented on #145
The current solution is to disable IIS shared configuration before attempting to install ANCM.

The only way we'd work around it would be to impersonate the shared configuration identity and update the IIS configuration in the shared location which can have unintended consequences for scenarios like Web Farms. While some folks might be cognizant of the risks and still want to proceed we definitely

[2017-11-16 22:06] joeloff commented on #145
@shirhatti The hosting bundle will show a message when IIS is not configured. The bundle essentially mimics the launch conditions from the MSI to surface the message and skip running it. If the launch conditions in the MSI changes your team will need to let us know so that we can update the hosting bundle conditions for the MSI to match.

[2017-11-16 22:17] shirhatti commented on #145
I don't follow, this is not a launch condition. The custom action that modifies applicationHost.config fails with a well-known error code which is evident from the msi logs

[2017-11-16 22:22] joeloff commented on #145
Ah, you mean the error from the MSI? No - it will only report that a package in the bundle failed to install, the detail is kept in the individual MSI log. However, if there is a way to detect this invalid condition, we could surface the warning earlier stating that we won't install ANCM. Not installing ANCM is better than not installing the bundle at all I think.

So this is something that the MS

[2017-11-17 05:33] danielcrenna opened #250 "AspNetCoreModule is ignoring request validation hints during redirection"
I am using the .NET Core Redirection Module to forward some external traffic to an internal URL.

The logs on the IIS reverse proxy site appear fine.

[code]

This results, I think understandably, in a validation rejection, due to the port delimiter:

`A potentially dangerous Request.Path value was detected from the client (:)`

However, I cannot get the AspNetCoreModule to respect `web.config` ch

[2017-11-17 09:38] letrungkien211 commented on #166
I am facing the exact same problem. Any workaround for this?

[2017-11-17 20:38] jkotalik opened #251 "Support standalone applications for In-Process ANCM."
Currently today we [always search for dotnet.exe ](https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/inprocessapplication.cxx#L449)without reading the processPath in web.config. We should read whether the processPath is for dotnet or not and handle standalone applications accordingly. hostfxr.dll should be in the standalone application, but we need to confirm that calling host

[2017-11-17 20:46] jkotalik opened #252 "Add kill bit support to ANCM"
We want the ability to be able to kill the global shim and request handler in the worst case scenario. We can add a kill bit to handle that.

[2017-11-17 20:47] jkotalik opened #253 "Add signature check between shim and request handler"
The ANCM shim will only load signed Request Handler dlls. The shim should check that the signatures are the same between it and the request handler.

[2017-11-17 20:49] jkotalik opened #254 "Add registry key to disable standalone and inprocess applications"
If an admin would like to disable inprocess applications (for whatever reason), we should add a registry key that will disable this configuration.

[2017-11-17 23:38] jkotalik opened #255 "Verify in-process fails fast and logs error message when running with Full Framework."
As we don't support full framework for in-process, we want to fail fast and make it very apparent that they must target core. This check would happen in the shim.

[2017-11-21 13:52] yasmoradi commented on #247
I've updated to .NET Core Windows server hosting 2.0.3 & .NET 4.7.1 + I've restarted server + I've installed all Windows server updates.
Nothing changed and we're experiencing this issue /-:
Shall we update to windows server 2016?

[2017-11-21 15:51] tfsjohan opened #258 "aspnetcore!RegisterModule+9f7b aspnetcore.dll caused an access violation exception (0xC0000005)"
I'm having a problem where a ASP.NET Core 2 app running on IIS crashes at random times and stopping the AppPool. It can run for many hours without problems and then suddenly crash.

I have tried to get help with the issue on Stack Overflow and has described some errors and warnings there:
https://stackoverflow.com/questions/47399536/asp-net-core-2-iis-apppool-crashes-and-stops

I've also used Debu

[2017-11-22 00:52] chrisckc opened #259 "Json Serializer ReferenceLoopHandling / Truncated response / Chunked terminator behaviour"
Hi,

This is a continuation of an issue that i and others have previously raised with v1.x

[https://github.com/aspnet/IISIntegration/issues/285](https://github.com/aspnet/IISIntegration/issues/285)

[https://github.com/aspnet/AspNetCoreModule/issues/26](https://github.com/aspnet/AspNetCoreModule/issues/26)

I wanted to re-test the behaviour of this so I upgraded a test project i originally create

[2017-11-22 03:46] Tratcher commented on #259
This issue was moved to aspnet/Home#2285

[2017-11-22 03:46] #259 closed, assigned to nobody

[2017-11-22 04:30] Tratcher commented on #259
RE: 4. I've run your repro and while I do see confusing behavior, I don't see an actual chunk terminator anywhere. The browsers appear to process and report errors differently for compressed responses. If you use a tool like Fiddler you'll always see an error for the missing terminator.

[2017-11-23 04:52] pan-wang opened #260 "App Warmup failed under stress if backend process failed to start"
Reported from AppService that App WarmUp sometime failed for core app.
so far we cannot repro on local server. On possibility is about how ANCM handles dotnet.exe start failure, i.e., child request for retry. Will change the retry mechanism without child request.

[2017-11-23 13:27] tyteen4a03 commented on #77
Can reproduce this issue on ASP.NET Core 2.0. Sending `CloseOutputAsync()` to clients in `Startup.OnShutdown` does not help.

[2017-11-25 16:27] niemyjski commented on #77
Any updates?

[2017-11-25 19:18] pan-wang commented on #77
Which version of aspnetcore.dll is used here? You can find this dll under system32\inetsrv folder.

[2017-11-25 20:14] niemyjski commented on #77
2.0.3

[2017-11-25 20:15] niemyjski commented on #77
Also we are running on azure

[2017-11-25 20:53] holm-dk commented on #29
Any updates on this? It's truly a must have feature...

[2017-11-27 02:18] John0King commented on #150
@Tratcher   Is there a way to config IIS Express in Visual Studio with a Asp.Net Core App to use a SubApplication Path ?
I try to set `"applicationUrl": "http://localhost:2820/subApp"`  in `iisSettings` node   but It doesn't work

[2017-11-27 22:08] pan-wang opened #261 "limit the number of log files"
When user enables stdout in web.config, ANCM will create a log file for each child process and never clean/remove it. This will leave too many log files. We need a mechanism to clean/remove stale log files.

[2017-11-28 22:47] jkotalik commented on #261
This feature would be for both in-process and out-of-process applications. Proposal: add two configuration options called "MaxLogFileCount" and "MaxLogFileSize" to match IIS's behavior. On creation of a log file or exceeding the file size, we would check the number of log files and delete the oldest one if we exceed the maximum.

[2017-11-29 19:31] shirhatti commented on #261
This is a lower priority than the diagnostics work

[2017-11-29 19:39] shirhatti opened #262 "Uber issue for security"
- [ ] https://github.com/aspnet/AspNetCoreModule/issues/254
- [ ] https://github.com/aspnet/AspNetCoreModule/issues/253
- [ ] https://github.com/aspnet/AspNetCoreModule/issues/252

[2017-11-29 19:41] shirhatti commented on #251
Blocked on https://github.com/dotnet/core-setup/issues/3458

[2017-11-29 19:47] shirhatti commented on #247
@jhkimnew Can you follow-up @ysmoradi for repro details?

[2017-11-29 19:54] shirhatti commented on #243
I'll set up a design meeting

[2017-11-30 01:05] jhkimnew commented on #258
Hi,

The AV happened from the line "IHttpResponse * pResponse = m_pW3Context->GetResponse();" of the below function because the m_pW3Context was pointing some valid address and therefore caused the Access Violation error.

<><><>
VOID
FORWARDING_HANDLER::OnWinHttpCompletionInternal(
    HINTERNET   hRequest,
    DWORD       dwInternetStatus,
    LPVOID      lpvStatusInformation,
    DWORD       dw

[2017-11-30 01:34] jhkimnew commented on #247
Hi, @ysmoradi

First of all, you don't need to update OS and need to figure out why that happens.

Here I listed the possible reasons below.
Could you check if this helps to figure out the reason?

1. You might set processesPerApplication with 2 for the WebApp2,4.

2. Or, there is orphaned process while recycling the w3wp.exe worker process which was created for the Web2,4.
(FYI, When recycling w3

[2017-11-30 01:50] jhkimnew commented on #247
@ysmoradi Please take a look at the event viewer logs together while you are reproducing the issue to check if there is anything suspicious log, which might be helpful to narrow down the issue.

[2017-11-30 05:03] pakrym opened #263 "AspNetCoreModuleX64Location and AspNetCoreModuleX86Location are wrong"
During https://github.com/aspnet/AspNetCoreModule/commit/c12c938d4a69b08f7ea7a133f5139882c4f8caca `.props` wasn't updated:

https://github.com/aspnet/AspNetCoreModule/blob/dev/nuget/Microsoft.AspNetCore.AspNetCoreModule.props#L4

/cc @jkotalik

[2017-11-30 11:27] yasmoradi commented on #247
@jhkimnew Maximum worker processes in IIS app pool config is 1.

ASP.NET Core module config section of our web config has no value for processesPerApplication, so based on defaults, its value is 1. (To be honest, we've configured Signalr 2 without any back such as sql or redis, so, we're not interested in extra processes in any way)

I appreciate the scenario you've imagined about orphan processes

[2017-11-30 15:18] yasmoradi commented on #247
AspNetCoreApp1-Process
AspNetCoreApp2-Process
AspNetCoreApp3-Process
AspNetCoreApp4-Process
AspNetCoreApp5-Process
**AspNetCoreApp5-Process >> Again!**

6 w3wp.exe processes which is acceptable. We've 5 asp.net core apps in separated app pools + default app pool which has no asp.net core app inside.

[2017-11-30 19:11] jhkimnew commented on #247
Hi, @ysmoradi

Here are some questions and suggestions.

1. I don't get what you mean with "AspNetCoreApp5-Process >> Again!". Would you give more information what you did and how you got the information?

You did not give any detailed information. You told you only start IIS after killing all the process, which does not make sense because IIS worker process is started only when there is a request

[2017-11-30 19:48] jhkimnew commented on #247
Hi, @ysmoradi

Can you confirm if the App5 is an executable file such as AspnetCoreApp5.exe? Or, is it a dll file which is supposed to be launched with donet.exe?
I will assume that it is an executable file and here is one suggestion to narrow down the issue.

Please do this.

1. Open Task manager

2. Kill all the w3wp.exe
You will see all the backend application process including the AspetCoreApp

[2017-12-01 05:55] glennc opened #265 "ANCM in-process"
Uber issue for supporting in-process hosting in ANCM.

Initial testing has shown that an in-process hosting option in ANCM will provide significant performance and diagnostic gains when running with IIS.

In-process will not be the default hosting model for some time.

[2017-12-01 05:57] glennc commented on #265
@jkotalik outside of not being able to have multiple apps in a single app pool I am not clear what all the downsides to in-proc are. Are there other limitations?

[2017-12-01 06:08] DamianEdwards commented on #265
Clarification regarding "default": it **is** intended that in-process would become the default for new ASP.NET Core projects targeting 2.1 or higher.

[2017-12-01 17:35] jkotalik commented on #265
@glennc I don't think there are other main downsides from a customer standpoint, besides being windows specific.
@DamianEdwards are we still under the assumption that in-proc will be the default, but opt-in for 2.1?

[2017-12-01 18:29] dasMulli commented on #30
This issue is requiring more and more complex workarounds for users in different deployment scenarios and the needed documentation seems overly complex for a simple deployment (@guardrex ?).

Right now, https://github.com/aspnet/websdk/issues/152#issuecomment-348569871 suggests the following target to be created in order to work for all publishing methods:

[2017-12-01 18:39] guardrex commented on #30
My intention is to update the workaround in the *Directory Structure* topic. Otherwise, our advice would be 'you just need to create the folder' and leave the reader hanging on how to automate it. But yeah ... I've been very interested in this one for a long time (see: https://github.com/dotnet/cli/issues/1396 ... February of 2016).

[2017-12-01 18:51] jhkimnew commented on #247
@ysmoradi Is there any update on this issue?

[2017-12-01 19:08] jhkimnew commented on #247
@ysmoradi One more thing. If the issue does not happen in dev environment, I think it is worth to check the file version of aspnetcore.dll in IISExress version the aspnetcore.dll in IIS of the repro machine in order to check if this issue happens with a specific aspnetcore.dll version or not.

[2017-12-01 19:12] pan-wang commented on #30
Ack. It's in the list of improvements and will be ready soon. Note that the folder creation may still fail if worker process does not have the write permission to the target folder.

[2017-12-01 19:14] guardrex commented on #30
@pan-wang ~Seems like that's worth mentioning in the doc update, correct?~ I added it.

[2017-12-02 03:10] DamianEdwards commented on #265
The assumption is that **new** 2.1 projects use in-proc, existing apps or projects updated to 2.1 would not. We need to design how to make that happen.

[2017-12-02 05:22] Tratcher commented on #265
It's a new project setting you would add to the template (launch settings?). New projects would get it but upgraded ones wouldn't have it.

On a different note, making this the default for 2.1 is aggressive from a quality perspective. The last schedule I saw did not include any public previews with a working tooling experience so we'll get minimal feedback before 2.1 releases.

The other new restr

[2017-12-02 09:27] yasmoradi commented on #247
Thanks for your attention

First of all, AspNetCoreApp5 is an executable due being compiled by full .net framework.

I can't send requests to AspNetCoreApp5 only, due this is hosted in production. All applications are under load. I try to copy virtual machine and perform this test in isolated environment. I've seen fantastic kubernetes copy/paste whole environment in azure, but we're relying on si

[2017-12-04 22:49] jhkimnew commented on #247
Hi @ysmoradi,
I am not clear why you are saying about Azure here? To make it clear, can I ask one more thing?
Does that mean you don't have your own IIS sever for testing purpose? Or, are you saying that the issue is  reproducible only from the application which is deployed/published to Azure? In my opinion, to make debugging easy, I think you should test using your own IIS server and that will be

[2017-12-05 04:15] jkotalik commented on #263
#264

[2017-12-05 04:15] #263 closed, assigned to nobody

[2017-12-05 05:03] jkotalik opened #267 "ANCM stdout logs fail to create logs for absolute paths."
Mostly a note for when we add logging to the shim and #232, [this check is incorrect for absolute file paths](https://github.com/aspnet/AspNetCoreModule/pull/232/files#diff-acdf64ca39d116f420e79aab69bed017R96).

[2017-12-05 08:38] yasmoradi commented on #247
I confirm all aspnetcore.dll versions are the same (IIS & IIS-Express of our machine and IIS of Production VM)
Yeah, we've deployed our app to Windows Server VM on azure. But I think the problem is not related to azure. We've lots of other apps with the same architecture on azure which are working really fine.
Within the next sprint, we're going to perform these actions:
1- Develop/Test on top of

[2017-12-05 16:06] Styxxy opened #268 "Document install arguments"
Hi,

Are the command line arguments "OPT_INSTALL_LTS_REDIST" and "OPT_INSTALL_FTS_REDIST" still valid? What do they do?

Are there options to disable to "trying" to install the runtime and VC Redist?

[2017-12-05 23:48] jkotalik commented on #268
@shirhatti

[2017-12-06 07:30] aleha84 commented on #166
is there any progress?

[2017-12-06 18:41] jkotalik opened #270 "requestTimeout properties must be specified to in whole minutes"
We should consider updating the aspnetcore_schema to validate to the nearest second rather than nearest minute on the requestTimeout property. See https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/aspnetcore_schema.xml#L22

[2017-12-07 05:32] letrungkien211 commented on #166
One vote, please work on this. Since .net core doesn’t support QueueWorkItem... so I need to control OnStopping event to clean up background tasks.

[2017-12-07 20:35] ericgla commented on #222
You can set the environment variable ASPNETCORE_PORT to force ANCM to use a specific port.

`<aspNetCore ....>
    <environmentVariables>
        <environmentVariable name="ASPNETCORE_PORT" value="12345"
    </environmentVariables>
    </aspNetCore>
`

[2017-12-07 20:56] KLuuKer commented on #29
@Tratcher can we please get a milestone on this issue?

[2017-12-07 20:57] Tratcher commented on #29
@shirhatti

[2017-12-07 23:02] pan-wang commented on #29
I will do some investigation on the possibility

[2017-12-08 05:36] borgdylan commented on #222
AFAIK, it is given by ANCM. ANCM does not read that environment variable.

[2017-12-08 05:55] jkotalik commented on #222
Yeah, ANCM selects a random port.  See https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/serverprocess.cxx#L81.

We are making a few improvements to ANCM today such that the static port assignment will be less of an issue. The primary one will be a new inprocess model which will run dotnet in the same process as w3wp, removing the need to launch dotnet and select a new port.

[2017-12-08 06:46] borgdylan commented on #222
I am using the desktop CLR, not CoreCLR. Can that be hosted like dotnet like Helios used to do?

[2017-12-08 11:14] davidfowl commented on #222
No it will not work for full Framework. It’s core clr only.

[2017-12-08 16:23] ericgla commented on #222
We use this environment variable is production, and the environment variable port takes precedence over selecting a random port as long as it's in the valid port range.  See
[https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/serverprocess.cxx#L129](https://github.com/aspnet/AspNetCoreModule/blob/dev/src/AspNetCore/Src/serverprocess.cxx#L129)

[2017-12-08 16:57] ericgla opened #271 "Add hook for middleware between IIS <-> AspNet Core application"
We ran into an issue porting an existing web api application.  We expose a public API one one port, and an admin API on a separate port that is only accessible from behind the firewall.  After looking through the AspNetCoreModule code, I see that there is always a single binding between the module and the application.

I don't think it makes sense to have Kestrel listen on multiple ports based on

[2017-12-08 17:10] Tratcher commented on #271
The external port is already available in the Host header.

[2017-12-08 17:35] ericgla commented on #271
Not sure how I missed that...  Thanks!

[2017-12-11 17:02] Tratcher opened #272 "Application pool crashing issue"
_From @mshanmugam80 on December 8, 2017 12:41_

Hi There,

I have deployed aspnet core app in IIS and I am facing app pool crashing issue frequently in production environment.

OS: Windows Server 2012 R2
IIS: Version 8.5
dotnet: Version 2.0.2

I have created separate pool for my app in IIS and configured app pool like below,
.NET CLR Version -> No Managed Code
Managed pipeline mode -> Integrated

[2017-12-11 17:41] aymericb commented on #272
I noticed something similar on [Stack Overflow](https://stackoverflow.com/questions/47399536/asp-net-core-2-iis-apppool-crashes-and-stops)

[2017-12-11 23:32] jhkimnew commented on #247
@pan-wang
I ran into a similar issue with a combined user scenario of putting app_offline.htm and removing app_offline.htm and then changing web.config file. In that case, we noticed there is reference counter is messed up and failed to recycle the application after the web.config file change happens. After the problem happens, if I send another request, there is a new backend application created,

[2017-12-12 10:41] albigi commented on #235
are you flushing the response progressively using Chunked Transfer Encoding in your dotnet app?

[2017-12-12 21:19] sepehr1014 commented on #272
We're having this issue as well. Any workarounds?

[2017-12-13 08:51] albigi commented on #55
definitely something related to the dynamic compression module. the same behavior occurs for static files not handled by ANCM at all.

[2017-12-13 09:43] sepehr1014 commented on #272
We're seeing application error related to asp net core module:

[code]

[2017-12-13 15:01] gezzahead commented on #48
We are facing the same issue as @salihigde and @MicheleRezk. We also found that running the long-running call on the production server itself works (ie. no timeout), but from anywhere else (ie. not on the server) it times out.  We updated the connectionTimeout Website Default (as suggested by @pan-wang), and also the specific connection time-out on the site (under the 'Limits...' section) but none

[2017-12-13 15:58] salihigde commented on #48
@gezzahead himm 2 minutes made me think about the timeout on Kestrel because its default value is 2 minutes. In the second link you will see _keepAliveTimeout parameter and its value is set to 2 minutes for default. maybe setting that parameter to bigger value might solve your problem?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#when-to-use-kestrel-

[2017-12-13 16:26] gezzahead commented on #48
Thanks a lot @salihigde, an initial experiment seems to suggest this fixes it!! We added the options to UseKestrel
`                var host = new WebHostBuilder().UseKestrel(o =>
                    {
                        o.Limits.KeepAliveTimeout = TimeSpan.FromMinutes(30);
                    }
                )`
Will test further, but this looks like the answer we've spent all day trying to

[2017-12-13 18:35] salihigde commented on #48
@gezzahead your welcome :)

[2017-12-13 19:00] rpgh1020 opened #275 "DotNetCore.1.0.8_1.1.5-WindowsHosting Missing aspnetcore.dll"
I am not sure what I am missing here since I have installed an older version of this package on other servers with success, but this time I am not getting the aspnetcore.dll module installed in the inetsrv folder.  I am installing the package DotNetCore.1.0.8_1.1.5-WindowsHosting.exe onto Server 2012 R2 but never getting that dll to drop.  I also have .net 4.7 installed...not sure if that matters.

[2017-12-13 23:49] jkotalik commented on #275
Yeah... I'm seeing the same behavior for the 2.0.3 build. @shirhatti @joeloff is this a well know issue? If so we need to create new hosting bundles asap.

[2017-12-14 00:05] joeloff commented on #275
@rdpettigrew can you attach the logs from the install? It's not a known issue, but files can get removed during upgrades under certain conditions. I'll need to see the setup logs for ANCM (not the hosting bundle logs as those only contain summaries)

[2017-12-14 00:18] joeloff commented on #275
Just out of curiosity, is IIS enabled on these machines? The hosting bundle will show a message if IIS is not enabled, and subsequently skip installing ANCM, but it won't stop you from installing the bundle.

Also, having .NET 4.7 installed should impact anything AFAIK. For the older hosting bundles we used to have a block if we didn't find .NET 4.5 (but that was a leftover from the DNX days) that

[2017-12-14 00:21] jkotalik commented on #275
Here are the logs from when I run the 1.0.8 bundle.

[code]

[2017-12-14 00:33] jkotalik commented on #275
@joeloff I tried to install both of the msi directly from \\funbox\Release\AspNetCoreModule\v1.0.1987 and \\funbox\Release\AspNetCoreModule\v1.0.1988 and they worked. It only failed with the server hosting bundle.

[2017-12-14 01:59] joeloff commented on #275
It looks like the bundle is failing to detect IIS. I need to look at this in more detail tomorrow morning. We had this problem back in 1.1.4 I think, but we fixed it. I wonder if a bad merge somehow propagated the old bug into the new versions again.

[2017-12-14 10:13] sepehr1014 commented on #272
Here's our error report:

[code]

[2017-12-14 11:11] killwort commented on #77
I'm having same problem. First WebSocket connection is getting served correctly (almost, as it breaks on close), all other connections are broken from the start. Here's stack trace for the failure:
[code]
Inner exception:
[code]
aspnetcore.dll v 7.1.1967.0
Microsoft.AspNetCore.WebSockets 2.0.1

[2017-12-14 16:27] sepehr1014 commented on #167
We had the exact same issue & downgrading to 7.1.1972.0 fixed our problem. This is a severe bug requiring immediate action.

[2017-12-14 16:27] sepehr1014 commented on #272
It seems related to #167

[2017-12-15 01:02] jkotalik commented on #275
@rdpettigrew thanks for finding this issue. We will notify you when new builds are available.

[2017-12-15 06:52] killwort commented on #77
Well, it seems that WebSockets doesn't work inside MVC controllers. I've moved my socket-related code to middleware and it works now.
Still there's a problem with closing connection, I'm getting exceptions on server side (`The remote party closed the WebSocket connection without completing the close handshake`) when client just disposes connection without calling Close or on client side when I try

[2017-12-15 07:26] John0King commented on #265
Does this allow us to direct copy/replace files without stop application pool first ?

[2017-12-15 10:40] davidfowl commented on #77
It should work fine in mvc controllers and you’re likely not shutting down the websocket connection properly

[2017-12-15 15:07] rpgh1020 commented on #275
No problem. Thanks for all your help as well.

[2017-12-15 19:17] pan-wang commented on #77
@killwort could you please share a simple repro of your websocket app which hit close issue. I think the closed issue was fixed on September (build 7.1.1984 and later).  Yours might be another variance missed.

[2017-12-18 10:38] killwort commented on #77
@pan-wang I've tried to strip my project of all private things and it suddenly started to work as designed. Most probably there's something wrong with object lifetime, I'm using Autofac as IoC/DI container and it may interfere with WebSockets. Anyway, I'm happy with middleware-base websocket solution.

[2017-12-18 13:02] davidfowl commented on #77
@killwort what does your controller look like?

[2017-12-18 15:03] cinaradem commented on #235
I am using the dotnet core compression library. I can not see the 502 faults on the application insight.
can this error be between acis iis and asp.net core?
its startup.cs

   public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
        {
 app.UseMiddleware<ResponseCompressionQualityMiddleware>(new Dictionary<string, double>
                {

[2017-12-18 20:55] niemyjski commented on #77
I have a fully running sample here: https://github.com/exceptionless/exceptionless/tree/feature/core :) the ui project also has a matching core branch (this will be moved to master soon).

[2017-12-19 04:46] killwort commented on #77
@davidfowl :
[code]
I doubt it is related with controller code as I tried to extract minimal reproducing code from my project and it somehow works.

[2017-12-19 16:34] mtinnes commented on #272
Same issue.. so recommendation is to downgrade to the an older hosting bundle?

[code]

[2017-12-19 16:48] Tratcher opened #278 "dotnet.exe restart"
_From @ili on December 19, 2017 13:27_

Hello,

I've faced with strange situation - `dotnet.exe` hosted on IIS (Windows Server 2012 R2) is periodically shut down.

While testing our application on high load we do see strange situations - periodically we do have long answer time from server (eg normal answer time is 300ms and long one is 15000 - 20000 ms).

While investigating this we've found out

[2017-12-19 18:43] mtinnes commented on #167
Same issue with the same server configuration:

[code]

[2017-12-20 13:56] albigi commented on #235
the 502 error is surely coming from the IIS on App Service which is acting like a reverse proxy. what it is actually complaining about is an invalid response from the dotnet application it is proxying to.

what I observe in the failed request trace is initially data starts to flow just fine, then suddenly the connection to the backend application goes down.
do you have Kestrel logs from the applic

[2017-12-20 22:17] muratg commented on #169
This doesn't seem to be necessary anymore with the hostfxr changes

[2017-12-20 22:17] #169 closed, assigned to nobody

[2017-12-20 22:20] muratg commented on #16
@bangbingsyb Does the new IIS compression module solve this issue?

[2017-12-20 22:21] muratg commented on #23
This is unlikely to be done. Closing.

[2017-12-20 22:21] #23 closed, assigned to nobody

[2017-12-20 22:23] muratg commented on #25
Closing this stale issue.  If folks are still having issues, please reactivate or file a new one.

[2017-12-20 22:23] #25 closed, assigned to pan-wang

[2017-12-20 22:24] muratg commented on #27
Closing because this went stale.

[2017-12-20 22:24] #27 closed, assigned to nobody

[2017-12-20 22:25] muratg commented on #28
Closing this for now.  We'll re-open in case we decide to implement push promise in ASP.NET Core stack.

[2017-12-20 22:25] #28 closed, assigned to nobody

[2017-12-20 22:28] muratg commented on #29
@pan-wang @shirhatti closing this one. @shirhatti will file another bug to see if this just works in in-proc case.

[2017-12-20 22:28] #29 closed, assigned to pan-wang

[2017-12-20 22:33] muratg commented on #30
Thanks @guardrex for the doc update!  https://github.com/aspnet/websdk/issues/273 would also mitigate this in the publish case (causing the folder to be created at the time of publish.)

Closing this. @shirhatti reminder:  please follow up with @vijayrkn on the status of the websdk bug.

[2017-12-20 22:33] #30 closed, assigned to pan-wang

[2017-12-20 22:37] muratg commented on #38
Per triage:  We'll need to schedule a meeting to decide the behavior we want for 2.1 timeline.

cc @davidfowl @anurse @Tratcher @pan-wang

[2017-12-20 22:38] muratg commented on #43
@pan-wang We believe this is fixed. Could you confirm (and close as needed) please?

[2017-12-20 22:41] muratg commented on #49
This is not needed as much with the in-proc model. Also stale bug :D

[2017-12-20 22:41] #49 closed, assigned to nobody

[2017-12-20 22:44] muratg commented on #51
What @jhkimnew said above.

[2017-12-20 22:44] #51 closed, assigned to nobody

[2017-12-20 22:44] muratg commented on #52
:+1:

[2017-12-20 22:44] #52 closed, assigned to nobody

[2017-12-20 22:46] muratg commented on #55
@bangbingsyb Will the new IIS compression module mitigate this?

@Tratcher Do you recall any other mitigation we may have?

cc @shirhatti

[2017-12-20 22:49] muratg commented on #60
@blowdart Is this OK to close?

[2017-12-20 22:50] muratg commented on #64
Assigning to @shirhatti who will create an uber-issue related to port-collision issues and close all the filed bugs like this.

[2017-12-20 22:53] muratg commented on #65
Filed a doc bug here: https://github.com/MicrosoftDocs/iis-docs/issues/111

Closing this one.

[2017-12-20 22:53] #65 closed, assigned to shirhatti

[2017-12-20 22:54] muratg commented on #66
:+1:

[2017-12-20 22:54] #66 closed, assigned to nobody

[2017-12-20 22:54] blowdart commented on #60
Sure

[2017-12-20 22:56] muratg commented on #79
@toblea Looks like there wasn't much traction on this bug. I'll close this, but if you still have issues, please let us know and we'll reactivate. Or better yet, file another one with your current details. Thanks.

[2017-12-20 22:56] muratg commented on #79
@toblea Looks like there wasn't much traction on this bug. I'll close this, but if you still have issues, please let us know and we'll reactivate. Or better yet, file another one with your current details. Thanks.

[2017-12-20 22:57] muratg commented on #80
@shirhatti is looking into this.

[2017-12-20 22:59] muratg commented on #81
Fixed in https://github.com/aspnet/AspNetCoreModule/pull/102 in 2.0.0 timeline.

[2017-12-20 22:59] #81 closed, assigned to pan-wang

[2017-12-20 22:59] muratg commented on #82
Fixed in  https://github.com/aspnet/AspNetCoreModule/pull/102.

[2017-12-20 22:59] #82 closed, assigned to nobody

[2017-12-20 23:01] muratg commented on #84
cc @shirhatti

[2017-12-20 23:03] muratg commented on #86
Very easy workaround.

We won't be fixing this.

[2017-12-20 23:03] #86 closed, assigned to nobody

[2017-12-20 23:05] muratg commented on #87
@mateanticevic Were you able to do any more  investigation on this? Any leads?

[2017-12-20 23:10] muratg opened #280 "ANCM should set `X-Forwarder-Host header`"
See the initial discussion at https://github.com/aspnet/AspNetCoreModule/issues/89

[2017-12-20 23:10] #89 closed, assigned to nobody

[2017-12-20 23:10] muratg commented on #89
Tracking work in the linked issue

[2017-12-20 23:14] muratg commented on #92
Based on our triage discussion I'm closing this one.  We'll revisit if there's more interest.

[2017-12-20 23:14] #92 closed, assigned to nobody

[2017-12-20 23:15] muratg commented on #94
@shirhatti will be collecting all port issues in a single uber-issue to drive the higher level requirements and design.  He'll link this bug and close it.

[2017-12-20 23:16] muratg commented on #96
No updates / no repro. Closing this one.  Please file another one with W3WP dump if you're still having issues.

[2017-12-20 23:16] #96 closed, assigned to nobody

[2017-12-20 23:19] muratg commented on #108
@pan-wang Could you share the details of your initial prototype?

[2017-12-20 23:21] muratg commented on #112
No repro

[2017-12-20 23:21] #112 closed, assigned to nobody

[2017-12-20 23:22] muratg commented on #116
@pakrym could you link the SiteExtensions bug + the current status here?

[2017-12-20 23:31] pakrym commented on #116
@muratg ANCM dll's are already included in runtime site extension that I'm currently finishing building on CI. @jkotalik  was investigating XDT transformations required to run ANCM from site extension on Antares.

[2017-12-20 23:31] pakrym commented on #116
https://github.com/aspnet/AzureIntegration/issues/105

[2017-12-20 23:36] #60 closed, assigned to nobody

[2017-12-20 23:37] muratg commented on #116
@pakrym Sounds good, that's what I thought.

Closing this one as the overall work is tracked there: aspnet/AzureIntegration#105

[2017-12-20 23:37] #116 closed, assigned to nobody

[2017-12-20 23:41] pan-wang commented on #108
@muratg  After prototyping, I realized that ETW cannot be handled well for the scenario that both IIS and IIS Express have ANCM installed. This is because the ETW manifest file does not have a version control and will be singleton per machine. So we decide to switch back to the old window logging mechanism so that we can have different event provider name at runtime to distinguish the event source

[2017-12-20 23:44] pan-wang commented on #108
for tracing, we will enable file logging for stderr be default (and delete the file later if no error was logged).
We will add more log entries for in-process and out-of-process. This logging work will be added soon as part of refactoring

[2017-12-21 00:12] bangbingsyb commented on #16
@anurse I will test this with the new compression scheme.

[2017-12-21 00:21] bangbingsyb commented on #55
@muratg It looks like a bug in the compression modules or IIS core. Unfortunately, the new compression schemes we plan to ship won't fix this problem, because they are only extensions to the existing compression modules, and simply provide the actual implementation of IIS HTTP Compression APIs: https://msdn.microsoft.com/en-us/library/dd692872(v=vs.90).aspx

However, I will look into this issue an

[2017-12-21 00:26] tkallsen commented on #52
Hi,

I'm having the same problem (module not installed in IIS / aspnetcore.dll missing under inetsrv), after running the Server Hosting Bundle (https://www.microsoft.com/net/download/thank-you/dotnet-runtime-1.1.5-windows-windows-server-hosting-installer).

I have tried uninstalling and installing a few times, with reboots in between but it doesn't seem to work. This page (https://docs.microsoft.c

[2017-12-21 00:29] tkallsen commented on #52
Another symptom is that IIS fails to read a web.config in IIS Manager if it contains the `<aspNetCore>`-element, but I guess that is just because the ASP.NET Core Module is missing.

[2017-12-21 07:37] toblea commented on #79
😢

[2017-12-21 08:39] albigi commented on #55
@bangbingsyb, see the below FREBs attached.

it looks like the Content-Length header is properly set by the request handler and then when the SEND_RESPONSE notification starts it gets lost in the way.
Oddly, I don't see it being set by the dynamic compression module, but it is still appended to the general response headers prior flushing (I assume by HTTP.sys)

hope this helps

[myrepro.zip](https

[2017-12-21 08:57] tkallsen commented on #52
I created a new issue for this, https://github.com/aspnet/IISIntegration/issues/493

[2017-12-21 09:43] mateanticevic commented on #87
@muratg
No. But I can confirm the issue still exists with AspNetCore 2.0.1.

[2017-12-21 16:41] Tratcher commented on #280
Not preserving the host header would be a severe breaking change. What problem is it solving?

[2017-12-21 17:23] Tratcher commented on #280
Is the concern here that IIS forwards HTTP 1.0 request as 1.1 requests but does not add the required host header? In those scenarios ANCM should add a Host header with no value.
https://tools.ietf.org/html/rfc7230#section-5.4

We have another issue for dealing with empty hosts in the stack overall: https://github.com/aspnet/Hosting/issues/1289

[2017-12-21 18:47] muratg commented on #79
@toblea You're still having issues on this I assume. :bug:

Any more investigations and/or findings on your side?

[2017-12-21 21:02] toblea commented on #79
No, let's close it. Since no one else experience the same, I will go for the hack and stop using the IIS integration when possible.

[2017-12-21 21:14] #79 closed, assigned to nobody

[2017-12-22 00:22] bangbingsyb commented on #55
@albigi  Thanks for the FREBs.

Dynamic Compression module indeed removes the Content-Length header on RQ_SEND_RESPONSE. The reason you don't see such event in FREB is because it directly resets the known header array of the HTTP.sys native request (HTTP_REQUEST structure) rather than calling IHttpResponse::DeleteHeader. I guess the motivation is performance optimization. Check HTTP_COMPRESSION::S

[2017-12-22 00:24] Tratcher commented on #55
Why would Http.Sys add a content-length header for you? That's not one of its features.

[2017-12-22 00:47] bangbingsyb commented on #55
@Tratcher HTTP.sys does set CL on-the-fly in certain scenario, and the behavior is correlated with how IIS calls HttpSendHttpResponse (HTTP_SEND_RESPONSE_FLAG_MORE_DATA) and whether IIS supplies CL. In fact, we've seen bugs that two different CLs are both added for range request.

So to be more accurate, my understanding is that it is OK for the compression module removing CL and not adding back t

[2017-12-22 01:11] Tratcher commented on #55
Nothing can re-add it unless the response is fully buffered. Is buffering enabled but with a limit?

 I've seen that range bug when using kernel mode cache.

[2017-12-22 13:11] niemyjski commented on #77
I deployed Core (v2.0.3 all meta) support to azure(https://github.com/exceptionless/exceptionless/tree/feature/core) and have gotten 3701 of these errors in the past 11 hours.

![image](https://user-images.githubusercontent.com/1020579/34299154-0f2fa064-e6e7-11e7-9929-433df190d3e0.png)

[code]

### Extra Exception properties
[code]

[2017-12-22 13:23] niemyjski commented on #77
I'm also getting this exception and looking into these issues it looks like they are related: https://github.com/aspnet/WebSockets/issues/207

[2017-12-22 19:21] muratg commented on #77
cc @anurse @Tratcher in case they have some thoughts on this issue.

[2017-12-22 20:08] bangbingsyb commented on #55
@albigi you mentioned the issue even happens with static file when compression is enabled. Could you provide the repro steps?

[2017-12-22 22:00] nforysinski commented on #278
I am seeing some issues eerily similar to this - can anyone provide some insight?

Our issue is on a fairly high-request API hosted in an Azure App Service, randomly the app stops answering to requests and when looking at stdout logs, there is a random application shutdown and a new process is spun up. The problem is that this tends to cause threads to stack up and the process seems to not spin up

[2017-12-22 22:06] nforysinski commented on #260
I am seeing issues very consistent with this behavior. ASP Net Core 2.0 app hosted on Azure App Service. Occasionally any app condition that results in a restart or recycle of the app causes the app to stop responding and reporting 502.3 results consistent with kestrel timeouts. The app does not recover unless we manually restart the app service, change the instance count, or perform a slot swap.

[2017-12-22 23:05] olitomlinson commented on #260
We get 500s after a platform event has occurred such as a restart or a new worker Is assigned, and definitely not when the App is under load. Only way to resolve is with a restart of the App Service.

[2017-12-22 23:11] jkotalik commented on #278
We are still investigating this issue on our side too. The best help to us is to provide any logs of the behavior you are seeing, preferably a repro if you have it. If you have ETW and stdout logs you would like to share, you may email my email listed on my profile. Many people are hitting this issue (or a similar issue) and we want to identify a fix ASAP.

[2017-12-22 23:24] nforysinski commented on #278
I've reviewed stdout logs several times and all we ever see is "Application Shutdown..." on all processes. However, we took dumps of all of the activity at that time, and I will email it over.

Additionally, we have been corresponding with Azure on this issue and they claim it MAY be part of a bug they are actively investigating as well.

[2017-12-22 23:25] jkotalik commented on #260
@nforysinski @dotdestroyer if you guys have any logs (application or ETW), feel free to share with me at my personal email. We are investigating this issue.

[2017-12-23 02:10] nforysinski commented on #260
@jkotalik i sent you some info, but wanted to ask if you thought rolling back to a previous version of netcore could help. We are running on 2.0.1 and dont mind rolling back to 1.x for the time being until there is a fix. This problem is super disruptive to us (and made worse by it being random and unexpected) so we wanted to see if there was any kind of work-around to get us through the time bein

[2017-12-23 02:51] pan-wang commented on #260
It is nothing related with asp.net core version. The issue is appwarmup module sends a faked request to warm up the application and listens on io completion synchronizely. For some reason,  the io callback never happens (could be a leak of request in aspnetcore module which is global singleton and not controlled by the app or bug in io layer) and thus causes IIS worker process hangs.  So far we ca

[2017-12-23 03:04] nforysinski commented on #260
@pan-wang we are hosting on azure app services so we don't have that level of control over IIS, unless im missing something.

[2017-12-23 03:22] pan-wang commented on #260
App Service does allow user to tune IIS settings via site extension.  One of our CCS did it for another customer.  Let me ping him to get the whole solution and then update you.  Please expect some delay due to holiday.

[2017-12-23 04:32] pan-wang commented on #260
[How.to.disable.preload.docx](https://github.com/aspnet/AspNetCoreModule/files/1598308/How.to.disable.preload.docx)

@nforysinski could you please try the steps in the attached doc to disable app warmup?

[2017-12-24 03:21] davidfowl commented on #77
@killwort That code doesn't look right. Why is it void returning? Where is the websocket loop? That logic might be a bit too minimal.

My only guess is a buggy websocket loop. We haven't been seeing any of these types of issues with SignalR AFAIK. Is IIS involved here? Maybe that has something to do with it...

[2017-12-24 04:43] carlowahlstedt commented on #29
@muratg @shirhatti can we get the linked bug # here?

[2017-12-24 04:49] analogrelay commented on #77
This exception occurs when the request ends while the socket is still active. If the code is as you wrote it, using `async void`, then this would be expected. As soon as you hit the first `await`, the controller method would return (scheduling the rest to run as a continuation) and the MVC action would end, terminating the HTTP request and closing the stream out from under the WebSocket. If you us

[2017-12-26 20:23] heffay commented on #87
Also experiencing this slowness when Web API is hosted behind IIS. It seems to be adding ~225-250ms latency pretty consistently. This is in contrast to directly hosting with kestrel

[2017-12-27 09:20] albigi commented on #55
@bangbingsyb actually I was wrong. The test I did was browsing a plain .html page with dynamicCompression enabled, but the request was handled by PHP instead of the SFHandler. So what I found out now is the chunked transfer encoding header seems to be added when either CGI or Fast-CGI is used to read the response buffer. I can repro with static files as long as a CGI handler is called (could be PH

[2017-12-27 14:19] niemyjski commented on #77
I don't have any async void code in my app, yet setting this as well.

[2017-12-27 22:10] nforysinski commented on #260
@pan-wang we set this up a few days ago and everything seems to be working much better. several app restarts have come through fine and the application hasn't gone into the 502 issues we were seeing previously.

[2017-12-28 06:58] fabercs commented on #150
I do almost same things with the original question;
Differences are I am on production server, I have ASP.NET V4.0 application under `C:\WebApp`
I create new folder `C:\SubApp` and create new .net core subapp under this ASP.NET V4.0 webapp in IIS.

When I call my subapp endpoint, it gives  I get `500 - Internal Server Error`, and I can't get any stdout log or event log.

Is it because of `web.conf

[2017-12-28 13:46] Tratcher commented on #150
Share both web.configs

[2017-12-28 13:56] fabercs commented on #150
@Tratcher So you mean to copy handler section from .net core sub app and paste it to asp.net main app's web.config. Then use this final web.config on both apps, am I right?

[2017-12-28 14:16] Tratcher commented on #150
No, I meant show them to us so we can see if you have anything strange in them.

[2017-12-28 14:23] fabercs commented on #150
Lol :)

Net core
[code]

Asp.Net

[code]

[2017-12-28 15:47] Tratcher commented on #150
That's a busy web.config. I don't see any obvious conflicts. @pan-wang ?

You may need to try simplifying the root web.config until you track down the conflict.

[2017-12-28 18:15] pan-wang commented on #150
@fabercs IIS will show detailed error info (which configuration section is wrong) if you browse from locally or configure allowing remote details. I saw you turned on custom error. Could you please redefine 500 error in sub application to allow detailed error  https://docs.microsoft.com/en-us/iis/troubleshoot/diagnosing-http-errors/how-to-use-http-detailed-errors-in-iis

[2017-12-29 01:08] John0King commented on #150
@fabercs
1.  confirm you installed AspNetCoreModule aka. ANCM
2.  use different ApplicationPool for AspNet (v4) and AspNetCore ( no manage code )
3.  try use this config for AspNetCore
[code]
change the processPath and arguments in `aspNetCore` node to yours .

[2017-12-31 23:45] bangbingsyb commented on #55
@albigi Is it possible to share with me the repro app and configuration? I did quite massive code review during the holiday week, and figured out the root cause. But I need some simply repro app so that once I purpose the fix, I can validate it.

[2018-01-02 02:58] rollsch commented on #260
Could you explain what preload is and why disabling it will likely fix this issue? What are the cons from disabling preload?

Also what is the warmup module. How would I know if I am using it?

[2018-01-02 10:02] nphmuller commented on #260
@pan-wang : When I try to create the file applicationHost.xdt I get the following error:

`409 Conflict: Could not write to local resource 'D:\local\Config\applicationhost.xdt' due to error 'Access to the path 'D:\local\Config\applicationhost.xdt' is denied.'.`

Am I creating the file in the wrong folder? I assumed the file had to live next to the original (`applicationhost.config`).

Also, what i

[2018-01-02 14:37] veatcha commented on #260
@nphmuller - The .xdt file needs to go at the site root - d:\home\site.  If you look at the applicationhost.config after a restart, you should see the change reflected in that file.

[2018-01-02 17:18] analogrelay commented on #77
Yeah, I was referring to @killwort 's example above that seemed to have a `void`-returning method with `await` in it. As I describe above, in any place where you are processing a WebSocket you need to make sure to keep the MVC action or Middleware invocation that called `AcceptWebSocketAsync` running until you finish with the socket, or you'll get exactly this exception (Object Disposed: "FrameRes

[2018-01-02 17:33] niemyjski commented on #77
Here is the place we receive (
https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Api/Hubs/MessageBusBrokerMiddleware.cs#L38)
Everything is isolated to the parent hubs folder :).

Thanks
-Blake Niemyjski

On Tue, Jan 2, 2018 at 11:18 AM, Andrew Stanton-Nurse <
notifications@github.com> wrote:

[2018-01-02 17:35] kerryjiang commented on #272
Same issue.

Is there any resolution?

[2018-01-02 17:43] analogrelay commented on #77
Whats the stack trace for your exception?

[2018-01-02 17:50] davidebbo commented on #260
@nphmuller See also https://github.com/projectkudu/kudu/wiki/Azure-Site-Extensions#debugging-private-extensions for more general info on using/debugging this xdt file.

@pan-wang can you update your Word doc to indicate where the xdt should be created?

[2018-01-02 17:59] mtinnes commented on #272
I've had no issues by reverting to DotNetCore.1.1.0.Preview1-WindowsHosting.exe

[2018-01-02 18:20] kerryjiang commented on #272
But I still need the support of .net core 2.0.

[2018-01-02 18:21] mtinnes commented on #272
As far as I can tell the hosting module .net version does not need to match your app .net version.

[2018-01-02 18:22] kerryjiang commented on #272
That's good news for me, :+1:

[2018-01-02 18:41] pan-wang commented on #260
@davidebbo I have update the doc as you suggested
@rolandh  AppWarm module (aka application initialization) is an IIS native module. It is a useful feature in the scenario that your managed application needs long time to warm up (e.g., loading assemblies, setting up SQL connection, et al), while you want your application to serve some custom page during the warming up instead of just letting clien

[2018-01-02 20:08] niemyjski commented on #77
The full stack trace is in my previous reply (with the image)

[2018-01-02 22:45] analogrelay commented on #77
How is this exception being captured? Is it an uncaught exception or first-chance? It looks like the latter, which seems to be expected behavior based on how the .NET Core ManagedWebSocket code is written.

The stack-trace isn't totally clear (I assume due to async stuff), but I think occurring at [this call of `SendFrameLockAcquiredNonCancelableAsync`](https://github.com/dotnet/corefx/blob/40cbd5

[2018-01-03 10:50] niemyjski commented on #77
It's being logged from the UnobservedTaskException via Exceptionless client that wires up to different handlers. I'm not sure of the sure scope, other than I'm seeing them be logged. I'm guessing a socket is disconnected randomly after dispose and socket state checks?

[2018-01-03 11:59] albigi commented on #55
@bangbingsyb, please see attached. You should be able to repro on Blue and RS2/3 with the dynamic compression module installed. I can share the full source code but it is essentially just a plain asp.net core app with the static file support

[code]
then I just browsed to /app/Index.html

[pub.zip](https://github.com/aspnet/AspNetCoreModule/files/1600223/pub.zip)

[2018-01-03 13:32] stephentoub commented on #77
Presumably this is the same as was addressed in https://github.com/dotnet/corefx/pull/24055.

[2018-01-03 19:00] PaulHuizer opened #282 "Allow sync/xcopy deploy"
I tested ASP.Net Core 2.0 on IIS. All my apps sofar written in WebApi2 are updated by simply copying (xcopy/sync/ftp) new version in the site folder. IIS takes care of loading new versions without further ado in the deployment scripts. Using ASP.NET Core 2.0 I could not get this to work, since the process is alive and keeps underlying files open/locked. I hope this deployment method can be achieve

[2018-01-03 19:37] analogrelay commented on #77
Ah, so we probably just haven't updated from that code in our WebSockets implementation...

[2018-01-04 08:00] sergei66666 commented on #260
Faced with a similar problem. I noticed that this happens after restarting the server. Do not restart the application, namely restart the server. If you look at the field "System up time" in kudu (scm) - it perfectly correlates with the time of inaccessibility of the site.
To reproduce this, I tried to restart the server. But I did not find a way to do it.
Is there some way to do this or maybe sim

[2018-01-04 15:12] vdevappa commented on #260
I see this too - but ~30 second delay for some calls. Definitely all method calls are affected for sure - I had to write a script to call all my APIs the first time after a deployment so my user does not notice this slowness.

"We get 500s after a platform event has occurred such as a restart or a new worker Is assigned, **and definitely not when the App is under load**."

In my case under service

[2018-01-04 15:31] alexsandro-xpt commented on #166
+1

[2018-01-04 19:02] hscanlan commented on #77
I have this exact problem. Is there a quick fix?

[2018-01-04 19:31] analogrelay commented on #77
Depends :). The exception in this case is harmless. It fires the UnobservedTaskException event, but that can be safely ignored. So if it's not causing any other problems in your system, just ignore it or try suppressing the exception in the event handler (if possible). If it **is** causing other problems, please let me know (and preferably file a new issue in aspnet/Home since this repo is technic

[2018-01-04 19:36] hscanlan commented on #77
Alright, so goto 2459 then?

[2018-01-04 19:48] hscanlan commented on #77
How do we work around this problem? It sort of makes WebSockets useless for me if the user gets disconnected, it screws up my middleware and I can't send messages anymore ..

[2018-01-04 21:55] analogrelay commented on #77
@hscanlan which problem are you specifically referring to? [This is the issue](https://github.com/aspnet/AspNetCoreModule/issues/77#issuecomment-353595782) I'm suggesting we move to aspnet/Home#2459 and it should be benign because it's only appearing via the Task.UnobservedTaskException event. The original issue is still open and I believe @pan-wang mentioned that he had a fix for ANCM, but I don'

[2018-01-04 22:20] hscanlan commented on #77
Ah, maybe this isn't the right thread.

The issue for me is that I have a WebAPI2 using Core 2.0 that has a websocket middleware. My frontend site connects no issues, but as soon as I "restart" the front end site (or, if i goto another URl and come back), the connection on the Client says its fine, but the websocket throws this exception:

{System.Net.WebSockets.WebSocketException (0x80004005): Th

[2018-01-04 22:38] analogrelay commented on #77
Can you file a new issue on https://github.com/aspnet/Home for that and tag me in it? If possible, can you provide the code snippets around where you `Accept` the WebSocket as well as where you call `SendAsync`/`ReceiveAsync`?

[2018-01-04 23:42] zygimantas commented on #77
@hscanlan this should be an issue of the browser/client side tooling(webpack?) and restarting dev server closes the connection without proper handshake. It only happens in dev environment and in Chrome only, so, personally, I had to use try-catch for such cases.

[2018-01-05 02:11] shirhatti commented on #29
https://github.com/aspnet/IISIntegration/issues/507

[2018-01-05 13:28] rsrinivasanhome opened #283 "Query Does Kestrel support OCSP Stapling"
Does Kestrel Support OCSP Stapling ?  I am not able to find any links on google.

[2018-01-05 16:13] Tratcher commented on #283
This issue was moved to aspnet/KestrelHttpServer#2244

[2018-01-05 16:13] #283 closed, assigned to nobody

[2018-01-05 21:10] prejeanb commented on #260
@davidebbo and @pan-wang Is there an easy way to script this applicationhost.xdt file addition that appears to resolve this issue? We have numerous ASP.NET Core APIs that can benefit from this, and it seems like this could be generalized and scripted.

[2018-01-06 02:04] davidebbo commented on #260
@prejeanb you should be able to upload the file via the [Kudu vfs API](https://github.com/projectkudu/kudu/wiki/REST-API#vfs).

[2018-01-07 18:17] OracPrime commented on #272
Sadly if try to revert to 1.1 hosting, my app complains that it needs Microsoft.ApplicationInsights.AspNetCore', version: '2.1.1' which is bizarre because  i can find no reference to ApplicationInsights in my project :(

[2018-01-07 18:21] OracPrime commented on #167
If it helps, it's not Server 2012 specific - I'm getting it on Windows 10.

And sadly on Windows 10 (admittedly with a site making heavy use of signalr) it's happening several times an hour [often when the site isn't even being used]

[2018-01-07 18:50] OracPrime commented on #167
I'm also finding it hard to work around.  The new VS2017 publish process expects to find the 2.0 store on the hosting machine for the app.  If I roll back the hosting to 1.1 (by removing 2.0.3 hosting, I'm assuming) then it removes the 2.0 store and the application won't start up.

[2018-01-07 19:37] AndreiGorlov commented on #167
@OracPrime try to install 2.0.3 hosting and replace aspnetcore.dll in %SystemRoot%\system32\inetsrv with 1.1 one.

[2018-01-08 00:04] OracPrime commented on #167
@AndreiGorlov  thanks for the tip.  However I'm finding it hard to find the 1.1 version of aspnetcore.dll anywhere.  Even if I uninstall the 2.0.3 hosting and reinstall 1.1 I end up with the 7.1.1982.0 build.

[2018-01-08 19:44] sepehr1014 commented on #167
@OracPrime When can we except this to be fixed? Are you aware of the team's plans?

[2018-01-08 20:03] OracPrime commented on #167
@sepehr1014  I'm just an end-user struggling with both the problem and the workaround - I've no idea when it's going to be fixed :(  Which is a shame as it's a bit of a showstopper.

@sepehr1014  you said you downgraded to the 1972 build - how did you manage that?  I find I always end up with the 1982 aspnetcore.dll

[2018-01-09 14:33] OmidRafiee commented on #167
My app uses SignalR , Fixed This Bug in Windows Server Hosting 2.0.4

[2018-01-09 18:27] prejeanb commented on #260
Thanks @davidebbo . I did create a PowerShell script that automates this using the Kudu vfs API.. Note: it does require Azure PowerShell to automate the restarting of the web app.
[aspnetcorefix.zip](https://github.com/aspnet/AspNetCoreModule/files/1616177/aspnetcorefix.zip)

[2018-01-09 20:51] OracPrime commented on #167
2.0.4 installed here and whilst it hasn't been up that long, I'm crash free so far (2.0.3 would have had several in the same time frame).  Looking good, thanks guys!

[2018-01-10 12:06] sepehr1014 commented on #167
Unfortunately it still exists for us on 2.0.5 (using .NET 4.7.1 on Windows Server 2016):

[code]

`A process serving application pool '...' suffered a fatal communication error with the Windows Process Activation Service. The process id was '3260'. The data field contains the error number.`

This happens frequently (every 20 minutes or so) and we're using Web Sockets if that's related.

[2018-01-10 15:36] pan-wang commented on #167
@sepehr1014 could please share a repro to my  email address

[2018-01-11 09:14] sepehr1014 commented on #167
@pan-wang This is a really big project (a full blown social network & instant messaging system) we ported from ASP.NET 5 a while back. I have no clue what exactly is causing these issues ...

[2018-01-11 10:18] OracPrime commented on #167
My project using SignalR (indeed [DotNetify](http://dotnetify.net/) with React) is now well past 24 hours without a single problem.  I might just be lucky, but I suspect the problem I was seeing is fixed.

[2018-01-11 19:30] pan-wang commented on #167
@sepehr1014  Does you application reject any request? I have a theory about the potential root cause. Is it possible for you to provide a dump at crash time? you can use windbg to attach w3wp.exe https://github.com/Windower/Issues/wiki/Creating-crash-dumps-with-Windbg. You can notify me at "panwang AT Microsoft dot com"

[2018-01-12 04:16] xt0rted commented on #260
This wasn't mentioned in the post above, but you can create a generic transform that can be applied to any site like so:

[code]

The `%XDT_SITENAME%` value will be pulled from Kudu. There's a few other variables you can use as well that are listed in the [Kudu wiki](https://github.com/projectkudu/kudu/wiki/Azure-Site-Extensions#authoring-xdt-transforms).

[2018-01-12 20:45] prejeanb commented on #260
@xt0rted - Thanks for sharing!  That simplifies the PowerShell script some.  Here is the simplified script...
[aspdotnetcorefixsimplified (2).zip](https://github.com/aspnet/AspNetCoreModule/files/1636430/aspdotnetcorefixsimplified.2.zip)

[2018-01-12 22:29] pan-wang commented on #167
@sepehr1014 could you please ping me at my Microsoft email address. Need your help to verify something.

[2018-01-13 09:33] sepehr1014 commented on #167
@pan-wang Of course. I'd be glad to help! Just sent you the dump file.

[2018-01-13 13:34] sepehr1014 commented on #167
The problem definitely seems related to Web Sockets:
![capture](https://user-images.githubusercontent.com/11347847/34906480-c815275e-f883-11e7-88ab-7b94dce9925b.PNG)

[2018-01-16 21:52] fgather commented on #258
Any update on this? This is a huge showstopper for using Core 2.0 inside an IIS

[2018-01-16 22:31] pan-wang commented on #258
@fgather this double completion issue was already fixed

[2018-01-16 22:40] fgather commented on #258
Hi @pan-wang, you mean in #151 ? I assume there is no compiled version of the dll?

[2018-01-16 22:46] pan-wang commented on #258
try install the latest Windows Server Hosting (.exe) from https://www.microsoft.com/net/download/windows. We always try to address customer's issue with latest release.

[2018-01-17 10:38] DamianEdwards opened #284 "ANCM should suspend request timeouts when the debugger is attached"
Requests shouldn't time out during debugging.

[2018-01-17 18:06] mockjv opened #285 "ASP.Net Core Module (via Hosting Bundle) 500.19 without Wed Deploy or App Runtime Published"
I'm in the process of producing an installer that helps place all of the appropriate pre-reqs on a destination system using Wix. I ran into a bit of an oddity in that if either Web Deploy 3.5 (with the SQL components) or VC++ 2010 Redis is not installed, I receive 500.19 errors if I published the project without a specific runtime (e.g. dotnet publish -f netcoreapp2.0). Once either one of those tw

[2018-01-17 22:09] muratg commented on #255
@jkotalik this should be good to go now, right?

[2018-01-17 22:09] muratg commented on #251
This done in the other repo.

[2018-01-17 22:09] #251 closed, assigned to jkotalik

[2018-01-18 16:51] joshmouch commented on #260
I just wanted to add my experience in case it helps in this.  I'm working with a Microsoft Support employee who's helping me with the following exception that occurs periodically during slot swapping and during auto-scaling operations of my Azure App Service:

`Message: Failed to bind to address http://127.0.0.1:6629: address already in use.`
`Exception: Microsoft.AspNetCore.Server.Kestrel.Transpo

[2018-01-18 17:17] joshmouch commented on #83
@guardrex @shirhatti
Just from personal experience, there are a ton of exceptions that occur before any third-party logging providers are able to get injected, making stdOut logging essential.  For example, just this morning, I am dealing with an issue with an using the Azure ApplicationInsights Extension, which causes an exception that does not get picked up by ILoggerProvider (I'm using Serilog)

[2018-01-18 17:42] guardrex commented on #83
@joshmouch

... you're seeing in the Application Event Log? Can you provide some examples?

Are you troubleshooting in Azure App Service?

[2018-01-18 19:29] joshmouch commented on #83
Here's an example of something I'm actively looking at.  This shows up in in the stdOut log file, but not in App Insights or Database logs.

[code]

[2018-01-18 19:50] mockjv commented on #285
I'm closing this issue because upon further verification, I've found that there must be another factor in my environment or the installer bundle.

[2018-01-18 19:50] #285 closed, assigned to nobody

[2018-01-18 23:02] pan-wang commented on #284
is this for inprocess? I believe we already disabled timeout for out-of-process

[2018-01-18 23:22] jkotalik commented on #284
Yeah most likely. It look like we don't set the timeout for requests at all for in-proc. @pan-wang for out of proc, I think you set the timeouts for requests on winhttp. What can we do for in-proc?

[2018-01-18 23:40] pan-wang commented on #284
In the past, asp.net has some settings, e.g., https://msdn.microsoft.com/en-us/library/e1f13641(v=vs.85).aspx. IIS itself does not have a setting on request timeout.

[2018-01-20 01:59] jkotalik commented on #265
@John0King Today you can drop an app_offline.htm in the application directory to stop your application. I'm assuming you are referring to shadow copying, which is not a change that will be done through this feature.

[2018-01-22 17:10] nguyenquyhy commented on #50
I am using 7.1.1986.0 in my Azure App Service but the App_Offline.htm is still not detected after publishing from Visual Studio.

However, if I visit the scm site and edit and save the file (without any actual modification), the file is picked up by the module and the site is down.

[2018-01-23 03:15] jkotalik commented on #50
@nguyenquyhy After publishing your app, was a request sent to your application?

@pan-wang In the 1985 build, we still seem to be checking against app_offline.htm on startup. https://github.com/aspnet/AspNetCoreModule/blob/1.0.1985/src/AspNetCore/Src/application.cxx#L116. I believe we need to compare against this case insensitively.

[2018-01-23 03:18] nguyenquyhy commented on #50
The publishing from Visual Studio failed because the application was not shut down. I checked scm and see App_Offline.htm file in wwwroot folder. I then open the site URL and see that the site is still up.

[2018-01-23 03:27] jkotalik commented on #50
Thanks. @jhkimnew when you were verifying the out of process implementation, did you check different names for app_offline?

[2018-01-23 05:40] jkotalik commented on #50
Seems I was incorrect on that assumption. All windows APIs are case insensitive. My best guess is we have a race on actually watching for App_Offline.htm and the creation of it. Right here I see we unlock and then start monitoring app_offline https://github.com/aspnet/AspNetCoreModule/blob/1.0.1985/src/AspNetCore/Src/applicationmanager.cxx#L68-L71. Between then, we can technically not detect app_o

[2018-01-23 23:32] jkotalik commented on #158
This was completed a while ago. app_offline logic is now shared between inprocess and out of process.

[2018-01-23 23:32] #158 closed, assigned to pan-wang

[2018-01-24 01:48] nguyenquyhy commented on #50
Everytime I publish from Visual Studio when the app is running.

[2018-01-24 04:24] pan-wang commented on #50
Does your application have any assembly used by IIS directly instead of kestrel process?

[2018-01-24 04:32] nguyenquyhy commented on #50
No, it is a ASP.NET Core application with kestrel.

[2018-01-24 22:36] jhkimnew commented on #206
This issue is the duplicated one to https://github.com/aspnet/IISIntegration/issues/553.

[2018-01-24 22:36] #206 closed, assigned to pan-wang

[2018-01-25 01:16] halter73 commented on #260
@pan-wang I don't understand this issue particularly with the address in use case. Here's why:

1. Any time Kestrel logs "Failed to bind to address http://<whatever>: address already in use.", it should *always* throw an exception from KestrelServer.Start and in turn WebHost.Run.
2. This exception should bubble up through Program.Main and crash the dotnet process.
3. ANCM should observe this proce

[2018-01-25 01:21] rollsch commented on #260
I was also sent here by a Microsoft support employee. My problem occurs during instance changes of my WebApp hardware which result in random "AccessDenied" when accessing all of my DLLs, this locks the app as none of the DLLs can be accessed until the entire WebApp is restarted (not just the process, the actual WebApp environment must be stopped, then started again)

I've since done this and not s

[2018-01-25 01:23] pan-wang commented on #260
The root cause is that 1) AppWarmUp module send a faked request to start IIS pipeline and waiting for the IO completion of this faked request. ANCM received the faked request and tried to start backend process.  if starting failed at first time, ANCM will create a child request to try again. Somehow, the IO completion for the parent/child request got lost. AppWrmUp module holds IIS pipeline foreve

[2018-01-25 01:41] joshmouch commented on #260
@halter It sounds like you are saying this exception can be ignored.  Although I would wonder why a random port has a 99% chance of already being in use.

[2018-01-25 04:07] pan-wang commented on #260
@rolandh if you hit access deny for loading your assemblies, you definitely had a different problem.  Do you have any log showing this access deny?
@joshmouch , ANCM will retry to start the application again as @halter mentioned. In multitenant scenario, the chance of port conflict gets higher as the number of hosted applications increase, especially some application may consume more ports, e.g.,

[2018-01-25 04:10] rollsch commented on #260
@pan-wang  yes I have a massive amount of logs, memory dumps and diagnostic information attached to my support case. Are you an MS employee who can access it? REQ:117120117249053

[2018-01-25 04:21] pan-wang commented on #260
@rolandh I don't have the permission to access your case. Could you please share some logs at OneDrive or shot me email at  panwang"AT"microsoft"dot"com. I can take a look at it.

[2018-01-25 23:24] pan-wang commented on #260
I now understand the root cause of this warm up issue. It seems ANCM did not handle the async return of child request (which is created for retry purpose in case starting Kestrel process failed). Will fix it soon.

[2018-01-29 21:20] sepehr1014 commented on #247
We're having this issue as well. Any updates?

[2018-01-30 09:42] FinVamp1 commented on #260
@rolandh I've been analysing your data and discussed this with @pan-wang as well last night. The issue with Access denied is different from the issue discussed in this thread and as I understand the issue is not reproducing at the moment. If it happens again then dump files of both the Worker Process and the Kestrel process will help us get further. I'll work with the support engineer to loop me i

[2018-01-30 09:43] FinVamp1 commented on #260
@Luyi Tao your customer has also raised this issue at https://github.com/aspnet/AspNetCoreModule/issues/260

I don’t think this is the Preload issue and discussed it with the Developer who also looked at the dump file.

I’ve updated the thread above with this information.

@rolandh I've been analysing your data and discussed this with @pan-wang as well last night. The issue with Access denied is d

[2018-01-30 11:18] rollsch commented on #260
I attached dump files of those processes to the case. Can you see them? Or do you mean if it occurs again?

Thanks for following this up, I appreciate it.

[2018-01-30 15:29] joshmouch commented on #260
@pan-wang So this async fix will fix the port-in-use error?  I still have a Microsoft ticket open on this case, and they're just giving me random suggestions at this point, so I'd like to close it if you think you have this figured out.

[2018-01-31 08:55] mchenx commented on #87
I encountered a similar issue but a little bit different
I created an asp.net core 2.0 mvc web app, by using the template, just the sample the template generates, nothing modified. Run a few tests by using ab (Apache Bench) , sending GET requests with url
http://{server:port}/home

If using iis express ( launched by visual studio), I got around 25 requests/sec peformance.
If using dotnet run, I go

[2018-01-31 17:10] ubiqs commented on #87
There is certainly some overhead between the Kestrel server and IIS.
We are still using 1.x and not upgraded to 2.x.

Although on our production we are not facing any performance issues as such.

Although I realized is that new experimentation is good with new platforms,
but for anything to do with Production Deployed applications,
stick to those technologies that work. And wait for newer to get m

[2018-01-31 18:11] nforysinski commented on #260
@pan-wang not sure if related, but we've started seeing another uptick of this issue even with preloadEnabled=false. For the past two days, some event has caused our API to become inaccessible and the only fix we can reliably engage is a release and slot swap. Otherwise the app simply never responds to a request and we get 502s (presumably the app service is ending the request after the 2 minute t

[2018-02-01 02:42] pan-wang commented on #260
@nforysinski do you have FREB log

[2018-02-01 03:54] mchenx commented on #87
I deployed the web app on IIS10 and there seems to be no issues, the performance is good enough for me, around 1300 requests/sec.

![image](https://user-images.githubusercontent.com/1550186/35660312-458db2e8-0746-11e8-9fad-2a7e8fd32a4c.png)

I'll leave the iis express as it is just for dev

[2018-02-01 05:29] sergei66666 commented on #260
Guys, correct me if I'm wrong.
The first thing we need to do is to make the errors repeatable.
In my experience (in 100% of cases) and the experience of some people from this discussion, one of the reasons is a hard reboot of the server.
May be we try to find a way to reboot manually so we do not wait for any system events that lead to the problem.

p.s. I'm not sure that my problem is related to

[2018-02-01 05:46] pan-wang commented on #260
@rolandh I looked at #2700.  For your case, Kestrel server hit some assembly loading issue. It is unrelated with AppWarmUp issue, in which requests get blocked by AppWarmUp module. @Tratcher and @davidfowl , do you have any idea about the possible root cause of issue "Could not load DiscountRules.CustomerRoles.dll Access is Denied #2700"

[2018-02-01 05:52] pan-wang commented on #260
@joshmouch in most case, the port-in-use error is ignorable as the backend Kestrel exits on this error and ANMC will do the retry on the next request. To fix this port in use issue, the new code will do retry inside serving the first request instead of waiting for new request.

[2018-02-01 05:53] pan-wang commented on #260
@sergei66666 , could you please provide more info about your scenario. Is your application hosted on AppService?

[2018-02-01 07:20] sergei66666 commented on #260
@pan-wang , yes, my app in AppService. And after it rebooted (after update for example), I get 502.5 error. I have logs, but they without any errors. I see my app in kudu panel, but i get 502.5. It can (sometimes can't) start works after plan or slot restart.
If I remember correctly, it started in November.

p.s. As I said, I do not know if this is due to warmup. Maybe this is another issue. But t

[2018-02-01 12:34] joshmouch commented on #260
@nforysinski and pan-wang.  I have about 3 different 502's from yesterday.  Yesterday after one restart, all requests returned 502 until a second restart.  Doesn't sound exactly like what you're talking about, though.  I have FREB logs, but didn't want to throw too many things at pan-wang at once until I had this port issue fixed, and I didn't want to confuse this thread too much. ;)  Also, I want

[2018-02-01 12:51] joshmouch commented on #260
@nforysinski I have two FREB logs here from yesterday showing your issue if I can post them somewhere.

[2018-02-01 13:41] nforysinski commented on #260
@joshmouch @pan-wang has shared his email earlier in the thread - I assume if you have FREB logs showing issues related to what I posted, you can send them over to him with a quick description that they are for an issue both of us are seeing.

I believe they are related to the issue that `preloadEnabled=false` is supposed to fix as it has all the same symptoms: instance count changes do not affect

[2018-02-02 04:59] pan-wang commented on #260
@nforysinski slot swaps will lead to w3wp recycle. What do you mean "stopped responding"? 500s error or hang? Did you notice any abnormal about memory usage of w3wp.exe or dotnet.exe?

[2018-02-02 14:04] nforysinski commented on #260
@pan-wang after two minutes, 502 which seems to indicate app service timeout instead of net core timeout. Looking back at our logs, there were no abnormal or unexpected rises in memory or CPU usage on the app service at all.

[2018-02-02 15:28] joshmouch commented on #260
@nforysinski @pan-wang  I'm still not sure if my problem is the same, but just though I'd chime in.  When I see this timeout after two minutes, the FREB log shows a "2147954402" error in the AspNetCore module.  For example:

[code]

[2018-02-02 19:09] pan-wang commented on #260
@joshmouch  based on the log and error code 2147954402 (WININET_E_TIMEOUT) , I would say you hit a different issue other than warmup. In your case, ANCM forwarded the request to the backend while the backend never response. You may want to turn on stdout log in web.config to see what happened at the backend.  In the past I saw one similar case that there was a deadlock in backend during start up.

[2018-02-05 20:52] Eilon commented on #255
@muratg / @jkotalik - anything to do here for preview1?

[2018-02-05 20:58] jkotalik commented on #255
Done by https://github.com/aspnet/IISIntegration/commit/e035d0ed96440e2b0f20374edcf37af9a9701497.

[2018-02-05 20:58] #255 closed, assigned to jkotalik

[2018-02-06 13:41] JTOne123 commented on #87
I can confirm the issue still exists with latest AspNetCore 2 and IIS8

[2018-02-06 16:00] nforysinski commented on #260
@pan-wang I just emailed you an example of a failed request that occurred during this time. Spoiler alert: I am seeing the exact same error code as @joshmouch but this has occurred this morning and two different times about 10 minutes apart. After several interventions the site was able to recover. Again, this bears much resemblance to the warmup issues we were seeing before. I have turned on stdo

[2018-02-06 16:47] joshmouch opened #287 "Intermittent 502.3 (Error code 2147954402) error"
I am occasionally seeing a 502.3 error in our logs with the error code 2147954402.  I've pasted part of the FREB log.  I've enabled the stdout, and there are no errors outputed there.  There's exactly two minutes between last FREB entry before AspNetCoreModule, and the AspNetCoreModule entry.

[code]

[2018-02-06 23:37] nforysinski commented on #260
A little more info - in our event logs, everytime this occurs, we see several events like this:

[code]

[2018-02-07 03:51] pan-wang commented on #260
this event is W3_EVENT_APPLICATION_PRELOAD_ERROR_GENERIC.which is emitted by warmup module. You definitely hit some warmup issue. I am not sure this is because warmup request got timeout as it ANCM never got response from backend. the stdout log will help.

________________________________
From: Nick Forysinski <notifications@github.com>
Sent: Tuesday, February 6, 2018 6:37:32 PM
To: aspnet/AspNet

[2018-02-07 04:04] nforysinski commented on #260
@pan-wang
Here is an example of a failed log from the time of the event:

[code]

[2018-02-07 04:22] pan-wang commented on #260
it seems the backend had unhandled exception and never return to the forwarded request. this make sense for the timeout and warmup failure. @Tratcher could you please help to diagnose this runtime compilerservices exception?

[2018-02-07 04:58] Tratcher commented on #260
@nforysinski that stack trace shows an exception inside your MVC Action that gets caught and logged by Kestrel. Do you have any timestamps showing if this exception happened before or after the ANCM timeout?

What it looks like is happening is the action taking a long time due to a large/slow database operation, ANCM times out and closes the connection, Kestrel fires the RequestAborted cancellatio

[2018-02-07 05:11] nforysinski commented on #260
@Tratcher Unfortunately I do not as my logs were only set to warning. Will changing the log level to information catch the appropriate log you need?

[2018-02-07 05:24] Tratcher commented on #260
Yes it should help. Getting time stamps depends on the logger you use, but Hosting always logs the request elapsed time at the end of each request. See
https://github.com/aspnet/Hosting/blob/8765d55f9f97faa3e3df67743ae888d7c6557d22/src/Microsoft.AspNetCore.Hosting/Internal/HostingApplicationDiagnostics.cs#L186-L193

[2018-02-07 19:12] yosbeleg89 commented on #272
Similar issue with **w3wp.exe** on Azure webapp and AspNet Core 2.0.1, analyzing the dump file, the results are:

Type of Analysis Performed | Hang Analysis
-- | --
Machine Name |  
Operating System | Unexpected
Number Of Processors |  
Process ID | 13036
Process Image | D:\Windows\SysWOW64\inetsrv\w3wp.exe
Command Line |  
System Up-Time | 00:00:00
Process Up-Time | 05:39:21
Processor Type | X86

[2018-02-08 03:22] jkotalik commented on #215
This was done in IISIntegration by 06348dded7c869b60459283fcb6cbe389a868ebf

[2018-02-08 03:22] #215 closed, assigned to nobody

[2018-02-08 03:26] jkotalik commented on #217
I investigated recently and I didn't see any memory leaks. Dotnet will not aggressively garbage collect until around 400 MB of process memory. The amount of heap memory used never got above 7 MB and didn't grow after ~20 minutes. Closing for now.

[2018-02-08 03:26] #217 closed, assigned to jkotalik

[2018-02-08 03:38] jkotalik commented on #215
@jhkimnew I am confused about what this issue was about. Can you clarify if it is still an issue?

[2018-02-08 07:58] hscanlan commented on #87
I'm also having this issue.

[2018-02-08 12:47] Disturbing commented on #87
Same issue.

[2018-02-08 18:20] jhkimnew commented on #215
@jkotalik Here is the repro step. Please try this and resolve this issue if this is already fixed.

1. Create a app with the previous .Net Core SDK, which is not support the new inprocess feature of ANCM
2. Deploy the app to IIS
3. Set hostingModel with Inprocess even though the app does not support inprocess
4. Send a request to the newly deployed app

EXPECTED:

Users get an error message which

[2018-02-09 16:52] joshmouch commented on #287
I got a few more of these today.  Is there any other information I can provide to diagnose this?

[2018-02-09 19:23] jkotalik commented on #287
Seems that ANCM is timing out when trying to start kestrel. The startup timeout is 2 minutes, so ANCM thinks that Kestrel and you application has not started. If you can provide any windows event logs and your web.config file, that would help diagnose this.

[2018-02-12 10:44] flavio1110 commented on #38
Any news on it? Will this be fixed in 2.1?

[2018-02-12 12:27] juggleking commented on #287
I have the same issue. For the first user , that logs into our application , it works , when logging out , and logging backagain with the same user ( or another ) , the first page hangs for 2 minutes and gets through , or shows the  502.3 error in our logs with the error code 2147954402. I don't know what the issue is.

I am using IIS + asp core 1.1 on a windows 20012 r2

[FailedRequest.zip](https

[2018-02-12 21:46] jkotalik commented on #287
cc/ @pan-wang, I'll do a bit of investigation here, but you probably have a better idea of what is going on. Could be an issue with caching.

[2018-02-13 01:07] shirhatti commented on #284
For in-proc, we don't have a request timeout.
For out-of-proc, we unfortunately don't know that's there a debugger attached to the backend process.

Closing this issue as it's not actionable from ANCM.

[2018-02-13 01:07] #284 closed, assigned to nobody

[2018-02-13 01:18] jkotalik commented on #284
@shirhatti this is going to be fixed by @BillHiebert  setting the request timeout to infinite when it is launched through IIS express.

[2018-02-13 01:27] shirhatti commented on #282
There have been a few issues about this in the past. Given that there are no AppDomains in .NET Core, it seems contrived to re-introduce shadow copying in ANCM.
While not quite the same as xcopy deploying, I'd recommend using the [appOffline](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module#appofflinehtm) feature in ANCM instead.

1. Drop an appOffline.htm file and w

[2018-02-13 01:27] #282 closed, assigned to nobody

[2018-02-13 01:50] shirhatti commented on #287
@jkotalik The process started successfully. Looks like @joshmouch is hitting the request timeout.

@joshmouch I looked at your FREB logs, and there's nothing here to indicate what's going on besides your backend timing out.

If you believe some requests legitimately are expected to take more than two minutes, your quick fix is to increase your requestTimeout in your web.config
If not, the problem

[2018-02-13 01:50] #287 closed, assigned to nobody

[2018-02-13 01:52] shirhatti commented on #280
@Tratcher Does setting `X-Forwarder-Host` imply that the `Host` header has also been changed? I'm confused why this can't just be an additive change

[2018-02-13 01:55] shirhatti commented on #278
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-13 01:55] #278 closed, assigned to nobody

[2018-02-13 01:56] shirhatti commented on #275
@joeloff Could you please close this issue if this change has made it into the publically available builds of the serverhosting bundle?

[2018-02-13 02:02] #275 closed, assigned to nobody

[2018-02-13 02:04] shirhatti commented on #272
Unfortunately, this issue has become a catch-all issue for all worker process crashes which are seemingly unrelated. I apologize if I've closed this issue prematurely

If you're still seeing worker process crashes, could you create a [new issue](https://github.com/aspnet/AspNetCoreModule/issues/new) with as much information as possible. Including, but not limited to
1. ANCM version: `(Get-Item "$e

[2018-02-13 02:04] #272 closed, assigned to nobody

[2018-02-13 02:06] nforysinski commented on #260
After some run-around with the Azure team, they recommended an adjustment to the `applicationHost.xdt` that we had setup. This _seems_ to have resolved it now, but assuredly points to the continuation of an issue between IIS inAzure and ANCM with regards to app restarts and the preload module.

[2018-02-13 02:06] shirhatti commented on #270
This has been fixed https://github.com/aspnet/IISIntegration/pull/546

[2018-02-13 02:06] #270 closed, assigned to nobody

[2018-02-13 02:07] #271 closed, assigned to nobody

[2018-02-13 02:16] shirhatti commented on #268
Oddly enough, this used to be part of the docs, but was removed.
I've created a new doc bug to track this https://github.com/aspnet/Docs/issues/5454

[2018-02-13 02:16] #268 closed, assigned to nobody

[2018-02-13 02:17] shirhatti commented on #265
Closing this uber issue since this work is being tracked at https://github.com/aspnet/IISIntegration/projects/1

[2018-02-13 02:18] shirhatti commented on #267
@pan-wang @jkotalik Did the logging PR handle this? If not, can you move this issue to the IISIntegration repo?

[2018-02-13 02:21] shirhatti commented on #261
Since we've added the named pipe to capture stderr I'm going ahead and closing this since I expect usage of this feature to drop over time. Feel-free to re-open if you feel strongly about this.

[2018-02-13 02:21] #261 closed, assigned to nobody

[2018-02-13 02:23] shirhatti commented on #258
Closing this issue since it's already been resolved. Feel free to reopen if this issue persists.

[2018-02-13 02:23] #258 closed, assigned to pan-wang

[2018-02-13 02:37] shirhatti commented on #222
As pointed out by @ericgla, there is an unsupported way to do this by setting the `ASPNETCORE_PORT` environment variable.
Feel free to use this if you're can guarantee that the ephemeral port you chose will always be available.

[2018-02-13 02:37] #222 closed, assigned to nobody

[2018-02-13 02:38] shirhatti commented on #235
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-13 02:38] #235 closed, assigned to nobody

[2018-02-13 02:39] shirhatti commented on #220
@jhkimnew Is this just a stale issue? If it no longer applies, can you go ahead and close this?

[2018-02-13 02:40] #219 closed, assigned to nobody

[2018-02-13 02:40] shirhatti commented on #218
Closing as dupe of https://github.com/aspnet/IISIntegration/issues/536

[2018-02-13 02:40] #218 closed, assigned to nobody

[2018-02-13 02:44] jhkimnew commented on #220
@jkotalik Is this fixed?

[2018-02-13 02:54] jkotalik commented on #220
This is finished for sure. 32 bit ANCM works.

[2018-02-13 02:54] #220 closed, assigned to nobody

[2018-02-13 11:45] FrancoisAR commented on #87
Same issue here. ASP core 201, IIS8 on win2012-

[2018-02-13 17:06] Pluc15 commented on #260
@nforysinski What is the adjustment?

[2018-02-13 17:21] nforysinski commented on #260
@Pluc15

Our original file:
[code]

The adjusted file (note the wildcard in the site name portion):
[code]

[2018-02-13 23:11] jhkimnew commented on #247
The root cause of this issue is because the app_offline.htm creates a child request to redirect the web response from original to the error message of app_offline.htm. This design is now updated in the new implementation. We don't use the child request to handle the app_offline.htm. FYI, the new ANCM implementation is on https://github.com/aspnet/iisintegration, which will be used by the next vers

[2018-02-13 23:11] #247 closed, assigned to jhkimnew

[2018-02-13 23:12] jhkimnew commented on #239
There is design change. This issue is not valid anymore.

[2018-02-13 23:12] #239 closed, assigned to jhkimnew

[2018-02-13 23:51] analogrelay commented on #77
@pan-wang @jhkimnew Has the fix for the original issue (referenced in https://github.com/aspnet/AspNetCoreModule/issues/77#issuecomment-320326427) been checked in? That's what this issue should be tracking. The other spin-offs in this thread should be in separate issues. If the original issue has been resolved can we just close this issue? I'm not sure what you need from me since @pan-wang identif

[2018-02-14 00:16] jhkimnew commented on #77
The original issue is fixed. Okay, I will close this issue.

[2018-02-14 00:16] #77 closed, assigned to analogrelay

[2018-02-14 00:37] analogrelay commented on #77
For the other commenters on this thread: If any of the other issues mentioned in this thread are still present, please file a new bug in https://github.com/aspnet/Home and we can get the discussion going on there rather than continuing to hijack this thread ;)

[2018-02-14 07:25] shirhatti commented on #64
I'm closing this bug to inactivity.

There is an unsupported way to force a static port assignment by setting the `ASPNETCORE_PORT` environment variable. Feel free to use this if you're can guarantee that the ephemeral port you chose will always be available.

If you continue to issues around port collision feel free to open a new bug

[2018-02-14 07:25] #64 closed, assigned to shirhatti

[2018-02-14 07:27] shirhatti commented on #48
Closing this bug due to inactivity.

[2018-02-14 07:28] #48 closed, assigned to nobody

[2018-02-14 07:29] davidfowl commented on #48
@shirhatti we just need to get rid of the default timeout 😄

[2018-02-14 07:31] shirhatti commented on #80
Closed in favor of https://github.com/aspnet/IISIntegration/issues/586

[2018-02-14 07:31] #80 closed, assigned to shirhatti

[2018-02-14 07:45] shirhatti commented on #48
We can't eliminate it entirely. We still need to specify a receive timeout for WinHTTP https://github.com/aspnet/IISIntegration/blob/b70191fb82bef2346a931a3c645f5cb8132c8a79/src/RequestHandler/outofprocess/forwardinghandler.cpp#L1086

The WinHTTP receive timeout default is 30 seconds. Now surely we don't want that 😄

[2018-02-14 08:00] shirhatti commented on #87
This issue has turned into a catch-all issue for ANCM performance issues. Unfortunately, most folks who have commented haven't provided sufficient information for us to investigate. I apologize in advance if I've closed this bug and you have an unresolved issue. Please feel free to create a new bug with more information.

I have created a [new bug](https://github.com/aspnet/IISIntegration/issues/5

[2018-02-14 08:00] #87 closed, assigned to nobody

[2018-02-14 08:04] shirhatti commented on #88
Fixed

[2018-02-14 08:04] #88 closed, assigned to muratg

[2018-02-14 08:14] shirhatti commented on #84
.NET Core does not have support for AppDomains and hence we cannot do what System.Web did where it shadow copied everything in the bin directory before creating a new AppDomain.

As for alternative solutions for the problem, use the AppOffline feature if your app can tolerate a few seconds of downtime. If not, I'd recommend creating a blue-green deployment pattern where you create multiple sites i

[2018-02-14 08:14] #84 closed, assigned to nobody

[2018-02-14 08:16] shirhatti commented on #94
I'm closing this bug to inactivity.

There is an unsupported way to force a static port assignment by setting the `ASPNETCORE_PORT` environment variable. Feel free to use this if you can guarantee that the ephemeral port you chose will always be available.

If you continue to see issues around port collision feel free to open a new bug.

[2018-02-14 08:16] #94 closed, assigned to shirhatti

[2018-02-14 08:19] shirhatti commented on #108
We have a new uber issue tracking all diagnostics work

[2018-02-14 08:19] #108 closed, assigned to nobody

[2018-02-14 08:42] shirhatti commented on #106
Installing Trace Logging will always be a mandatory step 😄. IIS detailed logs go to FREB and there already exist knobs to enable FREB logs for all failed requests.

Something like could be used to enable to capture FREB logs for all failed requests.

[code]

That being said, there is some protocol correctness enforced at the HTTP.SYS level that ensures the request never even make it into the IIS l

[2018-02-14 08:42] #106 closed, assigned to pan-wang

[2018-02-14 08:45] shirhatti commented on #117
Closing this issue as the discussion seems to have been resolved.

[2018-02-14 08:45] #117 closed, assigned to nobody

[2018-02-14 08:47] shirhatti commented on #111
Closing this issue as there's nothing actionable here. I suggested an alternative in #84 in how to possibly achieve what ~~you're doing~~ you want.

[2018-02-14 08:47] #111 closed, assigned to nobody

[2018-02-14 08:49] shirhatti commented on #133
Glad to know @glatzert  was able to workaround his issue by enabling IPv4. At least for the time being, having only IPv6 enabled seems esoteric enough that we're not going to do anything about it.

[2018-02-14 08:49] #133 closed, assigned to nobody

[2018-02-14 08:55] shirhatti commented on #139
@vivphillips While I understand you legitimately have an issue, we don't have the domain expertise about Chrome behavior to help you out.
I'm closing this issue as there's nothing actionable on our end

[2018-02-14 08:55] #139 closed, assigned to nobody

[2018-02-14 08:56] shirhatti commented on #137
This is already done https://github.com/aspnet/IISIntegration/pull/470

[2018-02-14 08:56] #137 closed, assigned to nobody

[2018-02-14 08:59] shirhatti commented on #187
I'm closing since it looks like this has been fixed.

[2018-02-14 08:59] #187 closed, assigned to pan-wang

[2018-02-14 09:00] shirhatti commented on #187
https://github.com/aspnet/IISIntegration/blob/c3bc6fed9c38bb5f6003d56fe2537eee85085c18/src/AspNetCore/Src/proxymodule.cxx#L94

[2018-02-14 09:01] shirhatti commented on #135
@anurse @pan-wang From this thread, I'm unsure to parse what the current behavior is. Has this been addressed already?

[2018-02-14 09:06] shirhatti commented on #145
@joeloff I'm missed your response. Currently, the msi doesn't even attempt to detect it. It attempts the custom action to update applicationHost.config and fails since it doesn't have access.

I'm closing this bug since it's not a common scenario to want to add a global module after you've already setup shared config and I've already shared a workaround.

Given that the docs already mention this a

[2018-02-14 09:06] #145 closed, assigned to nobody

[2018-02-14 09:09] shirhatti commented on #157
Spoke to @glennc about this offline and we're okay with dropping this idea.
Tangentially related, we've already done the work to expose all IIS Server Variable to your managed app when you're running in-process which is something we can build on when we decide to revisit tracing

[2018-02-14 09:09] #157 closed, assigned to nobody

[2018-02-14 09:20] shirhatti commented on #159
@muratg Rapid failure protection in IIS only kicks in if you're crashing the process. Since this is gracefully handled, this according to IIS is no different from a bad request.

[2018-02-14 09:20] shirhatti commented on #159
This issue was moved to aspnet/IISIntegration#588

[2018-02-14 09:20] #159 closed, assigned to nobody

[2018-02-14 16:48] Tratcher commented on #135
This should be addressed by https://github.com/aspnet/IISIntegration/issues/584

[2018-02-14 17:51] #135 closed, assigned to nobody

[2018-02-14 17:56] analogrelay commented on #135
It will be mitigated by fixing that issue but the main ask wouldn't be addressed. The issue is that Kestrel doesn't know that IIS will not be able to proxy the socket so the app doesn't realize that despite a successful upgrade, the client will fail. This is a scenario that the server app must always be prepared for, since downstream proxies (beyond ANCM) may fail to forward the socket. aspnet/IIS

[2018-02-14 17:57] Tratcher commented on #280
Let's take this offline, these issues are quite confused.

[2018-02-14 18:06] Tratcher commented on #135
I don't recommend refusing requests at the ANCM layer. That prevents them from being logged at the application layer and prevents the application from providing a custom error. With the added communication we're adding applications should be able to detect the potential upgrade failure in advance and provide their own error.

[2018-02-17 00:12] muratg commented on #254
@shirhatti Are we doing this? Should we move the issue elsewhere?

[2018-02-17 00:12] muratg commented on #253
@shirhatti Are we doing this? Should we move the issue elsewhere?

[2018-02-17 00:13] muratg commented on #252
@shirhatti Are we doing this? Should we move the issue elsewhere?

[2018-02-17 00:13] muratg commented on #244
Needed? We don't have a public API here, right? So we can do this anytime?

[2018-02-17 00:14] muratg commented on #200
@shirhatti should we carry FREB related issues to a single issue elsewhere?

[2018-02-17 00:14] muratg commented on #199
@shirhatti should we carry FREB related issues to a single issue elsewhere?

[2018-02-17 00:14] muratg commented on #197
@shirhatti should we carry FREB related issues to a single issue elsewhere?

[2018-02-17 00:14] muratg commented on #196
@shirhatti should we carry FREB related issues to a single issue elsewhere?

[2018-02-17 00:15] muratg commented on #191
Anything left to do here?

[2018-02-17 00:15] muratg commented on #190
Any work remaining here?

[2018-02-17 00:16] muratg commented on #168
This isn't applicable anymore.

[2018-02-17 00:16] #168 closed, assigned to shirhatti

[2018-02-17 02:15] pan-wang commented on #191
This can be closed

[2018-02-17 02:17] #191 closed, assigned to pan-wang

[2018-02-17 02:24] pan-wang commented on #196
The code was changed and give more details about the failure.  Close the issue.

[2018-02-17 02:24] #196 closed, assigned to pan-wang

[2018-02-17 05:50] pan-wang commented on #244
Old implementation. Not exist anymore

[2018-02-17 05:50] #244 closed, assigned to pan-wang

[2018-02-18 11:52] MrAntix commented on #166
I am not seeing this on website stop either.
not until I do an iisreset
I can created a repo if required, but thought the one above would be enough?

One wrinkle, I am running a websocket server on the site.

I have logging, which shows nothing happening when the site is stopped multiple times, but then when I iisreset, you get all the stop messages in one go

[2018-02-18 14:28] MrAntix commented on #166
I made a repo https://github.com/MrAntix/DotNetCore2.WebAppLIfetime

this is the log, the bits with no timestamp are manual actions by me

[code]

You can see I loose track of the first 2 clients, which remain connected and I have no lifetime event to deal with this

The apppool recycle happens when I deploy, so I loose track of my clients then

Is there any more you need or can you suggest a work

[2018-02-19 05:43] ili commented on #278
After my resent research it looks like that server response time grows for some reason. From my side it looks like ANCM has some timeout and when got no (long) response from server it shuts process down and restarts it.

I'v gathered some statistics using MiniProfiler. The situation is: we'v started 40-50 instances of out client  emulator (it just executes simple scenario using HttpClient). The ai

[2018-02-19 06:05] ili commented on #278
Here is very interesting situation, where PID 56 stopped, then started 4356, and it's queries are executed too long, and then 3828 process started. The interesting things are:

1. 4356 do have awful query duration without any visible reason
1. 4326 & 3828 run in parallel for some time (i'v marked this with bold process id)

ProcessId|Started|Name|DurationMilliseconds
-|-|-|-
56|2018-02-15 07:42:27

[2018-02-19 06:18] ili commented on #278
Here are raw data in txt & xlsx
[raw_test_data.txt](https://github.com/aspnet/AspNetCoreModule/files/1735708/raw_test_data.txt)
[raw_test_data.xlsx](https://github.com/aspnet/AspNetCoreModule/files/1735709/raw_test_data.xlsx)

[2018-02-19 06:26] ili commented on #278
Environment:
* .Net Core Runtime 2.0.5
* MS .Net Core 2.0.5 Windows Server Hosting
* Windows Server 2012 R2
* MS Sql Server Express 12.0.2000.8

Server is run under HyperV, HyperV is hosted in WS 2012 R2

Virtual machine do have:
* Intel Xeon E5620 @ 2.40 GHz (one core)
* 4GB RAM
* Regular HDD (no SSD)

[2018-02-20 17:12] brgrz commented on #48
This is still happening pretty much every time something timeouts, even locally on IIS Express with the 502.3 Bad Gateway response.

[2018-02-20 17:51] jkotalik commented on #48
@brgrz what behavior do you expect instead? To return a 504? ANCM will timeout requests after 2 minutes by default and return a 502.3.

[2018-02-20 18:22] brgrz commented on #48
@jkotalik 504 makes much more sense, since I just spent hours troubleshooting middleware and routing due to misleading Bad Gateway (it implies something's wrong with infrastructure or configuration instead of timeout error).

[2018-02-21 00:18] jkotalik commented on #252
This was done, correct @pan-wang

[2018-02-21 00:20] pan-wang commented on #252
yes

[2018-02-21 00:20] #252 closed, assigned to nobody

[2018-02-23 20:09] #262 closed, assigned to nobody

[2018-02-23 20:11] shirhatti commented on #253
Closing after speaking to @davidfowl offline

[2018-02-23 20:11] #253 closed, assigned to nobody

[2018-02-23 20:11] shirhatti commented on #254
Nope. We aren't doing this

[2018-02-23 20:11] #254 closed, assigned to nobody

[2018-02-27 17:37] bleslie21 commented on #247
Is this issue specific to using app_offline.htm?

With core 2, we are seeing duplicate dotnet.exe and conhost processes for several apps when we just restart IIS, kill processes, and/or reset app pools manually.  We also encounter the issue with our automated deployment.  Our deployment scripts first stop the app pool, then check for any processes (w3,dotnet,conhost) still lingering and kills them

[2018-02-27 20:15] Tratcher commented on #280
Closing this based on offline discussion. We could never change the host behavior without breaking back compat, and we wouldn't gain much by doing it anyways.

[2018-02-27 20:15] #280 closed, assigned to nobody

[2018-02-27 23:39] pan-wang commented on #247
Could you please check windows event log to see whether ANCM tried to shutdown the backend process.

ANCM tried to graceful shutdown, i.e., waiting for all requests to drain instead of actively kill the backend.

On Server 2016, IIS also do graceful shutdown. If there is a long running request, shutdown will be held by this long running request. You can check the "activerequest" counter in perfmon

[2018-02-28 13:41] sepehr1014 commented on #247
We're facing the same issue with WebDeploy on Windows Server 2016. A process is started, then after 15 seconds or so, another one is started and the original one seems to be paused. Here's the error log:

[2018-02-28 21:18] pan-wang commented on #247
@sepehr1014 IIS uses namepipe to communicate with worker process (i.e., w3wp.exe). For your case, IIS instead of ANCM seems hitting some difficult to get response from the worker process. One possibility is the failure of loading a module, e.g., taking longer time. is there any other event logged in windows event log?

[2018-03-01 09:57] sepehr1014 commented on #247
@pan-wang I suspect app process takes a longer than expected time to start functioning. Although we have 16 physical cores running at 2.4GHz and plenty of RAM dedicated to this app, it takes about 15 seconds to start responding to requests after a cold start. (It took a lot less when using ASP.NET Classic) So maybe increasing the timeout interval might help. Also there are no event logs except the

[2018-03-02 09:13] sepehr1014 commented on #243
Any updates on this issue?

[2018-03-03 23:51] NoahStahl commented on #260
@nforysinski have you seen the issue recur after implementing the preload disable you mention on Feb 13? We saw the issue recur again on Feb 27 after supposedly disabling preload using the explicit site_name value (not the XDT_SITENAME variable).

[2018-03-04 01:45] nforysinski commented on #260
@NoahStahl nope - not since adjusting the xdt file to use the variable - seems to be working well to prevent this issue.

[2018-03-05 23:50] muratg commented on #200
Removing from preview2.

@shirhatti need to close this repo soon.

[2018-03-05 23:50] muratg commented on #199
Removing from preview2.

@shirhatti need to close this repo soon.

[2018-03-05 23:50] muratg commented on #197
Removing from preview2.

@shirhatti need to close this repo soon.

[2018-03-05 23:51] muratg commented on #199
Removing from preview2.

@shirhatti need to close this repo soon.

[2018-03-05 23:54] muratg commented on #38
Removing from preview2 (this repo is not used anyway)

[2018-03-06 00:18] muratg commented on #265
This is not finished. Keeping this open for this board's sake.

[2018-03-06 04:22] davidfowl commented on #38
@shirhatti @pan-wang @jkotalik we need this in ANCM. What's the cost here?

[2018-03-13 20:29] tibitoth commented on #265
Will in-process hosting be available for Full CLR + ASP.NET Core applications too?

[2018-03-13 20:37] jkotalik commented on #265
AspNetCore applications compiled to the Full CLR are not supported. We didn't have time to land that feature for 2.1. We will consider it for future releases.

[2018-03-14 15:45] tibitoth commented on #265
I'm sad to hear that. Enterprise environments really need this feature with Full CLR support. Without this we can't migrate to ASP.NET Core because of the performance impact of out-proc IIS described in this blog post: https://odetocode.com/blogs/scott/archive/2016/10/25/asp-net-core-and-the-enterprise-part-2-hosting.aspx

[2018-03-14 17:09] jkotalik commented on #265
With ANCM in-process, one of the main goals is to significantly improve the performance for AspNetCore applications behind IIS. Our preliminary performance results are showing around 4.4x better improvement for applications in IIS. What are the main blockers for switching from the core clr to the full clr?

[2018-03-15 15:39] BeniFreitag commented on #167
Having the same issue but right after application startup. Windows Server 2008 R2 SP1, IIS 7.5, latest DotNetCore.2.0.5-WindowsHosting

# Windows Log > Application
## Error
Faulting application name: w3wp.exe, version: 7.5.7601.17514, time stamp: 0x4ce7a5f8
Faulting module name: aspnetcore.dll, version: 7.1.1989.0, time stamp: 0x5a38211f
Exception code: 0xc0000005
Fault offset: 0x0001bc34
Faulting

[2018-03-15 16:43] Tratcher commented on #167
FYI DotNetCore.2.0.6-WindowsHosting is now available with at least one ANCM AV fix.

[2018-03-15 16:43] pan-wang commented on #167
@BeniGemperle A patch was released this Tuesday. Could you please try  https://go.microsoft.com/fwlink/?linkid=869674 . For any issue , please ping me at panwang'at'microsoft'dot'com

[2018-03-18 19:25] guardrex commented on #183
Note that the ask for this just came up again on Slack from @tebeco. Several have asked over the last year or so. I think the set of switches for the hosting bundle installer that permitted only the module and schema to be installed were disabled around the time that the runtime store bits were added.

I hope this will feature will come back ... it's really nice for self-contained app lovers ❤️.

[2018-03-18 21:40] tebeco commented on #183
a small summary of the question i asked on slack looked like this :
how do you go to production with a hight velocity and really small friction ?
Easy if there near to 0 manual or semi manual operation on server.
By that i mean,
* no runtime installed globally
* no patch campaign
* no installer as much as possible

Choice obviously goes for self contained app.
But then a problem appear when you ar

[2018-03-19 21:29] tebeco commented on #183
And here is the harder question

let’s pretend there is a stand-alone installer

let’s predict a new version of ANCM with breaking changes
we kinda share IIS in DMZ so ...
in order to install patched ANCM, we are driven by the slowest app aligning to this new version of ANCM ? (because of that potential breaking change in the patch)

so unless ANCM is fully self contained within the dropped artifa

[2018-03-19 21:36] tebeco commented on #183
also about that previous question ... if we ship to any cloud are we driven by the fact that ANCM need to be shipped on IIS on that cloud (meening not the app owner but the company responsible for the cloud MSFT, amazon etc ....)

having a fully self contained app that include the Module would help not rely on all this kind of friction

[2018-03-19 23:48] shirhatti commented on #183
@jkotalik Maybe bring back https://www.nuget.org/packages/Microsoft.AspNetCore.AspNetCoreModule ?

[2018-03-19 23:50] shirhatti commented on #183
@tebeco Completely hear you. I'm going to paste in a blurb from a [blog post](https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-0-preview1-improvements-to-iis-hosting/) I wrote on this.

[2018-03-19 23:53] jkotalik commented on #183
Possibly. I'd rather not give a nuget package where people need to drop nuget packages globally...

[2018-03-20 07:52] tebeco commented on #183
@shirhatti thx for the clarification

@jkotalik

what does this mean ?
what do you propose ?

[2018-03-20 15:36] talweiss1982 commented on #77
@jhkimnew Can you please specify in which version of .Net Core this issue was resolved in?
Also when is that version going to be published?

[2018-03-20 16:04] FloMueh commented on #77
ironically i only get this exception while my program throws another exception. After fixing the first exception, the WebSocketException was fixed too.  :confused:

[2018-03-20 18:52] jhkimnew commented on #77
@talweiss1982 you can download the latest ANCM. I can't give the old version because of security issues. We always recommend to use the latest version.
For example, you can install ANCM with https://www.microsoft.com/net/download/dotnet-core/runtime-2.1.0-preview1. And select "Server Hosting Installer".

FYI, the Server Hosting Installer install ANCM only when your machine has IIS. If you did not

[2018-03-21 10:08] BeniFreitag commented on #167
Thanks for your update. The software-update didn't fix the issue but I was able to track it down to a configuration in the IIS Application Pool. We had changed these 3 default-settings which caused the error:
1. _Enable 32-Bit Applications_ **True**
2. CPU _Limit_: **70000**
3. CPU _Limit Action_: **Killw3WP**

These settings seem to be related because:
1. When only _Enable 32-Bit Applications_ is

[2018-03-21 11:28] talweiss1982 commented on #77
@jhkimnewThanks, I'll give it a try although I was one version of the
latest.
@Florian Mühlbacher
I'm running both server and client on debug mode an no exception are thrown
before.

On Tue, Mar 20, 2018 at 8:53 PM, jhkimnew <notifications@github.com> wrote:

--

*Hibernating Rhinos Ltd  *[image: cid:image001.png@01CF95E2.8ED1B7D0]

Tal Weiss* l **Core Team Developer l *Mobile:+972-54-802-4849

Of

[2018-03-21 12:06] talweiss1982 commented on #77
Didn't solve the issue :(
BTW any advise on how to observe the Websocket packages on localhost, I have tried every solution out there and nothing worked (Fiddler, Wire shark, Charles)

[2018-03-21 18:22] jhkimnew commented on #77
@talweiss1982 I am not sure what issue you are saying here. Probably your issue is not related to this bug fix. As @anurse said early, please open a new issue. If you can narrow down the issue, please provide the repro steps.

[2018-03-21 20:50] pan-wang commented on #77
@talweiss1982 in the case of client disconnect (e.g., connection lost), ANCM may terminate the webscoket connection without close frame as no close frame can be forwarded. Your application should handle this exception.

[2018-03-22 09:38] talweiss1982 commented on #77
@jhkimnew the error I'm referring to is:
System.Net.WebSockets.WebSocketException
  HResult=0x80004005
  Message=The remote party closed the WebSocket connection without completing the close handshake.
i'm using the latest .Net Core with the latest Visual studio preview
My client doesn't disconnect, I have tested this with a WebSocket client from chrome to make sure there is no issue with our clie

[2018-03-26 19:08] jhkimnew commented on #77
@talweiss1982 Sorry to be late. I'd like to inform that this repo is currently deprecated because the ANCM code is already moved to IISIntegration. Only I am using this repro to maintain the legacy test automation, which will be moved to IISIntegration sooner or later. So, please open a new issue with the repro step. The bug reported in this issue was already verified. If you still see any issue,

[2018-03-28 20:16] muratg commented on #265
@shirhatti Should we move this to RC1 to track the remaining work, or close this and file another one to track that?

[2018-03-28 21:38] muratg commented on #265
Actually closing this bug. Tracking bugs are elsewhere.

[2018-03-28 21:38] #265 closed, assigned to shirhatti

[2018-04-10 18:47] DerAlbertCom commented on #183
ANCM as a Standalone Installer would be really nice for ASP.NET Core Deployment on Fullframework without the need to install the .NET Core Runtime.

[2018-04-14 09:37] sepehr1014 commented on #166
Any progress on this issue?

[2018-04-14 13:35] alexsandro-xpt commented on #166
@sepehr1014 are you already test it with aspnet core 2.1 preview?

[2018-04-14 13:45] sepehr1014 commented on #166
@alexsandro-xpt  I did on Preview2 and it still doesn't fire.

[2018-04-14 15:24] pan-wang commented on #166
The new version aspnet core does listen on IIS global stop event and then graceful shutdown back-end process.  I'm not sure preview 2 ship it or not. Windows event log would tell whether graceful shutdown happened or not. Please also check whether you have aspnetcorerh.dll at intersection folder.  I will also check with the repro app once in office.

[2018-04-17 00:00] pan-wang commented on #166
I checked with the latest build (you can also build yourself from https://github.com/aspnet/IISIntegration/ ). ANCM does send graceful shutdown message to the backend when recycling IIS worker process. Windows event log does show Event ID 1006 and Event ID 1030. I also see the following staff from Kestrel log
     Application started. Press Ctrl+C to shut down.
        info: DotNetCore2.WebAppLIfe

[2018-04-23 08:47] n9 commented on #166
@pan-wang IISIntegration is replacement for AspNetCoreModule? Or how these two projects relate? Where can I find more information?

[2018-04-23 12:01] Tratcher commented on #166
The two code bases have been merged in IISIntegration.

[2018-04-25 08:16] yasmoradi commented on #16
If you use ASP.NET Core's ResponseCompression middleware instead of relying on IIS for this, you won't face such a ridicules problem! (-:

[2018-04-25 18:38] bangbingsyb commented on #16
@muratg @Tratcher @ysmoradi We've extensively tested the new IIS Compression extension that will be released within two weeks. I believe it will definitely solve this problem.

@jhkimnew  has tested it by using an app that will flush 1 char by 1 char, and sleep several seconds between adjacent flushes. This is an artificial scenario where the compression doesn't bring any benefit. But it is a good

[2018-04-26 17:37] bangbingsyb commented on #16
@muratg @Tratcher @ysmoradi : BTW, is it possible you guys provide us a sample app that uses ServerSentEvents? Although in theory, from IIS perspective, it should have no difference from @jhkimnew 's test, but it would always be beneficial to validate the exact scenario.

[2018-04-26 17:48] Tratcher commented on #16
@BrennanConroy @anurse for a sample.

[2018-04-26 18:46] analogrelay commented on #16
The easiest sample would be to take something like the SignalR Samples (https://github.com/aspnet/SignalR/tree/dev/samples/SignalRSamples) and run it behind IIS, specifying Server-Sent Events as the transport.

We have no readily available stand-alone Server-Sent Events sample, but it's relatively straightforward to write from [the spec](https://www.w3.org/TR/2009/WD-eventsource-20090421/)

[2018-05-01 21:07] mikeomeara1 commented on #38
My understanding (_and please correct me if I'm wrong_) is that this issue is keeping applications that use IIS as a reverse proxy from being able to properly cancel requests **even though this issue was fixed in Kestrel 2.x** (issue [here](https://github.com/aspnet/KestrelHttpServer/issues/1139)).

With that presumption in mind:

 1. This doesn't look like it make it into the 2.1 previews...corre

[2018-05-08 17:42] bariscaglar commented on #16
@bangbingsyb, @jhkimnew have we tried this?

[2018-05-09 00:55] bangbingsyb commented on #16
@bariscaglar No, we haven't tried yet.
@jhkimnew Could you help test non-delay mode dynamic compression using that sample app? Thanks.

[2018-05-09 17:17] jds80021 commented on #87
From the latest comments, It sounds like this isn't resolved. I am also experiencing this issue with a very basic dotnet core 2.01 webapi.  Why did this get closed?

[2018-05-09 17:27] mikeharder commented on #87
@jds80021: Please open a new issue and describe the specific performance problem you are seeing (throughput or latency).  It also helps if you can provide sample code so we can reproduce the behavior.

[2018-05-09 17:57] jkotalik commented on #87
@jds80021 if you could open the issue in IISIntegration, it would be preferred.

[2018-05-15 16:29] dombarnes commented on #287
How many instances do you have running and do you have ARR Affinity turned on? If its off and you have multiple instances, one could just be failing to start. Thats what we had an issue with.
If you have ARR turned on a cookie is set that sends you to the same instance every time so if you had initially hit a down instance, you'd keep hitting that one.
Inside the Diagnose Problems blade in the App

[2018-05-15 17:57] joshmouch commented on #287
@dombarnes In my case, ARR Affinity is turned off.

[2018-05-18 07:06] sepehr1014 commented on #166
I can confirm this event is not fired on ASP.NET Core 2.1 RC1. We've set IIS to recycle the app pool once a day in an exact time and it does not trigger the event. It's fired when we manually stop the site but not if IIS recycles the app pool ...

[2018-05-18 07:14] sepehr1014 commented on #166
It seems it didn't have a graceful shutdown:

`A worker process with process id of '38740' serving application pool 'PasajApp' has requested a recycle because it reached its scheduled recycle time.`

`A process serving application pool 'PasajApp' exceeded time limits during shut down. The process id was '38740'.`

Any idea what might cause this issue and how to debug it? BTW can connected web sock

[2018-05-18 17:20] pan-wang commented on #166
@sepehr1014 This is a known issue in ancm V1 as it relies on IIS module's application shutdown notification. By design (enforced by IIS instead of ANCM), this notification will be hold until all requests were done. this is why you so some websocket request held the shutdown/recycle. This issue has been solved in ANCM v2 which has not shipped yet.
 V2 code is available at https://github.com/aspnet/

[2018-05-19 09:45] sepehr1014 commented on #166
@pan-wang It good to hear that it's a known issue. But I expected ANCM v2 to be released with ASP.NET Core 2.1 RC1 ... Will it be released alongside 2.1 RTM? Any planned date?

[2018-05-21 16:35] shirhatti commented on #166
@sepehr1014 ANCMv2 won't be released alongside 2.1 RTM. We don't have a committed ship date yet. Watch for an announcement on the aspnet/announcements repo as we finalize plans.

[2018-05-21 17:12] GGavazzo commented on #167
I was having this same problem, thanks BeniGemperle

[2018-05-25 12:12] felipepessoto commented on #265
It does will be the default for 2.1?

[2018-05-25 13:08] Tratcher commented on #265
No, this feature won't be available in 2.1.

[2018-06-01 22:37] shhsu opened #315 "ANCM CI E2E tests improvements"
1. merge the csproj file for test site

2. migrate appveyor to vsts

3. install hosting bundle instead of using scripts to install sharefx and ancm

[2018-06-01 22:39] shhsu opened #316 "E2E test fails when running on a newer xunit/dotnet test framework"
E2E tests failed if KoreBuild upgrades the test framework version with

``` Catastrophic failure: System.InvalidOperationException: The process has no package identity. (Exception from HRESULT: 0x80073D54)```

[2018-06-05 15:57] SamvelS commented on #38
Issue is there for 2.1 release version as well.
One more SO question : https://stackoverflow.com/questions/50702303/cant-cancel-task-in-asp-net-core-action

[2018-06-19 21:51] jusefb commented on #156
Just in case somebody else stumbles across this issue, just removing the aspNetCore handler did not work for me. What worked is to disable inheritance for the `<system.webServer>`  section by adding the `<location path="." inheritInChildApplications="false">`. to the parent web.config element

[code]

hope this helps.

[2018-06-28 12:09] TermanEmil commented on #166
it still doesn't work for me

[2018-06-28 18:00] shirhatti commented on #16
I'm closing this issue since the consensus we reached was to disable compression for the text/event-stream MIME type as part of the ANCM installer. This was resolved by PR 123339 in VSTS

[2018-06-28 18:00] #16 closed

[2018-06-28 18:01] shirhatti commented on #178
Closing as this issue is now stale

[2018-06-28 18:01] #178 closed, assigned to nobody

[2018-06-28 18:02] shirhatti commented on #24
Tracked in IISIntegration. Closing this issue

[2018-06-28 18:02] #24 closed, assigned to nobody

[2018-06-28 18:26] shirhatti commented on #160
If I'm not mistaken. This has already been resolved.
@jkotalik Feel free to re-open if that weren't the case.

[2018-06-28 18:26] #160 closed, assigned to nobody

[2018-06-28 18:28] shirhatti commented on #161
Resolved by https://github.com/aspnet/IISIntegration/pull/763

[2018-06-28 18:28] #161 closed, assigned to nobody

[2018-06-28 18:29] shirhatti commented on #162
This issue was moved to aspnet/IISIntegration#990

[2018-06-28 18:29] #162 closed, assigned to nobody

[2018-06-28 18:32] #164 closed, assigned to nobody

[2018-06-28 18:35] shirhatti commented on #165
Closing as the OP's issue was resolved.

Additionally, we will have nightly server hosting bundle builds with prodcon available shortly

[2018-06-28 18:35] #165 closed, assigned to nobody

[2018-07-05 07:34] winfredchen commented on #87
I am experiencing this issue.
Local (Win10) VS(2017) debug: ok
Local IIS : ok
Server (Server 2016): dotnet run with code: ok
Server (Server 2016): publish - very slow, even the default /api/Values action take 10 seconds. ( I have tried publish debug/release mode; host in iis and use cmd: dotnet xxx.api.dll )

[2018-07-06 00:05] cdavernas commented on #87
I dont know if your issues are related to that, but I found that some logging settings can and will absolutely screw with app performances. I just faced that issue by having multiple appsettings files, with my production one not setting the logging "System" filter to "None". Setting it back to "None" improved performances by 25x

[2018-07-11 08:47] yidane commented on #166
me too

[2018-07-11 13:04] sepehr1014 commented on #166
@TermanEmil @yidane I think it won't work until ANCMv2 is released ...

[2018-07-18 03:16] yidane commented on #166
@sepehr1014 I will confirm that. I have changed my project to [windows service of netcore](https://github.com/PeterKottas/DotNetCore.WindowsService),so that I can manage all  exit events.

[2018-07-26 20:53] carlowahlstedt commented on #150
The removal of the handler is what allowed me to run two asp.net core sites where one is a sub application of the other.

[2018-07-26 20:57] shirhatti commented on #150
We've made a fix in the websdk that solves this problem. See https://github.com/aspnet/websdk/pull/377

You may need to upgrade you dotnet sdk if you aren't seeing this new publish behavior

[2018-07-26 20:57] #150 closed, assigned to nobody

[2018-07-27 02:00] carlowahlstedt commented on #150
@shirhatti thanks, do you happen to know what version? I'm currently running 2.1.0 and I think 2.1.2 is current?

[2018-07-27 17:15] shirhatti commented on #150
@vijayrkn Can you comment on which release the change is in?

[2018-07-27 17:37] vijayrkn commented on #150
Stable CLI containing the fix is not released yet.

You can try the preview version of the cli containing the fix from here - https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.1.4xx/dotnet-sdk-latest-win-x64.exe

[2018-07-30 13:50] jbeanky commented on #55
Is there a workaround for this issue that still allows dynamic compression to be enabled while hosting in IIS? Thanks in advance.

[2018-08-02 16:17] ArtemAvramenko commented on #163
Will the problem be resolved if I switch to some other reverse proxy than UrlRewrite module?

[2018-08-24 20:17] ti82 commented on #38
Supposing this gets fixed in an upcoming release, because it is in the ANCM, will sites that use the RequestAborted token hosted in an Azure App Service automatically start working after IIS is updated?

[2018-08-25 14:00] jkotas opened #320 "Asp.Net MVC application will not run on IIS"
_From @ZackTech on August 25, 2018 8:2_

I have a Asp.Net MVC application that will not run in IIS, I just get HTTP 500 Server error. I don't get any log files suggesting what the error is, but the event viewer says:
Application 'MACHINE/WEBROOT/APPHOST/CRMWEBSITE.COM' started process '16904' successfully and is listening on port '13854'.

If I open a command prompt and cd to the Web Site folder a

[2018-08-25 14:00] jkotas commented on #320
_From @benaadams on August 25, 2018 12:37_

Might be a path issue? Try changing webconfig to specify the `dotnet` path, e.g.

Change
[code]
To
[code]
Though here are the trouble shooting https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-iis-errors-reference?view=aspnetcore-2.1

[2018-08-26 10:27] ZackTech commented on #320
I finally got it to generate a log file and found that I had to give IIS_IUSRS full control to
C:\WINDOWS\system32\config\systemprofile\AppData\Local\ASP.NET\DataProtection-Keys
Earlier I had to give IIS_IUSRS Read/Write access to C:\WINDOWS\system32\config\systemprofile
Now the web site is working. Wasted a LOT of hours on this!!
Seems odd, and this has only just started happening.

Log file is a

[2018-08-27 15:40] jkotalik commented on #320
@ZackTech glad you figured out the issue. We are working on improving diagnostics for the 2.2 timeframe for ANCM. For now though, if you can't figure out why you site is starting, turn on stdoutLogging and diagnose like you did.

Closing, feel free to reopen if you have more issues.

[2018-08-27 15:40] #320 closed, assigned to nobody

[2018-09-01 01:03] bangbingsyb commented on #65
Update is here: https://github.com/MicrosoftDocs/iis-docs/pull/201
Let me know if it is not sufficiently clear.

[2018-09-18 10:44] dombarnes commented on #278
@shirhatti I can see some new information has been provided on this issue in February. Is there any chance this will be looked at again? It seems like this is a fairly common issue with high traffic sites.

[2018-09-18 19:30] KamelJabber commented on #87
I couldn't tell you if I have the exact same scenario here, however, if it helps anyone.

I was getting very bad performance running in a Windows Server 2008.

I moved to Windows Server 2012 and it started flying!

I got the idea from someone above or a different thread, either way, it's very fast under 2012

[2018-09-28 12:38] nenadvicentic commented on #38
Will this issue be fixed for final 2.2 release?

[2018-10-07 19:48] Joebeazelman commented on #51
Sorry, but this answer is unacceptable.  The documentation specifically states that it supports Window 7, 2008 R2:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/aspnet-core-module?view=aspnetcore-2.1

Yesterday, the dotnet.exe used so much RAM, it caused my entire server to become unresponsive, forcing me to cold reboot the server through my ISP.  Is there a workaround for thi

[2018-10-08 18:04] jhkimnew commented on #51
@Joebeazelman This repo is not used anymore. Please use
https://github.com/aspnet/IISIntegration/issues instead to report an issue on ANCM.

Please notice that aspnetcore.dll is used by w3wp.exe, not by dotnet.exe. So, memory usage of dotnet.exe is not caused by aspnetcore.dll.
Anyway, if your symptom is related to memory leak issue, you would need to narrow down the issue first to see which DLL i

[2018-10-19 18:45] guardrex commented on #123
@Tratcher Quick ? ...

I understand (and we've documented) that you can disable the handler for a sub-app, but can u clarify for a **_vdir_** based on pan-wang's comment ...

https://github.com/aspnet/IISIntegration/issues/110#issuecomment-204014231

Did he mean to say "sub-dir" and not "vdir" there? It's come up on another doc issue dealing with Swagger endpoints hosted under the root domain.

[2018-10-22 15:02] Tratcher commented on #123
Yes, he should have said sup app, vdirs do not honor web.config. People often use the terms vdir and sub app interchangeable, but for ANCM the difference is important.

[2018-10-24 14:37] freshe commented on #86
Hm, this is pretty bad. I just had an app not starting because of this.

[2018-10-30 16:45] MrSkiv commented on #48
I have similar problem. In production we have 10-20 requests per second. All are with pretty big post message in body: from 10kB to 500kB. (These messages is saved to disk without almost any processing) Pretty often we get timeout, also worth mention that client, which posts messages time outs after 5 seconds. In most cases its not a problem, but from time to time there is too much requests timeou

[2018-10-30 17:29] Thomasrnunez commented on #142
I've tried all the possible solutions that helped others from this forum post but nothing worked for me.
If you do all of the above and still see the same issue then open a command prompt window and navigate to your project and run "dotnet ". If you see an error like the one shown in this link: https://helpx.adobe.com/download-install/kb/error_on_launch.html

Then go to this link : https://support

[2018-11-13 12:28] skashif commented on #87
I am facing a similar issue where the content-download time is degrading the performance. My issue is that when I access the sites on one of the VMs (irrespective of whether I am running it on the deployed server(VM) or not) I am getting the API response performance as below,

![image](https://user-images.githubusercontent.com/23385818/48412416-92c90f80-e76a-11e8-989c-1efe5687ef0c.png)

On another

[2018-11-13 17:16] jkotalik commented on #87
Few things to try:

- This sounds like an application issue (as two servers both showed the same issue), but what performance do you see using Kestrel standalone? If the performance is bad there, then it's most likely an application error as we see json responses with significantly lower latency.
- How are you writing the response? If you are accessing a database to get json data, be careful with

[2018-11-14 08:58] skashif commented on #87
@jkotalik - Thank you for your reply on my issue. Below are the replies with respect to the pointers in your comment,

- I will share the result of Kestrel standalone performance in the next comment
- Under the hood my API is fetching a response from a Redis Server which returns a JSON serialized array of strongly typed object, so I am returning JSON(18K+ rows). Also, we do not have to worry about

[2018-11-25 17:49] AmrTealeb commented on #142
This error might occur due to invalid json in your appsettings.json file

[2018-11-26 16:49] jkotalik commented on #87
@skashif did you manage to get the performance of standalone Kestrel?

[2018-11-30 17:40] JesperTreetop commented on #38
One more vote in favor of fixing this. There's no point in having RequestAborted if it's not dependable, and this affects both "hitting F5 in Visual Studio [IIS Express]" as well as "hosting the app where Microsoft would rather I host it [Azure App Service]".

[2018-12-09 09:11] YUxiangLuo commented on #136
**Thank you, this question wasted my day.**

[2018-12-18 14:33] joshmouch opened #322 "App Insights data inaccurate when running out-of-process"
We've noticed that when running App Insights on an ASP.Net core site in out-of-process, self-contained mode, a few of the Azure metrics and App Insight statistics are not measured.  For example, here is some data from the App Insights Analytics tool, which is wrong.  It shows 0 for every value.  If I watch the "Live Metrics Stream" from the same time period, you can see a lot of requests coming th

[2018-12-18 16:42] muratg commented on #322
@joshmouch Does it work with using the installed framework instead of self-contained? (In case you tested this combination too.)

@pakrym any ideas?

[2018-12-18 16:51] pakrym commented on #322
App insights hosting startup will not work for self-contained. This might be the reason.

[2018-12-19 18:43] joshmouch commented on #322
@pakrym  I may off on the self-contained part.  I'm compiling/publishing using .Net 4.7.2, not .Net Core.  Does Self-contained vs. framework-dependent apply in that situation?  If not then that's not the the reason.

[2018-12-19 18:56] pakrym commented on #322
I'm not sure how AI activation for ASP.NET Core works in .net 472

cc @clguimanMSFT

[2018-12-19 20:19] clguiman commented on #322
Actually this is also a self-contained app, the output of it is an exe that brings in all dependencies. It's not supported.
Maybe it's time for ASPNetCore.Hosting to detect when it's running in a self-contained app and not load the HostingStartup assemblies.

[2018-12-20 00:39] ryanski44 commented on #78
@JunTaoLuo, Why was this ticket closed? It sounds like you isolated the issue to the Asp.NET Core Module.

[2018-12-20 00:40] ryanski44 commented on #78
@JunTaoLuo, Nevermind, it seems this project was integrated to the mainline AspNetCore repo.

[2018-12-28 12:23] ruchikaparikh commented on #142
Please do as per https://github.com/aspnet/IISIntegration/issues/616#issuecomment-409182438.
This solution works for me.

[2019-01-03 09:42] eric-b commented on #48
I encountered the same issue with timeout leading to an http 502.3 error.
I have not yet found the cause of the issue but I found [this blog post (Logging for ASP.net CORE applications when you receive 502.3 and 500 status codes)](https://blogs.msdn.microsoft.com/friis/2018/02/07/logging-for-asp-net-core-applications-when-you-receive-502-3-and-500-status-codes/) enlightening. It explains why a 502

[2019-01-03 11:17] nileshpore commented on #189
I am also facing  same issue..any update on this?

[2019-01-08 20:09] facundofarias commented on #272
Still happening to me. Any ideas?

[2019-01-24 15:14] sdecker commented on #183
This is a MUST to be able to service .Net Core properly with embedding the runtime.

[2019-01-24 15:42] guardrex commented on #183
@sdecker See if the switches on the hosting bundle installer meet your needs :point_right: https://docs.microsoft.com/aspnet/core/host-and-deploy/iis#install-the-hosting-bundle

[2019-01-24 16:14] sdecker commented on #183
Interesting. Is that a recent documentation update? We had not found that on our previous research. One concern is that the bundle still increments with each .Net Core release even though the IIS hosting code rarely changes.

[2019-01-24 16:34] guardrex commented on #183
It was October 9 on https://github.com/aspnet/Docs/pull/8945.

Don't follow you there ... explain your concern in more detail.

[2019-01-24 16:44] sdecker commented on #183
When a new HostingBundle is released, how do we know if the hosting module has actually updated without looking at the GitHub repo?

[2019-01-24 16:47] sdecker commented on #183
Here's our real problem in a nutshell. All new versions including revision level (not just minor and major) install side-by-side. This means everytime we upgrade the runtime it leaves old versions. Vulnerability scanners find the old versions and flag them when they contained vulnerabilities. So even though we pushed the latest version of the runtime, we now need a convoluted uninstall all old ver

[2019-01-25 20:35] Tratcher commented on #183
@shirhatti can you follow up here?

Note https://github.com/aspnet/AspNetCoreModule/releases is obsolete.

[2019-01-25 20:36] guardrex commented on #183
Sorry ... didn't see the "this repo is archived" message so I assumed it was still a thing.

Although ... :eyes: ...

I should've looked at **_the date_**.

I see it now ... https://github.com/aspnet/AspNetCore/tree/master/src/Servers/IIS

[2019-01-25 20:58] shirhatti commented on #183
@sdecker

The .NET Core download page has ASP.NET Core Module versions for every release. See this as an example- https://dotnet.microsoft.com/download/dotnet-core/2.2

You can install just ANCM by specifying appropriate command line switches to the hosting bundle to skip installing the shared runtimes. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#insta

[2019-01-25 21:03] guardrex commented on #183
@shirhatti ... but there's no explicit list of enhancements and bug fixes for ANCM each release? The recommendation is to always to install the latest released ANCM, correct? I think we might want to say that because we don't remark on this currently.

[2019-01-25 21:07] shirhatti commented on #183
Install the ANCM carried the by hosting bundle of the highest runtime you are targeting.

For example, if you are targeting both 2.2.x and 3.x, installing the ANCM in 3.x hosting bundle should suffice.
That being said, you're free to install both. The newest one will win.

[2019-01-25 21:27] guardrex commented on #183
... yes, but is that explicit enough for doc text given devs don't "target" patch releases? ... Patches (e.g., 2.2.1) might include ANCM perf+bug fixes. For example, `netcoreapp2.2` in the app rolls forward to 2.2.1 locally. If they adopt SCD without running the 2.2.1 hosting bundle installer on the host, they'll have the 2.2.0 ANCM on the host with a 2.2.1 SCD deployed app. Safe guidance that app

[2019-02-19 22:17] hanwesh commented on #182
So how we go with this issue? Is it a bit of fundamental feature to fix? Thanks

[2019-03-07 07:38] Danielku15 commented on #38
Another vote from my side. I was really surprised that such an essential behavior is not working. The whole cancellation chain within an application becomes irrelevant without somebody initiating a cancel. ~~IIS+Kestrel is supposed to be the recommended setup for productive environments as direct IIS hosting is not officially supported out of the box (only via Owin hacks).~~ HttpSys is okay, it is

[2019-03-07 13:39] ti82 commented on #38
As of .NET Core 2.2 this is not true. Here's [a link](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/index?view=aspnetcore-2.2&tabs=windows#in-process-hosting-model)

[2019-03-07 14:16] Danielku15 commented on #38
@ti82 You are right, looks like my statement was based on outdated information. Sorry about that. I striked-out this statement in my previous post. Nevertheless I think it does not change the problem that the ANCM does not report a aborted/closed connection further. I am working on a fresh ASP.net core 2.2 project with the AspNetCoreHostingModel set to InProcess and was suffering of this issue. Th

[2019-03-22 10:11] coleman-c commented on #166
I'm using net core 2.2 & ANCMv2 hosting InProcess.

This appears to mostly work in IIS, however I don't receive the Stopping & Stopped events unless a request has arrived via http(s).  This is an issues becuase, with the exception of the health checks there are no http endpoints and IIS is simply the process host for a worker style service.

I'm using the Application Initialization module with Alw

[2019-03-24 21:15] s-krawczyk opened #348 "When Request.Body has to be read? if not 502.3 is returned"
I have a strange behavior on IIS that is hosting Kestrel ASPNetCore app. I am sending body that is multipart with file of size around 150MB. In controller code we decide by accesing headers if body should be processed or not. There are situations in which we are not reading request body but returning specific status code. In FREB logs I see that IIS returns 502.3 and it really comes. But in .NET C

[2019-03-24 21:17] Tratcher commented on #348
@anurse please transfer to AspNetCore.

[2019-03-29 14:35] spottedmahn commented on #48
Encountered this today, feel the same way as @brgrz, 502.3 is miss leading.

Is there another GitHub issue that I/we can track for switching from 502.3 to 504?  Is this change going to happen? Thanks! @jkotalik

[2019-04-05 18:14] shapeh commented on #55
I too have problems with this.

I have narrowed it down to model data containing the quote character `"` (and possible others). E.g. I have a field called `Title` and when it contains the quote character dynamic compression will return chunked encoding.

If I replace quote character `"` with `&quot;` then there is no problem.
My razor code has something like this:

**Works - correct encoding retur

[2019-04-05 18:16] jkotalik commented on #55
@anurse let's move this to the ASP.NET Core repo.

[2019-04-11 16:21] hugepanda commented on #48
I also encountered the same issue when a call to controller is time-consuming. I tried @gezzahead method by adding the time limit in Kestrel, but it still shows the same 502.3 error. I also tried to increase the time limit in IIS to 180 seconds, no result. Can anyone help please?

[2019-05-01 03:50] jacobmorehouse commented on #186
Confirming, I experienced the same exact problem and error codes, and the solution of converting to an application worked for me as well (thank you).

[2019-06-19 15:43] mockjv commented on #183
Just to throw in my 2-cents, based on experiences we've had with trying to handle bundling for our installers, is that a standalone installer would be appreciated

Initially, we'd started with simply including the hosting bundle with our WIX bundle paired up with the overall .NET Core/ASP.NET Core Framework we were targeting (latest version of course).

That said, we're now facing the same issue d